<main class="mt-5">
    <section>
        <div class="container">
            <div class="row mt-4 p-3">
                <div class="mt-2">
                </div>
            </div>
            <hr>
        </div>

        <div class="container">

            <div class="row mt-4">
                <div class="card w-100 mb-3">
                    <!-- <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-3 col-sm-3 text-center">
                                <img src="../../assets/avatar2.png" class="margin-right:9px;profile-img" style="border-radius: 50%;" alt="">
                            </div>
                            <div class="col-md-7 col-7 col-sm-7 text-left">

                                <h6 class="expertfont" style="font-size: 1.1rem;">
                                    Expert Expert
                                </h6>
                                <p class="text-muted expertfont2">15 years of experience</p>
                                <p>
                                    <img src="../../assets/location.png" width="15" alt="" style="opacity: 0.8;">
                                    <span class="text-muted">&nbsp; Delhi </span>
                                </p>

                                <div class="mt-2">
                                    











                                    <button type="button" class="btn btn-primary contact" data-toggle="modal" data-target="#exampleModal">Contact</button>

                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" style="margin-top: 5rem;">
                                            <div class="modal-content" style="background-color: #E5E5E5;">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="text-center d-block">
                                                        <h3 style="color: #950F96;" class="font-weight-bold">Find Your Ideal Expert!</h3>
                                                        <h6>To Raise a Requirement Please Provide the Following Details</h6>
                                                        <div class="  d-flex flex-column justify-content-center" style="margin-top: 3rem; margin-right: 2.2rem; margin-left: 2.2rem;">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="" id="" placeholder="Full Name">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="" id="" placeholder="Mobile Number">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="email" class="form-control" name="" id="" placeholder="Email Address">
                                                            </div>

                                                            <div class="mt-3 mb-3 text-left">
                                                                <h5 style="color:#920693">I'm looking for:</h5>

                                                                <h6 style="color:#920693">(for eg: private consultation,corporate event, school event, etc)</h6>
                                                            </div>

                                                            <div class="form-group">
                                                                <textarea name="" class="form-control" id="" cols="20" rows="7"></textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="submit" value="Submit" class="contact" style="background-color:#920693;color:#fff">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
































































































                                </div>
                            </div>
                            <div class="col-md-2 col-2 col-sm-2 text-right">
                                <div class="text-md-right text-sm-right text-lg-center">
                                    <p class="datee">
                                        <i class="fa fa-star fa-1x"></i><br>
                                        <span class="rate">4.2/5</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3  text-center col-3">
                                <img [src]="expert.image" class="profile-img" style="margin-right:9px;" alt="">
                            </div>
                            <div class="col-md-7 text-left col-7">

                                <h6 class="expertfont" style="margin-bottom: 0px;">
                                    {{expert.firstName}} {{expert.lastName}}
                                </h6>
                                <p class="text-muted expertfont2" style="margin-bottom: 0px;">
                                    {{expert.experience}}
                                </p>
                                <p style="margin-bottom: 0px;">

                                    <img src="../../assets/location.png" width="12" alt="" style="opacity: 0.8;">
                                      <span class="text-muted expertfont2">&nbsp; {{expert?.address1.city}} </span>
                                </p>

                                <div class="mt-2">

                                    <button type="button" class="btn btn-primary contact"
                                        (click)="contact()">Contact</button>

                                </div>
                                <!--<div class="mt-2">
    <button type="button" class="btn btn-primary contact" data-toggle="modal" data-target="#exampleModal">Contact</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="margin-top: 5rem;">
            <div class="modal-content" style="background-color: #E5E5E5;">
                <div class="modal-header">
                    <button #close1 type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center d-block">
                        <h3 style="color: #950F96;" class="font-weight-bold">Find Your Ideal Expert!</h3>
                        <h6>To Raise a Requirement Please Provide the Following Details</h6>
                        <form 
                        [formGroup]="contactForm" (ngSubmit)="contact()"
                        class=" d-flex flex-column justify-content-center" style="margin-top: 3rem; margin-right: 2.2rem; margin-left: 2.2rem;">
                            <div class="form-group">
                                <input formControlName="name" type="text" class="form-control" name="" id="" placeholder="Full Name">
                            </div>
                            <div class="form-group">
                                <input formControlName="mobile"  type="text" class="form-control" name="" id="" placeholder="Mobile Number">
                            </div>
                            <div class="form-group">
                                <input formControlName="email"  type="email" class="form-control" name="" id="" placeholder="Email Address">
                            </div>

                            <div class="mt-3 mb-3 text-left">
                                <h5 style="color:#920693">I'm looking for:</h5>

                                <h6 style="color:#920693">(for eg: private consultation,corporate event, school event, etc)</h6>
                            </div>

                            <div class="form-group">
                                <textarea formControlName="message"  name="" class="form-control" id="" cols="20" rows="7"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Submit" class="contact" style="background-color:#920693;color:#fff">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
                            </div>
                            <div class="col-md-2 col-2 text-right">
                                <div class="text-md-right text-sm-right text-lg-center">
                                    <p class="datee">
                                        <i class="fa fa-star fa-1x mt-2"
                                            style="font-size: 1.1em;margin-left: 10px;"></i><br>
                                        <span>{{expert?.rating}}/5</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="container mt-3 p-3 mb-3 bg-light mr-1 ml-1">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#profile">Profile</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#ach">Achievements</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#reviews">Reviews</a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#webinars">Webinars</a>
                        </li>-->
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content ">
                        <div id="profile" class="container tab-pane active"><br>
                            <div>
                                <h6 class="font-weight-bold">Overview</h6>
                            </div>
                            <div class="row w-100 text-sm-center text-md-center text-center">
                                <div class="col-md-4 extraspace col-12 col-sm-7">
                                    <p id="inttro" style="text-align: justify;">
                                        {{expert?.description}}
                                    </p>
                                </div>
                                <div class="col-md-1  text-sm-center">

                                </div>
                                <div
                                    class="col-md-6 col-12 extraspace text-center text-sm-center text-md-center col-sm-4">


                                    <video *ngIf="expert.introVideo" width="320" height="240" controls controlsList="nodownload">
                                        <source [src]="expert.introVideo" type="video/mp4">
                                    </video>

                                </div>
                            </div>
                            <hr>
                            <div>
                                <div>
                                    <h6 class="font-weight-bold">
                                        Language
                                    </h6>
                                    <p class="lead" style="font-size: 15px;">
                                        <i class="fa fa-language"></i>&nbsp; Speaks {{expert.languages}}
                                    </p>
                                </div>

                            </div>
                            <hr>
                            <div>
                                <div>
                                    <h6 class="font-weight-bold">
                                        Education
                                    </h6>
                                    <p class="lead" style="font-size: 15px;">
                                        <i class="fa fa-graduation-cap"></i>&nbsp;
                                        {{expert.education}}
                                    </p>
                                </div>

                            </div>


                            <hr>

                            <div>
                                <div>
                                    <h6 class="font-weight-bold">
                                        Verified Information
                                    </h6>
                                    <div class="">
                                        <i class="fa fa-check-circle mr-1" style="    color: #950F96;"></i>
                                        <p class="badge badge-pill mr-1 badge-secondary verified-text"
                                            style="background-color: rgba(0, 0, 0, .1);color: black;">ID verified</p>
                                        <p class="badge badge-pill mr-1 badge-secondary verified-text"
                                            style="background-color: rgba(0, 0, 0, .1);color: black;">Email verified</p>
                                        <p *ngIf="expert.isNumberValid"
                                            class="badge badge-pill mr-1 badge-secondary verified-text"
                                            style="background-color: rgba(0, 0, 0, .1);color: black;">Phone verified</p>

                                    </div>

                                </div>

                            </div>


                        </div>

                        <div id="ach" class="container tab-pane fade" style="margin-left: 16px;"><br>
                            <div class="row">
                                <a class="col-xs-1 col-sm-4 col-md-3 col-lg-3" *ngFor="let image of expert.gallery"
                                    [href]="image.url" target="_blank">
                                    <img [src]="image.url" class="achviments"
                                        style="height: 150px;width: 150px;margin-left:10px;margin-bottom:5px;">
                                </a>
                            </div>
                        </div>










                        <div id="reviews" class="container tab-pane fade"><br>
                            <div>
                                <h3>User ratings</h3>
                            </div>
                            <div class=" row m-3 p-3 " style="background-color:#e7e7de ;">
                                <div class="col-md-3 text-center font-weight-bold rate-text"
                                    style="margin-top: 1.5rem!important;">
                                    <h3 class="rate-nmbr font-weight-bold">{{expert?.rating}}</h3>
                                    <p class="text-center">Out of 5</p>
                                </div>
                                <div class="col-md-7">
                                    <div class="d-flex flex-column">
                                        <div class="m-1">
                                            <div class="progress">
                                                <div class="progress-bar" style="background-color: #950F96;"
                                                    [style.width]="reviews[5] + '%'">5 stars</div>
                                            </div>
                                        </div>
                                        <div class="m-1">
                                            <div class="progress">
                                                <div class="progress-bar" style="background-color: #950F96"
                                                    [style.width]="reviews[4] + '%'">4 stars</div>
                                            </div>
                                        </div>
                                        <div class="m-1">
                                            <div class="progress">
                                                <div class="progress-bar" style="background-color: #950F96"
                                                    [style.width]="reviews[3] + '%'">3 stars</div>
                                            </div>
                                        </div>
                                        <div class="m-1">
                                            <div class="progress">
                                                <div class="progress-bar" style="background-color: #950F96"
                                                    [style.width]="reviews[2] + '%'">2 stars</div>
                                            </div>
                                        </div>

                                        <div class="m-1">
                                            <div class="progress">
                                                <div class="progress-bar" style="background-color: #950F96"
                                                    [style.width]="reviews[1] + '%'">1 star</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <h3>User Reviews</h3>
                                </div>
                                <hr>


                                <div class="d-flex flex-column" *ngFor="let review of expert.reviews">
                                    <div>
                                        <img src="../../assets/dummy.png" style="margin-right:9px;border-radius: 63px;"
                                            width="70" alt="">
                                        <span class="font-weight-bold username1">{{review.author?.username}}</span>
                                    </div>
                                    <div class="m-3">
                                        <i *ngFor="let r of [].constructor(review.rating)" class="fas fa-star"
                                            aria-hidden="true"></i>
                                    </div>
                                    <div>
                                        <p>
                                            {{review.text}}
                                        </p>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary rve-button" data-toggle="modal"
                                        data-target="#exampleModal2">Write a review</button>
                                    <div class="modal fade" id="exampleModal2" tabindex="-1"
                                        aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                        <div class="modal-dialog " style="margin-top: 5rem;">
                                            <div class="modal-content" style="background-color: #E5E5E5;">

                                                <div class="modal-body">

                                                    <button #close2 type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true"
                                                            style="    font-size: 28px;">&times;</span>
                                                    </button>
                                                    <div class="text-center d-block">
                                                        <h4 class="font-weight-bold">Write a Review</h4>
                                                        <form [formGroup]="ratingForm" (ngSubmit)="rate()">

                                                            <label *ngFor="let r of [1,2,3,4,5]"
                                                                (click)="changerate(r)">
                                                                <input type="radio" name="test" value="1">
                                                                <i
                                                                    [class]="(ratingForm.controls?.rating?.value >= r) ? 'fas fa-star':'far fa-star'"></i>
                                                            </label>

                                                            <div class="  d-flex flex-column justify-content-center"
                                                                style="margin-top: 1rem; margin-right: 1rem; margin-left: 1rem;">
                                                                <div class="form-group">
                                                                    <textarea formControlName="text" name=""
                                                                        class="form-control"
                                                                        placeholder="Write a review (optional)"
                                                                        style="height:268px" cols="20"
                                                                        rows="7"></textarea>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="submit" value="Submit" class="contact"
                                                                        style="background-color:#920693;color:#fff">
                                                                </div>
                                                            </div>
                                                        </form>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                        <!-- <div id="webinars" class="container tab-pane fade" style="min-height: 200px;"><br>

                            <h3>My webinars</h3>
                            <div [hidden] = "true"  class="card w-100 mb-3">
                                
                            </div>
                         
                         
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>