@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link .active {
    background-color: transparent;
}

.nav-link {
    color: black;
}

.nav-link {
    font-size: 28px;
}

@media screen and (max-width:475px) {
    .nav-link {
        font-size: 13px;
    }
}

@media screen and (max-width:475px) {
    .nav-link {
        font-size: 13px;
    }
}

@media screen and (min-width:476px) and (max-width:475px) {
    .nav-link {
        font-size: 22px
    }
}

.back-button {
    font-size: 20px;
    text-decoration: none;
    color: #000;
    margin-bottom: 5px;
}

.fa-arrow-left {
    color: #950F96;
    background-color: white;
    padding: 9px;
    border-radius: 57%;
}

.bg-grey {
    background-color: lightgray;
}

.fa-star {
    color: rgb(241, 183, 36)
}

.contact {
    background-color: #950F96;
    border: none;
    padding: 6px 20px 6px 21px;
    color: white;
    text-transform: uppercase;
}

.nav-link,
.nav-link.active {
    color: #950F96;
    font-family: 'Roboto', sans-serif;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 4px solid #950F96;
}

.fa-graduation-cap,
.fa-language,
.fa-phone,
.fa-envelope {
    color: #950F96;
}

.rve-button {
    background-color: #950F96;
    border: none;
    padding: 6px 20px 6px 21px;
    color: white;
    text-transform: uppercase;
}

.profile-img{
  width:120px;
height:120px;
border-radius:50%;
}

@media screen and (max-width:375px) {
    .profile-img {
        width: 150%;
        margin-top: 6px;
        border-radius: 50%;
    }
}

@media screen and (min-width:380px) and (max-width:767px) {
    .profile-img {
        width: 100%;
        margin-top: 6px;
        border-radius: 50%;
    }
}

@media screen and (min-width:350px) and (max-width:427px) {
    .rate {
        font-size: 10px;
    }
}

@media screen and (max-width:374px) {
    .nav-link {
        padding: 7px 0px;
        margin-right: 11px
    }
}

@media screen and (min-width:375px) and (max-width:427px) {
    .nav-link {
        padding: 7px 0px;
        margin-right: 9px
    }
}

@media screen and (min-width:350px) and (max-width:575px) {
    .contact {
        padding: 4px 8px;
        font-size: 12px;
    }
}

#videointro {
    width: 120%
}

@media screen and (min-width:350px) and (max-width:550px) {
    .about {
        font-size: 21px
    }
    #videointro {
        width: 309px;
        height: 218px;
    }
}

@media screen and (min-width:350px) and (max-width:575px) {
    #inttro {
        font-size: 15px;
    }
}

#inttro {
    border-top: 2px dashed #950F96;
    border-bottom: 2px dashed #950F96;
    padding: 5px;
    font-size: 15px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid rgba(0, 0, 0, .1);
}

@media screen and (min-width:576px) and (max-width:767px) {
    .extraspace {
        flex: none;
        max-width: none
    }
    h4 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.1rem;
    }
}

p {
    text-align: justify;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width:750px) {
    p {
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
    }
}

@media screen and (min-width:400px) and (max-width:575px) {
    h3 {
        font-size: 1rem
    }
    h4 {
        font-size: 1.2rem
    }
}

.achviments {
    width: 70%;
    padding-bottom: 10px;
}

.achviments2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-width:320px) and (max-width:555px) {
    .achviments2 {
        display: flex;
        margin-left: 46px;
        flex-direction: column;
        justify-content: space-between;
    }
    .achviments {
        width: 75%;
        margin-bottom: 7px;
    }
}

.ifrmaeVideo {
    width: 273px;
    height: 208px;
}

@media screen and (min-width:320px) and (max-width:330px) {
    .datee {
        font-size: 10px;
        font-family: 'Roboto', sans-serif;
    }
}

.rate {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width:320px) and (max-width:330px) {
    .rate {
        font-size: 8px;
        font-family: 'Roboto', sans-serif;
    }
}

@media screen and (min-width:381px) and (max-width:390px) {
    .rate {
        font-size: 8px;
        font-family: 'Roboto', sans-serif;
    }
}

.modal-dialog {
    margin-top: 1rem;
}

@media screen and (min-width:350px) and (max-width:428px) {
    .card-body {
        padding: 15px;
    }
}

@media screen and (min-width:642px) {
    .expertfont {
        /* border: 1px solid red; */
        font-size: 2rem
    }
}

.expertfont {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
}

.expertfont2 {
    font-size: 16px;
    font-family: 'Noto Sans TC', sans-serif;
}

p,
span {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

span {
    color: #950F96;
}

@media screen and (min-width:350px) and (max-width:428px) {
    span {
        font-size: 13px;
    }
}

@media screen and (min-width:350px) and (max-width:387px) {
    span {
        font-size: 12px;
    }
}

@media screen and (min-width:350px) and (max-width:362px) {
    .nav-link {
        font-size: 20px;
    }
}

@media screen and (min-width:362px) and (max-width:466px) {
    .nav-link {
        font-size: 15px;
    }
}

@media screen and (min-width:467px) and (max-width:555px) {
    .nav-link {
        font-size: 18px;
    }
}

@media screen and (min-width:556px) and (max-width:767px) {
    .nav-link {
        font-size: 20px;
    }
}


/*
@media screen and (min-width:551px) and (max-width:600px) {
    #videointro {
        width: 468px;
        height: 251px;
        margin-left: 18px;
    }
} */

@media screen and (min-width:350px) and (max-width:361px) {
    .nav-link {
        font-size: 14px;
    }
}

@media screen and (min-width:428px) and (max-width:444px) {
    .nav-link {
        font-size: 14px
    }
}

@media screen and (min-width:467px) and (max-width:499px) {
    .nav-link {
        font-size: 14px;
        /* padding: 0.5rem 1.5rem; */
    }
}


/*
@media screen and (min-width:350px) and (max-width:400px) {
    #videointro {
        width: 468px;
        height: 251px;
        margin-left: 18px;
        border: 1px solid red;
    }
} */

.progress-bar {
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 750px) {
    p {
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
    }
}


/* rating */


/* HIDE RADIO */

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}


/* IMAGE STYLES */

[type=radio]+.fa-star {
    cursor: pointer;
}

.fa-star {
    font-size: 17px;
}


/* CHECKED STYLES */

[type=radio]:checked+.fa-star {
    border: 1px solid red;
    content: '\2B50';
}


/* .rate-text {
    font-family: 'Staatliches', cursive;
} */

@media (min-width: 992px) {
    .rate-nmbr {
        font-size: 45px;
        font-weight: bold;
    }
}


/* new  */

@media screen and (min-width:320px) and (max-width:400px) {
    .expertfont2 {
        font-size: 13px
    }
    span {
        font-size: 9px;
    }
}

@media screen and (max-width:406px) {
    .verified-text {
        font-size: 12px
    }
}

.username1 {
    font-size: 15px
}

@media screen and (max-width:555px) {
    .rate-nmbr {
        font-size: 45px;
        /* font-family: 'Staatliches', cursive; */
        font-weight: bold;
    }
}

.webinarr1-text {
    padding-left: 35px;
}
