<main>
  <section class="heading">
    <div class="container">
      <div class="row justify-content-center">
        <h2 class="font-weight-bold">Careers</h2>
      </div>
    </div>
  </section>
</main>
