<!-- <section class="main-section">
     <div class="container">
        <h2 class="text-center">Webinars</h2>
        <div class="row">
            <div class="col-12 d-flex flex-wrap justify-content-around">
                <div class="card m-2" style="width: 20rem" *ngFor="let web of webinars">
                    <iframe [src]="getembedurl(web.webiurl)" frameborder="0" allowfullscreen style="height: 243px; width: auto">
                        </iframe>
                </div>
            </div>
        </div>
    </div>
</section> -->


<main class="homepage">
    <section class="banner-top">
        <img src="../../assets/webinarsbnr.png" class="d-block" style="object-fit: cover;width: 100%; " alt="">
    </section>




    <section class=" pt-3 pb-4">
        <div class="container d-flex flex-column">
            <div class=" d-flex justify-content-between  mb-1 mb-md-2 mb-sm-2">
                <div>
                    <h3 class="book-heading font-weight-bold">Upcoming Webinars</h3>
                </div>
            </div>
        </div>
        <div class="container d-flex flex-column">
        <div class="row">
          <div class="col-xs-1 col-sm-6 col-md-3 col-lg-3"
              *ngFor="let class of new_upcoming">
              <h5>{{class.title}}</h5>
              <img [src]="class.webiurl" class="achviments"
                  style="height: 150px;width: 250px;margin-right: 5px;margin-bottom: 8px;">

                  <button class="btn btn-primary mx-auto d-block" (click)="pay(class._id)" *ngIf="role">Register</button>
                  <button class="btn btn-primary mx-auto d-block"  *ngIf="!role"><app-webinarlogin></app-webinarlogin></button>
          </div>
      </div>
        </div>
           <!-- <div class="">
                <div id="multi-item-example2" class="carousel slide carousel-multi-item " data-ride="carousel">
                    <ol class="carousel-indicators last-indicators">
                        <li data-target="#multi-item-example2" data-slide-to="0" class="active"></li>
                        <li data-target="#multi-item-example2" data-slide-to="1"></li>
                        <li data-target="#multi-item-example2" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">


                        <ng-template ngFor let-classes [ngForOf]="upcoming" let-index="index">
                            <div [class] = "{'carousel-item': true , active: index == 0}">
                            <div class="d-flex align-content-center">
                                <a href="https://instagram.com/webicoun_india?igshid=st7ddh5y4lpd" target="_blank">
                                <div *ngFor= "let class of classes" class="col-md-4 mr-3 col-12 position-relative">
                                    <img [src]="class.url" style="width: 100%;" alt="">
                                </div>
                            </a>
                            </div>
                            </div>
                        </ng-template>

                    </div>
                    <div class="controls-top text-right mt-3">
                        <a class="btn-floating mr-3" href="#multi-item-example2" data-slide="prev">
                            <i class="fa fa-arrow-left p-2" style="color: white;background-color: blueviolet;border-radius: 4px;" aria-hidden="true"></i>
                        </a>
                        <a class="btn-floating" href="#multi-item-example2" data-slide="next">
                            <i class="fa fa-arrow-right p-2" aria-hidden="true" style="border-radius: 4px;color: white;background-color: blueviolet;"></i>
                        </a>
                    </div>
                </div>
            </div>-->


    </section>











    <section class=" pt-3 pb-4">
        <div class="container d-flex flex-column">
            <div class=" d-flex justify-content-between  mb-1 mb-md-2 mb-sm-2">
                <div>
                    <h3 class="book-heading font-weight-bold">Past Webinars</h3>
                </div>
                <div class="view-button">
                    <h3 class="book-heading" style="cursor: pointer;" routerLink="/past-webinars">View all
                        <i class="fa fa-angle-double-right ml-2" style="color: #951196;"></i>
                    </h3>

                </div>
            </div>
            <div class="">
                <div id="multi-item-example3" class="carousel slide carousel-multi-item " data-ride="carousel">
                    <ol class="carousel-indicators last-indicators">
                        <li data-target="#multi-item-example3" data-slide-to="0" class="active"></li>
                        <li data-target="#multi-item-example3" data-slide-to="1"></li>
                        <li data-target="#multi-item-example3" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">


                        <ng-template ngFor let-classes [ngForOf]="past" let-index="index">
                            <div [class] = "{'carousel-item': true , active: index == 0}">
                            <div class="d-flex align-content-center">
                                <div *ngFor= "let class of classes" class="col-md-4 mr-3 col-12 position-relative">
                                    <div className="embed-responsive embed-responsive-16by9">
                                        <iframe
                                            frameborder="0" allowfullscreen
                                            class="embed-responsive-item"
                                            [src]="class.url">
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </ng-template>

                    </div>
                    <div class="controls-top text-right mt-3">
                        <a class="btn-floating mr-3" href="#multi-item-example3" data-slide="prev">
                            <i class="fa fa-arrow-left p-2" style="color: white;background-color: #8F0090;border-radius: 4px;" aria-hidden="true"></i>
                        </a>
                        <a class="btn-floating" href="#multi-item-example3" data-slide="next">
                            <i class="fa fa-arrow-right p-2" aria-hidden="true" style="border-radius: 4px;color: white;background-color: #8F0090;"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>




    <!-- <section class="  pb-4">
        <div class="container d-flex flex-column">
            <div class=" d-flex justify-content-between m mb-1 mb-md-2 mb-sm-2">
                <div>
                    <h3 class="book-heading font-weight-bold">Past Webinars</h3>
                </div>
                <div class="view-button">
                    <h3 class="book-heading" routerLink="/past-webinars" style="cursor: pointer;">View all
                        <i class="fa fa-angle-double-right ml-2" style="color: #951196;"></i>
                    </h3>
                    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                        <div class="modal-dialog modal-lg" style="max-width: 926px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-bold" id="exampleModalLabel2">PAST CLASSES</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <div class="row d-flex flex-wrap flex-row justify-content-around">
                                            <div class="card mb-2 mr-1" style=" width: 25rem;border:2px solid rgba(0,0,0,.125)">
                                                <div class="card-body" style="padding: 20px 15px 20px 15px;">
                                            6       <h5 class="card-title">Personality Development</h5>
                                                    <p class="card-text lead" style="font-size:14px">
                                                        By Mr. Joseph Cook
                                                    </p>
                                                    <div class=" mt-3 d-flex flex-row flex-end justify-content-between">
                                                        <div>
                                                            <h6 style="font-size:14px">
                                                                15 December 2020
                                                            </h6>
                                                        </div>
                                                        <div>
                                                            <button class="btn btn-primary remind-button">
                                                                Remind Me
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card mb-2 mr-1" style=" width: 25rem;border:2px solid rgba(0,0,0,.125)">
                                                <div class="card-body" style="padding: 20px 15px 20px 15px;">
                                            6       <h5 class="card-title">Personality Development</h5>
                                                    <p class="card-text lead" style="font-size:14px">
                                                        By Mr. Joseph Cook
                                                    </p>
                                                    <div class=" mt-3 d-flex flex-row flex-end justify-content-between">
                                                        <div>
                                                            <h6 style="font-size:14px">
                                                                15 December 2020
                                                            </h6>
                                                        </div>
                                                        <div>
                                                            <button class="btn btn-primary remind-button">
                                                                Remind Me
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card mb-2 mr-1" style=" width: 25rem;border:2px solid rgba(0,0,0,.125)">
                                                <div class="card-body" style="padding: 20px 15px 20px 15px;">
                                            6       <h5 class="card-title">Personality Development</h5>
                                                    <p class="card-text lead" style="font-size:14px">
                                                        By Mr. Joseph Cook
                                                    </p>
                                                    <div class=" mt-3 d-flex flex-row flex-end justify-content-between">
                                                        <div>
                                                            <h6 style="font-size:14px">
                                                                15 December 2020
                                                            </h6>
                                                        </div>
                                                        <div>
                                                            <button class="btn btn-primary remind-button">
                                                                Remind Me
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card mb-2 mr-1" style=" width: 25rem;border:2px solid rgba(0,0,0,.125)">
                                                <div class="card-body" style="padding: 20px 15px 20px 15px;">
                                            6       <h5 class="card-title">Personality Development</h5>
                                                    <p class="card-text lead" style="font-size:14px">
                                                        By Mr. Joseph Cook
                                                    </p>
                                                    <div class=" mt-3 d-flex flex-row flex-end justify-content-between">
                                                        <div>
                                                            <h6 style="font-size:14px">
                                                                15 December 2020
                                                            </h6>
                                                        </div>
                                                        <div>
                                                            <button class="btn btn-primary remind-button">
                                                                Remind Me
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div id="multi-item-example2" class="carousel slide carousel-multi-item " data-ride="carousel">
                    <ol class="carousel-indicators last-indicators">
                        <li data-target="#multi-item-example2" data-slide-to="0" class="active"></li>
                        <li data-target="#multi-item-example2" data-slide-to="1"></li>
                        <li data-target="#multi-item-example2" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div id="media-carousel" class="carousel-item active">
                            <div class="d-flex align-content-center">
                                <div class="col-md-4 mr-3 col-12">
                                    <img src="../../assets/past-class1.png" style="width: 100%;" alt="">
                                </div>
                                <div class="col-md-4 mr-3 col-12">
                                    <img src="../../assets/past-class1.png" style="width: 100%;" alt="">
                                </div>
                                <div class="col-md-4 col-12">
                                    <img src="../../assets/past-class2.png" style="width: 100%;" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">

                            <div class="d-flex align-content-center">
                                <div class="col-md-4 mr-3 col-12">
                                    <img src="../../assets/past-class1.png" style="width: 100%;" alt="">
                                </div>
                                <div class="col-md-4 mr-3 col-12">
                                    <img src="../../assets/past-class1.png" style="width: 100%;" alt="">
                                </div>
                                <div class="col-md-4 col-12">
                                    <img src="../../assets/past-class2.png" style="width: 100%;" alt="">
                                </div>
                            </div>

                        </div>

                        <div class="carousel-item">

                            <div class="d-flex align-content-center">
                                <div class="col-md-4 mr-3 col-12">
                                    <img src="../../assets/past-class1.png" style="width: 100%;" alt="">
                                </div>
                                <div class="col-md-4 mr-3 col-12">
                                    <img src="../../assets/past-class1.png" style="width: 100%;" alt="">
                                </div>
                                <div class="col-md-4 col-12">
                                    <img src="../../assets/past-class2.png" style="width: 100%;" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="controls-top text-right mt-3">
                        <a class="btn-floating mr-3" href="#multi-item-example2" data-slide="prev">
                            <i class="fa fa-arrow-left p-2" style="color: white;background-color: blueviolet;border-radius: 4px;" aria-hidden="true"></i>
                        </a>
                        <a class="btn-floating" href="#multi-item-example2" data-slide="next">
                            <i class="fa fa-arrow-right p-2" aria-hidden="true" style="border-radius: 4px;color: white;background-color: blueviolet;"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>-->

</main>
