.main-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
    /* min-height: 150vh; */
}


/* 
.carousel-item {
    height: 200px;
    margin-bottom: 14rem;
}

.carousel-item img {
    height: 200px;
    object-fit: contain;
} */

@media screen and (max-width:450px) {
    .homepage .banner-top {
        max-height: 300px;
        /* min-height: 200px; */
    }
}


/* 
@media screen and (max-width:492px) {
    h3 {
        font-size: 22px;
    }
} */


/* 
#Cardd {
    width: 17rem;
    border: none;
} */


/* 
@media screen and (max-width:767px) {
    .card {
        /* border: 1px solid red; 
        width: auto;
        font-size: 15px;
    }
} */

.remind-button {
    background-color: #930B94;
    border: none
}

@media screen and (min-width:340px) and (max-width:575px) {
    h3 {
        font-size: 16px
    }
}

@media screen and (min-width:350px) and (max-width:374px) {
    .modal-dialog {
        margin-top: 5rem;
        margin-left: 1rem
    }
}

.btn-primary {
    padding: 4px 7px;
    bottom: 11px;
    right: 37px;
    font-size: 12px;
    background-color: #930B94;
    border: none;
}