<section class="co">
  <div class="container">
    <div class="row justify-content-center">
      <form
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit(registerForm.value)"
      >
        <div class="form-group">
          <label>Name of session</label>
          <input
            type="text"
            formControlName="sessionName"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.sessionName.errors }"
          />
          <div
            *ngIf="submitted && f.sessionName.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.sessionName.errors.required">*Required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Platform</label>
          <input
            type="text"
            formControlName="platform"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.platform.errors }"
          />
          <div *ngIf="submitted && f.platform.errors" class="invalid-feedback">
            <div *ngIf="f.platform.errors.required">*Required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Price</label>
          <input
            type="text"
            autocomplete="off"
            formControlName="price"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.price.errors }"
          />
          <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
            <div *ngIf="f.price.errors.required">price is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Number of sessions:</label>
          <input
            type="text"
            autocomplete="off"
            formControlName="sessions"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.sessions.errors }"
          />
          <div *ngIf="submitted && f.sessions.errors" class="invalid-feedback">
            <div *ngIf="f.sessions.errors.required">*Required</div>
          </div>
        </div>

        <div class="text-center">
          <button class="btn btn-primary mr-1">Register</button>
        </div>
        <!-- <div class="text-center ">
                    {{successMessage}}
                </div> -->
      </form>
    </div>
  </div>
</section>
