#joinlesson {
  margin: 50px auto;
  margin-top: 100px;
  text-align: center;
}
.center-block {
  margin: 5px 0px 0px 10px !important;
  width: 320px;
  height: 60px;
}
#videoCall {
  width: 90%;
  height: 200px;
  position: relative;
  border: solid 1px #000;
  margin: 64px auto 0px auto;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
#videoCall .remote-stream {
  width: 100%;
  height: 100%;
  background: rgba(3, 33, 52, 0.7);
  z-index: -1;
}
.remote-stream > div > video {
  margin-left: 50% !important;
}
#videoCall .controls {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 10px;
}
#videoCall .controls button {
  border: 0 none;
  padding: 10px 12px;
  border-radius: 50%;
  background-color: #f00;
}
#videoCall .controls button i {
  color: #f5f5f5;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box,
.chat-box {
  height: 400px;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
  height: 50px;
}

.player__button,
.player__slider,
.player__select {
  text-align-last: right;
  margin: 0 10px;
  padding: 5px;
  border: 0;
  background-color: transparent;
  color: #fff;
}
.player__button:focus,
.player__slider:focus,
.player__select:focus {
  outline: none;
}

.player__button {
  font-size: 20px;
  width: 25px;
  line-height: 1.6;
}

.player__select > option {
  background: rgba(255, 255, 255, 0.4);
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  z-index: 1;
}

.player {
  /* min-width: 750px; */
  position: relative;
  font-size: 0;
  margin: 5px 10%;
}

.player__video {
  width: 100%;
}

.player__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2147483647;
}

.player__controls--visible {
  transform: translateY(0);
}

.player__controls-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 10px;
  transition: height 0.3s;
  background: rgba(0, 0, 0, 0.5);
  cursor: ew-resize;
}

.progress__filled {
  width: 50%;
  background: #ffc600;
  flex: 0;
  flex-basis: 0%;
}

.player__playbackIcon::after {
  font-family: "FontAwesome";
  content: "\f04b";
}

.player__playbackIcon--paused::after {
  font-family: "FontAwesome";
  content: "\f04c";
}

.player__select {
  appearance: none;
}

.player__select > option {
  background-color: #000;
}

/* unholy css to style input type="range" */
