<section class="faq">
    <div class="container">
        <div class="row justify-content-center mt-5 mb-5">
            <h1 class="text-uppercase">Frequently asked questions</h1>
        </div>
        <div class="row">
            <div class="container">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  What is Webicoun India?
                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                Webicoun India is a health-tech Start-up focussed on Emotional, Mental and Physical Wellness of Students through Webinars, Counselling and Live Classes.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  What is Webicoun India about?
                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Webicoun India provides three main services. Webinars, Counselling and Live Classes. <br /><br />(1) Webinars: Webinars are provided for the self-improvement and wellness of the students. The webinars are on daily life
                                topics that can help you mentally, physically, psychologically, socially and personally. <br /><br />(2) Counselling: One-to-one counselling sessions are provided to anyone and everyone at any time according to your requirement
                                and till you doesn’t get solutions. We provide every kind of counselling services.<br /><br />(3) Live Classes: Live Classes are provided at our website. We’ll be providing the live sessions for four categories: <br />1)
                                Emotional Wellness <br /> 2) Personality Development<br /> 3) Dance And Fitness <br />4) Yoga And Meditation<br />
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  What are the categories on which Webicoun India works?
                </a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Webicoun India works in 8 different categories. They are:<br /><br /> (1) Motivation<br /> (2) Spiritual Wellness<br /> (3) Environmental Wellness<br /> (4) Emotional Wellness<br /> (5) Education<br /> (6) Personality Development<br
                                /> (7) Physical Wellness<br /> (8) Social Wellness<br />
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  Are the webinars free of cost?
                </a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                Yes!! Webinars are totally free of cost and easily accessible.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                  Are there any series of courses that provides complete support
                  and guidance?
                </a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                We do not provide any courses, but we provide Live Classes with complete support and guidance.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                  Why one should prefer Webicoun India?
                </a>
                            </h4>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse6">
                            <div class="panel-body">
                                You will get Free Unlimited Webinars by Experts, Great Counselling Sessions, and Affordable Live Classes. And if someone is facing any kind of problems one can directly take personalized sessions with Experts.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                  How can parents know students’ current status of stability of
                  mind?
                </a>
                            </h4>
                        </div>
                        <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                When the student would start behaving in a good manner and starts getting involved with friends and family, the parents would be able to know the current status of their kid’s mind.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                  Can students take Counselling Sessions in Parts?
                </a>
                            </h4>
                        </div>
                        <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse8">
                            <div class="panel-body">
                                Yes!! It is completely personalized and can be customized according to your requirements.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                  What are the cost and pricing of Live Classes?
                </a>
                            </h4>
                        </div>
                        <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Webicoun India provides Live Classes at a Nominal cost of 10-20 rupees per class.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading10">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                  How long would be the Counselling Sessions?
                </a>
                            </h4>
                        </div>
                        <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                            <div class="panel-body">
                                There is no time limit for the counselling sessions. You can continue taking them till you get solutions.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading11">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
                  Why should one trust Webicoun India?
                </a>
                            </h4>
                        </div>
                        <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
                            <div class="panel-body">
                                (1) We Respect Your Privacy: You can share anything and everything with us.<br /><br /> (2) We Will Understand You: We will listen to you and understand your feelings by the way of empathizing with your problems.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>