<header class="header position-relative " style="margin-top: 4.5rem!important;box-shadow: none;">
    <nav class="navbar fixed-top navbar-expand-lg">
        <a class="navbar-brand" [routerLink]="role == 'expert' ? ['/expertdashboard'] : ['/home']">
            <img class="img-fluid" src="assets/Webicoun-logo-BIGSIZE.png" width="100" alt="" data-target=".navbar-collapse.show" data-toggle="collapse" style="vertical-align: middle;border-style: none;"/>
        </a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" id="togglemenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto menu-items">
                <li [hidden]="role === 'expert'" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link text-uppercase text-white mr-4" href="#" routerLink="/">Home
                    <span class="sr-only">(current)</span>
                </a>
                </li>
              <!--  <li [hidden]="role === 'expert'" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a  href="javascript:;"  (click)="bookclass()" class="nav-link text-uppercase text-white mr-4" >
                        <i class="fa fa-circle Blink"></i>&nbsp;LIVE cLASSES
                    </a>
                </li>-->

                <li [hidden]="role === 'expert'" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle text-uppercase text-white mr-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Experts
                          <span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-xl" aria-labelledby="dropdownMenuButton">
                            <div class="row w-100">
                                <div class="col-md-6" *ngFor="let category of categories">
                                    <a class="dropdown-item" *ngFor="let c of category" (click)="changecategory(c.id)" href="javascript:;">
                                        {{c.text}}
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>

                <li [hidden]="role === 'expert'" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link text-uppercase text-white mr-4" href="#" routerLink="/blog">BLOGS
                    <span class="sr-only">(current)</span>
                </a>
                </li>


               

                <!--<li [hidden]="role === 'expert'" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link text-uppercase text-white mr-4" routerLink="/Webinarss">
                        Webinars
                    </a>
                </li>-->


                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="role === 'user'">
                    <!-- <a class="nav-link text-uppercase mr-4 text-white" routerLink="/studentdashboard">Dashboard</a> -->
                    <div class="dropdown">
                        <a class="nav-link text-uppercase mr-4 text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="https://img.icons8.com/ios-glyphs/30/000000/user-male-circle.png" class="img-fluid imgProfile" alt="">
                        </a>

                        <div class="dropdown-menu bg-white" style="color: #940B94;" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" routerLink="/studentdashboard">Dashboard</a>
                            <ng-template [ngIf]="userName" [ngIfElse]="template2">
                                <a class="dropdown-item  " id="mybtn " (click)="logout()" href="javascript:void(0)">
                                Log Out
                            </a>
                            </ng-template>

                        </div>
                    </div>
                </li>



                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item text-uppercase text-white" *ngIf="role === 'expert'">

                    <div class="dropdown">
                        <a class="nav-link text-uppercase mr-4 text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="https://img.icons8.com/ios-glyphs/30/000000/user-male-circle.png" class="img-fluid imgProfile" alt="">
                        </a>

                        <div class="dropdown-menu bg-white" style="color: #940B94;" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" routerLink="/expertdashboard">Dashboard</a>
                            <ng-template [ngIf]="userName" [ngIfElse]="template2">
                                <a class="dropdown-item  " id="mybtn " (click)="logout()" href="javascript:void(0)">
                                Log Out</a>
                            </ng-template>
                        </div>
                    </div>
                </li>


                <li class="nav-item text-uppercase text-white" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="!role">
                   <app-header-login></app-header-login>
                </li>

                 <li [hidden]="role === 'expert'" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" style="visibility:hidden;">
                    <a class="nav-link text-uppercase text-white mr-4" routerLink="/Webinarss">
                        Webinars
                    </a>
                </li>


            </ul>
        </div>
    </nav>
</header>
