/* footer */

.footer {
    background-color: #000;
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

.mb-lg-0 {
    margin-bottom: 0!important;
}

.w-md-100 {
    width: 100%!important;
}

.mt-md-0 {
    margin-top: 0!important;
}

.mb-3 {
    margin-bottom: 1rem!important;
}

.mt-6 {
    margin-top: 4rem!important;
}

.color-white {
    color: #fff!important;
}

.color-7 {
    color: #949494!important;
}

.heading-4 {
    font-weight: 400;
    font-size: 1.5625rem;
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 1.25rem;
}

.lh-3 {
    line-height: 1.3!important;
}

.mt-3 {
    margin-top: 1rem;
}

.mr-2 {
    margin-right: .5rem!important;
}

ul.bullet-none {
    list-style: none;
}

.pl-0 {
    padding-left: 0!important;
}

.fs-0 {
    font-size: 1rem!important;
}

.color-11 {
    color: #fafafa!important;
}

.mat-typography p {
    margin: 40px 0px 40px;
}

.color-6 {
    color: #7f7f7f!important;
    font-size: 18px;
}

.color-9 {
    color: #e1e1e1!important;
    letter-spacing: 2px;
}

p {
    text-align: justify;
}