

<footer class="footer">
   <div class="container">
      <div class="row">
         <div class="col-md-10 col-lg-7 mb-4 mb-lg-0 mb-5 mb-lg-0">
            <h4 class="color-white lh-3 heading-4">About Webicoun India</h4>
            <p class="color-7" style="font-size: 1rem">
               Webicoun is a health-tech organization focusing on Emotional, Mental and Physical wellness through Webinars and Counselling. We aim at solving any type of challenges/problems faced by an individual so that these problems do not accumulate and
               become a major problem in long run.
            </p>
            <a href="https://www.facebook.com/Webicounindia/" class="mr-3 mt-3" target="_blank">
            <img src="../../assets/facebook.png" style="width:50px" alt="">
            </a>
            <a href="https://instagram.com/webicoun_india?igshid=st7ddh5y4lpd" target="_blank" class="mr-3 mt-3">
            <img src="../../assets/insta.png" style="width:50px" alt="">
            </a>
            <a href="https://twitter.com/webicoun" target="_blank" class="mr-3 mt-3">
            <img src="../../assets/twitter.png" style="width:50px" alt="">
            </a>
            <a href="https://www.youtube.com/channel/UClDf3yqwPdvDl2f1uN9hI2g" target="_blank" class="mr-3 mt-3">
            <img src="../../assets/youtube.png" style="width:50px" alt="">
            </a>
         </div>
         <div class="w-md-100 d-lg-none"></div>
         <div class="col-md-auto col-lg-3 offset-lg-1">
            <div class="row mt-3">
               <div class="col-auto pr-5">
                  <h6 class="color-11 fs-0 mb-3">About</h6>
                  <ul class="bullet-none pl-0">
                     <li><a class="color-7" routerLink="/contactus">Contact Us</a></li>
                     <li class="mt-1">
                        <a class="color-7" routerLink="/blog">Blogs</a>
                     </li>
                     <li [hidden]="userName" class="mt-1">
                        <a class="color-7" routerLink="/expert-sign-in">Login As Expert</a>
                     </li>
                  </ul>
               </div>
               <div class="col-auto">
                  <h6 class="color-11 fs-0 mb-3">Account</h6>
                  <ul class="bullet-none pl-0">
                     <li class="mt-1"><a class="color-7" routerLink="/faq">FAQ</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="row mt-6">
         <div class="col">
            <span class="color-6">
            Webicoun India © 2020. All Rights Reserved
            </span><br>
            <a class="color-7 mx-3" routerLink="/booksection"><u>Terms & Conditions</u></a
               >
            <a class="color-7" routerLink="/policy"><u>Privacy Policy</u></a>
         </div>
      </div>
   </div>
</footer>

