.heading {
    margin-top: 5.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card-section {
    width: 20rem;
    /* margin: 20px 15px; */
    box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.2);
}

.card-section img {
    width: 100%;
    height: 200px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 36px));
    object-fit: cover;
}

.card-body h4 {
    margin: 0px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    color: #8f0090;
}

.card-body {
    padding: 0px 15px 20px 15px;
}

.card-body .border-line {
    border-bottom: 1px solid #8f0090;
    border-width: 3px;
    width: 70px;
    margin: 10px 0px;
}

.card-body .card-text {
    color: black;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
}

@media screen and (max-width: 420px) {
    h2 {
        font-size: 1.4rem;
        text-align: center;
    }
}

@media screen and (min-width: 421px) {
    h2 {
        text-align: center;
    }
}