<main>
    <section class="heading">
        <div class="container">
            <div class="row justify-content-center">
                <h2 class="font-weight-bold">Choose your package</h2>
            </div>
        </div>
    </section>
    <section class="choose-card">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-wrap justify-content-around mb-2">
                    <div class="card-section mb-2">
                        <img src="https://www.cxotoday.com/wp-content/uploads/2019/09/Payments-740x450.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h4 class="card-title text-uppercase">For 1 month</h4>
                            <div class="border-line"></div>
                            <p class="card-text">
                                <br />
                                <span class="font-weight-bold lead">299/- for 1 month</span>
                            </p>
                        </div>
                        <div class="m-3 text-center">
                            <button class="text-center btn btn-primary" (click)="pay('month')">
                Select
              </button>
                        </div>
                    </div>
                    <div class="card-section mb-2">
                        <img src="https://www.cxotoday.com/wp-content/uploads/2019/09/Payments-740x450.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h4 class="card-title text-uppercase">For 6 months</h4>
                            <div class="border-line"></div>
                            <p class="card-text">
                                <br />
                                <span class="font-weight-bold lead">1699/- for 6 months </span>
                            </p>
                        </div>
                        <div class="m-3 text-center">
                            <button (click)="pay('sixmonths')" class="text-center btn btn-primary">
                Select
              </button>
                        </div>
                    </div>

                    <div class="card-section mb-2">
                        <img src="https://www.cxotoday.com/wp-content/uploads/2019/09/Payments-740x450.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h4 class="card-title text-uppercase">For 12 months</h4>
                            <div class="border-line"></div>
                            <p class="card-text">
                                <br />
                                <span class="font-weight-bold lead">2999/- for 12 months </span>
                            </p>
                        </div>
                        <div class="m-3 text-center">
                            <button (click)="pay('year')" class="text-center btn btn-primary">
                Select
              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>