<!-- <div class="container" style="width: 50%; margin: 100px auto 50px">

    <h2 style="text-align: center">Enquiry Experts</h2>

    <form style="margin-top: 30px" [formGroup]="enquiryForm" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="textarea">Category</label>
            <div>
                <select [ngClass]="{ 'is-invalid': ef.cat.errors && submitted }" class="custom-select" formControlName="cat">
          <option value="">Select</option>
          <option value="Mental Wellness Coach">Mental Wellness Coach</option>
          <option value="Emotional Wellness Coach">Emotional Wellness Coach</option>
          <option value="Physical Wellness Trainer">Physical Wellness Trainer</option>
          <option value="Nutrionist/Health Expert">Nutrionist/Health Expert</option>
          <option value="Motivational Speaker">Motivational Speaker</option>
           <option value="Business Coach">Business Coach</option>
          <option value="Personality Developement Coach">Personality Developement Coach</option>
          <option value="Career Counsellor">Career Counsellor</option>
          <option value="Environmentalist">Environmentalist</option>
          <option value="Etiquitte Coach">Etiquette Coach</option>
          <option value="Spiritual Speakers">Spiritual Speakers</option>
          <option value="Happiness Coach">Happiness Coach</option>
        </select>
                <div *ngIf="submitted && ef.cat?.errors?.required" class="invalid-feedback">
                    <div>Category is required</div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label for="textarea">Message</label>
            <textarea [ngClass]="{ 'is-invalid': ef.message.errors && submitted }" formControlName="message" name="textarea" cols="40" rows="5" class="form-control"></textarea>
            <div *ngIf="submitted && ef.message?.errors?.required" class="invalid-feedback">
                <div>Message is required</div>
            </div>
        </div>
        <div class="form-group">
            <button name="submit" type="submit" class="btn btn-primary">
        Submit Enquiry
      </button>
        </div>
    </form>
</div> -->

<section class="py-0" id="forms-7">
    <div class="container">
        <div class="row justify-content-center align-items-center h-full py-8">
            <div class="col-md-8 col-lg-6 pr-lg-5 pr-xl-8 order-1 order-lg-0">
                <h1 class="fw-300" style="font-size: 2.05176rem">
                    Enquire with our <span class="fw-700">experts</span>
                </h1>
                <form style="margin-top: 30px" [formGroup]="enquiryForm" (ngSubmit)="submit()">
                    <!-- <div class="form-group">
                        <input class="form-control background-white" type="email" placeholder="Your Email">
                    </div> -->
                    <div class="form-group">
                        <label for="textarea">Category</label>
                        <div>
                            <select [ngClass]="{ 'is-invalid': ef.category.errors && submitted }" class="custom-select" formControlName="category">
                <option value="">Select</option>
                <option value="Mental Wellness Coach">
                  Mental Wellness Coach
                </option>
                <option value="Emotional Wellness Coach">
                  Emotional Wellness Coach
                </option>
                <option value="Physical Wellness Trainer">
                  Physical Wellness Trainer
                </option>
                <option value="Physical Fitness">Physical Fitness</option>
                <option value="Nutrionist/Health Expert">
                  Nutrionist/Health Expert
                </option>
                <option value="Motivational Speaker">
                  Motivational Speaker
                </option>
                <option value="Business Coach">Business Coach</option>
                <option value="Personality Developement Coach">
                  Personality Developement Coach
                </option>
                <option value="Career Counsellor">Career Counsellor</option>
                <option value="Environmentalist">Environmentalist</option>
                <option value="Etiquitte Coach">Etiquette Coach</option>
                <option value="Spiritual Speakers">Spiritual Speakers</option>
                <option value="Happiness Coach">Happiness Coach</option>
              </select>
                            <div *ngIf="submitted && ef.category?.errors?.required" class="invalid-feedback">
                                <div>Category is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="textarea">Message</label>
                        <textarea [ngClass]="{ 'is-invalid': ef.message.errors && submitted }" formControlName="message" name="textarea" cols="40" rows="5" class="form-control"></textarea>
                        <div *ngIf="submitted && ef.message?.errors?.required" class="invalid-feedback">
                            <div>Message is required</div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <button name="submit" type="submit" class="btn btn-primary">
                Submit Enquiry
              </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8 col-lg-6 text-lg-right">
                <img src="https://prium.github.io/slick/assets/images/work-chat.png" style="max-width: 100%" alt="" />
            </div>
        </div>
    </div>
</section>