.py-0 {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

section {
    position: relative;
    padding: 7.5rem 0;
}

.container {
    position: relative;
}

.container {
    z-index: 1;
}

.py-8 {
    padding-top: 7.5rem!important;
    padding-bottom: 7.5rem!important;
}

.h-full {
    min-height: 100vh;
}

.fw-300 {
    font-weight: 300!important;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
}

.h1,
h1 {
    font-size: 3.05176rem;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1;
}

.fw-700 {
    font-weight: 700!important;
}

p.lead {
    font-weight: 400;
}

.p.lead,
p.lead {
    font-size: 1.25rem;
}

.form-control {
    font-size: .8rem;
}

.background-white {
    background-color: #fff!important;
}

.form-control {
    padding: .8rem;
    /* font-size: .8rem; */
    line-height: 1.5;
    border-color: #e1e1e1;
    /* -webkit-box-shadow: none; */
    box-shadow: none;
    border-radius: 3px;
    /* background-color: #fafafa; */
    /* -webkit-transition: all .2s ease-in-out; */
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    height: auto;
}

.pr-2 {
    padding-right: .5rem!important;
}

.fs--1 {
    font-size: .8rem!important;
}

p {
    font-weight: 400;
    color: #6a6a6a;
}

.btn {
    letter-spacing: .03em;
    text-transform: uppercase;
    font-weight: 700;
}

.mt-4 {
    margin-top: 1.8rem!important;
}

.btn-primary {
    color: #fff;
    background-color: #007aff;
    border-color: #006ee6;
}

.btn {
    padding: .8rem 2.5rem;
    font-family: "Source Sans Pro", sans-serif;
    /* font-weight: 600; */
    font-size: .8rem;
    /* letter-spacing: .01em; */
    border-radius: 3px;
    /* -webkit-transition: all .2s ease-in-out; */
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    line-height: 1.5;
}

.color-7 {
    color: #949494!important;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-14 {
    width: .875em;
}

.color-8 {
    color: #bebebe!important;
}

.fs-2 {
    font-size: 1.5625rem!important;
}

.svg-inline--fa {
    display: inline-block;
    /* font-size: inherit; */
    height: 1em;
    /* overflow: visible; */
    vertical-align: -.125em;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.color-8 {
    color: #bebebe!important;
}

.fs-2 {
    font-size: 1.5625rem!important;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}