<section style="margin-top: 4rem">
    <div class="ml-1">
        <div class="row" style="margin-right: 0px">
            <div class="col-md-3 mb-3">
                <div class="text-center mt-2 mb-2 p-3">
                    <!--<img class="rounded-circle mt-5 img-fluid" [src]="profile.image" width="130" />-->
                    <img class="rounded-circle ml-5 img-fluid" [src]="profile.image" width="130" />
                    <br />
                    <div id="upload_button" class="text-center">
                        <label>
                            <input type="file" value="Chnage Image" class="mt-2 p-2" style=" margin-left: 7px"
                                (change)="changeAvatar(file.files)" #file />
                            <!--<app-upload-profile></app-upload-profile>-->
                        </label>

                    </div>

                    <div class="text-center p-2 mt-2">
                        <h4 class="font-weight-bold text-uppercase">{{ profile.firstName }} {{ profile.lastName }}</h4>
                    </div>
                </div>
                <ul class="nav nav-pills flex-column p-3" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="notifications-tab" data-toggle="tab" href="#notifications" role="tab"
                            aria-controls="notifications" aria-selected="false">Notifications
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="viewProfile-tab" data-toggle="tab" href="#viewProfile" role="tab"
                            aria-controls="viewProfile" aria-selected="false">View Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="kycVerification-tab" data-toggle="tab" href="#kycVerification"
                            role="tab" aria-controls="kycVerification" aria-selected="false">KYC Verification</a>
                    </li>
                    <li [hidden]="'1'" class="nav-item">
                        <a class="nav-link" id="newfeed-tab" data-toggle="tab" href="#newfeed" role="tab"
                            aria-controls="newfeed" aria-selected="false">News Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="uploadpost-tab" data-toggle="tab" href="#uploadpost" role="tab"
                            aria-controls="uploadpost" aria-selected="false">Add New Achievement</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-9">
                <div class="tab-content" style="margin-bottom: 1rem" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="container rounded bg-white mt-5 mb-5">
                            <div class="row">
                                <div class="col-md-9 ">
                                    <div class="row d-flex flex-column" style="padding-left: 20px">
                                        <div class="mt-4 mb-1">
                                            <h3 class="font-weight-bold text-uppercase" id="prfile"
                                                data-toggle="collapse" href="#collapseExample" role="button"
                                                aria-expanded="false" aria-controls="collapseExample">Expert Information
                                            </h3>
                                            <div class="collapse" id="collapseExample">
                                                <div style="text-align: right;">
                                                    <button class="btn mr-1 text-white"
                                                        style="background-color: #AD4FAE; border: none;"
                                                        (click)="editprofie = true" id="editbutton" *ngIf="!editprofie">
                                                        <i class="fa fa-edit"></i> &nbsp; Edit</button>
                                                    <button class="btn mr-1" (click)="editprofile()"
                                                        *ngIf="editprofie">Save</button>
                                                    <button class="btn btn-default mr-1" (click)="editprofie = false"
                                                        *ngIf="editprofie">Cancel</button>
                                                </div>
                                                <div>
                                                    <form [formGroup]="profileForm"
                                                        (ngSubmit)="onSubmit(profileForm.value)" id="expertform">
                                                        <!--<div class="form-group">
                                                            <label class="font-weight-bold">Name: </label>
                                                            <span> {{ profile.firstName }} {{ profile.lastName }}
                                                            </span>
                                                             <input type="text" formControlName="firstName" class="form-control" [ngClass]="{'is-invalid': submitted && f.firstName.errors}"/>
                                                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                                          <div *ngIf="f.firstName.errors.required">Name is required</div>
                                                        </div>
                                                        </div>-->
                                                        <div class="form-group">
                                                            <div>
                                                                <label class="text-uppercase font-weight-bold"> First
                                                                    Name:</label>
                                                                <span *ngIf="!editprofie"> {{ profile.firstName
                                                                    }}</span>
                                                            </div>
                                                            <div *ngIf="editprofie">
                                                                <input type="text" formControlName="firstName"
                                                                    class="form-control"
                                                                    [ngClass]="{'is-invalid': submitted && f.firstName.errors}" />
                                                                <div *ngIf="submitted && f.firstName.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.firstName.errors.required">
                                                                        Name is required
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div>
                                                                <label class="text-uppercase font-weight-bold"> Last
                                                                    Name:</label>
                                                                <span *ngIf="!editprofie"> {{ profile.lastName }}</span>
                                                            </div>
                                                            <div *ngIf="editprofie">
                                                                <input type="text" formControlName="lastName"
                                                                    class="form-control"
                                                                    [ngClass]="{'is-invalid': submitted && f.firstName.errors}" />
                                                                <div *ngIf="submitted && f.lastName.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.lastName.errors.required">
                                                                        Name is required
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>





                                                        <div class="form-group">
                                                            <div>
                                                                <label class="text-uppercase font-weight-bold">Gender:
                                                                </label>
                                                                <span *ngIf="!editprofie"> {{ profile.gender }} </span>
                                                            </div>
                                                            <div *ngIf="editprofie">
                                                                <input type="text" formControlName="gender"
                                                                    class="form-control"
                                                                    [ngClass]="{'is-invalid': submitted && f.gender.errors}" />
                                                                <div *ngIf="submitted && f.gender.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.gender.errors.required">
                                                                        gender is required
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="form-group">
                                                            <label class=" mr-3 font-weight-bold">Password:</label>
                                                            <input type="password" class=" w-50 form-control  mr-2 d-inline">
                                                        </div> -->

                                                        <div class="form-group">
                                                            <div>
                                                                <label
                                                                    class="text-uppercase font-weight-bold">Experience:
                                                                </label>
                                                                <span *ngIf="!editprofie"> {{ profile.experience }}
                                                                </span>
                                                            </div>
                                                            <div *ngIf="editprofie">
                                                                <input type="text" formControlName="experience"
                                                                    class="form-control"
                                                                    [ngClass]="{'is-invalid': submitted && f.experience.errors}" />
                                                                <div *ngIf="submitted && f.experience.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.experience.errors.required">
                                                                        experience is required
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>




                                                        <!-- <div class="form-group">
                                                        <label class="font-weight-bold">Email:</label>
                                                        <span> {{ profile.email }} </span>
                                                        <input
                                  type="email"
                                  formControlName="email"
                                  class="form-control"
                                  [ngClass]="{
                                    'is-invalid': submitted && f.email.errors
                                  }"
                                />
                                <div
                                  *ngIf="submitted && f.email.errors"
                                  class="invalid-feedback"
                                >
                                  <div *ngIf="f.email.errors.required">
                                    Email is required
                                  </div>
                                </div>
                                                    </div> -->

                                                        <div class="form-group">
                                                            <div>
                                                                <label class="text-uppercase font-weight-bold">Date of
                                                                    birth:</label>
                                                                <span *ngIf="!editprofie"> {{ profile.DOB }} </span>
                                                            </div>
                                                            <div *ngIf="editprofie">
                                                                <input type="text" formControlName="DOB"
                                                                    class="form-control"
                                                                    [ngClass]="{'is-invalid': submitted && f.DOB.errors}" />
                                                                <div *ngIf="submitted && f.DOB.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.DOB.errors.required">
                                                                        DOB is required
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div>
                                                                <label class="text-uppercase font-weight-bold">Overview:
                                                                </label>
                                                                <span *ngIf="!editprofie"> {{ profile.description }}
                                                                </span>
                                                            </div>
                                                            <div *ngIf="editprofie">
                                                                <textarea formControlName="description" rows="4"
                                                                    cols="40" class="form-control"
                                                                    [ngClass]="{'is-invalid': submitted && f.description.errors}"></textarea>
                                                                <div *ngIf="submitted && f.description.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.description.errors.required">
                                                                        description is required
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- <div class="form-group">
                                                            <label class="font-weight-bold mr-3">Intro Video: </label>

                                                            <input type="file" class="form-control d-inline w-50 mt-2 mb-2">
                                                        </div> -->


                                                        <!-- <div class="form-group">
                                                            <label class="font-weight-bold">Languages: </label>

                                                            <input type="text" class=" mr-2 d-inline w-25  ml-2 form-control mt-2 mb-2">
                                                            <input type="text" class=" mr-2 d-inline w-25  ml-2 form-control mt-2 mb-2">
                                                        </div> -->

                                                        <!-- <div class="form-group">
                                                            <label class="font-weight-bold">Qualification: </label>

                                                            <input type="text" class=" mr-2 d-inline w-25   ml-2 form-control mt-2 mb-2">
                                                            <input type="text" class=" mr-2 d-inline w-25 ml-2 form-control mt-2 mb-2">
                                                        </div> -->

                                                        <!-- <div class="mt-4 mb-3">
                                                            <h3 class="font-weight-bold text-uppercase">Contact Information</h3>
                                                        </div> -->

                                                        <div class="form-group">
                                                            <div>
                                                                <label
                                                                    class="text-uppercase font-weight-bold">Email:</label>
                                                                <span *ngIf="!editprofie"> {{ profile.email }} </span>
                                                            </div>
                                                            <div *ngIf="editprofie">
                                                                <input disabled type="email" formControlName="email"
                                                                    class="form-control"
                                                                    [ngClass]="{'is-invalid': submitted && f.email.errors}" />
                                                                <div *ngIf="submitted && f.email.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.email.errors.required">
                                                                        Email is required
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--<div class="form-group">
                                                            <label class="font-weight-bold">Phone </label>
                                                            <span class="ml-2">
                                                                {{profile.mobileNumber}}
                                                            </span>
                                                        </div>-->
                                                        <div class="form-group">
                                                            <div>
                                                                <label class="text-uppercase font-weight-bold">Phone
                                                                    :</label>
                                                                <span *ngIf="!editprofie">{{ profile.mobileNumber
                                                                    }}</span>
                                                            </div>
                                                            <div *ngIf="editprofie">
                                                                <input disabled type="email"
                                                                    formControlName="mobileNumber" class="form-control"
                                                                    [ngClass]="{
                                                                    'is-invalid': submitted && f.mobileNumber.errors}" />
                                                                <div *ngIf="submitted && f.mobileNumber.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.mobileNumber.errors.required">
                                                                        Number is required
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--<div class="form-group">
                                                            <label class="font-weight-bold">Address </label>
                                                            <span class="ml-2">
                                                                {{profile.address}}
                                                            </span>
                                                        </div>-->
                                                        <div class="form-group">
                                                            <div>
                                                                <label class="text-uppercase font-weight-bold">Street
                                                                    :</label>
                                                                <span *ngIf="!editprofie">{{ profile.address1.street}}</span>
                                                            </div>
                                                            <div *ngIf="editprofie">
                                                                <input type="text" formControlName="street"
                                                                    class="form-control" [ngClass]="{
                                                                    'is-invalid': submitted && f.street.errors}" />
                                                                <div *ngIf="submitted && f.street.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.street.errors.required">
                                                                        street is required
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                           <div class="form-group">
                                                            <div>
                                                                <label class="text-uppercase font-weight-bold">Locality
                                                                    :</label>
                                                                <span *ngIf="!editprofie">{{ profile.address1.locality }}</span>
                                                            </div>
                                                            <div *ngIf="editprofie">
                                                                <input type="text" formControlName="locality"
                                                                    class="form-control" [ngClass]="{
                                                                    'is-invalid': submitted && f.locality.errors}" />
                                                                <div *ngIf="submitted && f.locality.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.locality.errors.required">
                                                                        locality is required
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                           <div class="form-group">
                                                            <div>
                                                                <label class="text-uppercase font-weight-bold">City
                                                                    :</label>
                                                        <span *ngIf="!editprofie">{{ profile.address1.city}}</span>
                                                            </div>
                                                            <div *ngIf="editprofie">
                                                                <input type="text" formControlName="city"
                                                                    class="form-control" [ngClass]="{
                                                                    'is-invalid': submitted && f.city.errors}" />
                                                                <div *ngIf="submitted && f.city.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.city.errors.required">
                                                                        city is required
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                          <div class="form-group">
                                                            <div>
                                                                <label class="text-uppercase font-weight-bold">Pincode
                                                                    :</label>
                                                                <span *ngIf="!editprofie">{{ profile.address1.pincode }}</span>
                                                            </div>
                                                            <div *ngIf="editprofie">
                                                                <input type="text" formControlName="pincode"
                                                                    class="form-control" [ngClass]="{
                                                                    'is-invalid': submitted && f.pincode.errors}" />
                                                                <div *ngIf="submitted && f.pincode.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.pincode.errors.required">
                                                                        pincode is required
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                           <div class="form-group">
                                                            <div>
                                                                <label class="text-uppercase font-weight-bold">State
                                                                    :</label>
                                                                <span *ngIf="!editprofie">{{profile.address1.state}}</span>
                                                            </div>
                                                            <div *ngIf="editprofie">
                                                                <input type="text" formControlName="state"
                                                                    class="form-control" [ngClass]="{
                                                                    'is-invalid': submitted && f.state.errors}" />
                                                                <div *ngIf="submitted && f.state.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.state.errors.required">
                                                                        state is required
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                           <div class="form-group">
                                                            <div>
                                                                <label class="text-uppercase font-weight-bold">Country
                                                                    :</label>
                                                                <span *ngIf="!editprofie">{{ profile.address1.country }}</span>
                                                            </div>
                                                            <div *ngIf="editprofie">
                                                                <input type="text" formControlName="country"
                                                                    class="form-control" [ngClass]="{
                                                                    'is-invalid': submitted && f.country.errors}" />
                                                                <div *ngIf="submitted && f.country.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.country.errors.required">
                                                                        country is required
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="mt-4 mb-3">
                                                            <h3 class="font-weight-bold text-uppercase">Achievements</h3>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="font-weight-bold mr-3">My achievements: </label>
                                                            <input type="file" class="form-control d-inline w-50 mt-2 mb-2">
                                                        </div> -->

                                                        <!-- <div class="form-group">
                                                        <label class="font-weight-bold">Address:</label>
                                                        <span> {{ profile.address }} </span>
                                                        <textarea
                                  type="f"
                                  ormControlName="address"
                                  class="form-control"
                                  [ngClass]="{
                                    'is-invalid': submitted && f.address.errors
                                  }"
                                  placeholder="address"
                                >
                                </textarea>
                                <div
                                  *ngIf="submitted && f.address.errors"
                                  class="invalid-feedback"
                                >
                                  <div *ngIf="f.address.errors.required">
                                    Descritpion is required
                                  </div>
                                </div>
                                                    </div> -->
                                                        <!-- <div class="form-group">
                                                        <label class="font-weight-bold">Phone Number:</label>
                                                        <span> {{ profile.mobileNumber }} </span>
                                                        <input
                                  type="email"
                                  formControlName="mobileNumber"
                                  class="form-control"
                                  [ngClass]="{
                                    'is-invalid': submitted && f.mobileNumber.errors
                                  }"
                                />
                                <div
                                  *ngIf="submitted && f.mobileNumber.errors"
                                  class="invalid-feedback"
                                >
                                  <div *ngIf="f.mobileNumber.errors.required">
                                    Number is required
                                  </div>
                                </div>
                                                    </div> -->

                                                        <!-- <div class="form-group">
                                                        <label class="font-weight-bold">Category: </label>
                                                        <span> {{ profile.category }} </span>
                                                        <input
                                  type="text"
                                  formControlName="category"
                                  class="form-control"
                                  [ngClass]="{
                                    'is-invalid': submitted && f.category.errors
                                  }"
                                />
                                <div
                                  *ngIf="submitted && f.category.errors"
                                  class="invalid-feedback"
                                >
                                  <div *ngIf="f.category.errors.required">
                                    Number is required
                                  </div>
                                </div>
                                                    </div> -->

                                                        <!-- <div class="form-group">
                                                        <label class="font-weight-bold">Sub category: </label>
                                                        <span> </span>
                                                        <input
                                  type="text"
                                  formControlName="subCategory"
                                  class="form-control"
                                  [ngClass]="{
                                    'is-invalid': submitted && f.subCategory.errors
                                  }"
                                />
                                <div
                                  *ngIf="submitted && f.subCategory.errors"
                                  class="invalid-feedback"
                                >
                                  <div *ngIf="f.subCategory.errors.required">
                                    Number is required
                                  </div>
                                </div>
                                                    </div> -->
                                                        <!-- <div class="form-group">
                                <label>Reviews: </label>
                                <input
                                  type="text"
                                  formControlName="reviews"
                                  class="form-control"
                                  [ngClass]="{
                                    'is-invalid': submitted && f.reviews.errors
                                  }"
                                />
                                <div
                                  *ngIf="submitted && f.reviews.errors"
                                  class="invalid-feedback"
                                >
                                  <div *ngIf="f.reviews.errors.required">
                                    Number is required
                                  </div>
                                </div>
                              </div> -->
                                                        <!-- <div class="form-group">
                                <label>Ratings: </label>
                                <input
                                  type="text"
                                  formControlName="rating"
                                  class="form-control"
                                  [ngClass]="{
                                    'is-invalid': submitted && f.rating.errors
                                  }"
                                />
                                <div
                                  *ngIf="submitted && f.rating.errors"
                                  class="invalid-feedback"
                                >
                                  <div *ngIf="f.rating.errors.required">
                                    Number is required
                                  </div>
                                </div>
                              </div> -->

                                                        <!-- <div class="form-group">
                                <label>Subscription: &nbsp;</label>
                                <span>{{profile.subscription}}</span>
                              </div> -->

                                                        <!-- <div class="text-center">
                                <button class="btn btn-primary mr-1">Review</button>
                              </div> -->
                                                    </form>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="mb-1 mt-2">
                                            <h3 id="prfile" class="font-weight-bold text-uppercase"
                                                data-toggle="collapse" href="#language" role="button"
                                                aria-expanded="false" aria-controls="language">Language</h3>
                                            <div class="collapse" id="language">


                                                <div class="row">
                                                    <div class="mt-3 mb-3" *ngFor="let language of profile.languages">
                                                        <span class="badge badge-pill badge-secondary"><button
                                                                type="button" class="close" data-dismiss="alert"
                                                                aria-label="Close" (click)="deletelang(language)">
                                                                {{language}} &times;
                                                            </button>
                                                        </span>

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <input type="text" name="" class="w-75 form-control" #lang>
                                                </div>
                                                <div class="form-group">
                                                    <button (click)="addlanguage(lang)"
                                                        class="btn p-2 border border-purple">
                                                        + Add More
                                                    </button>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="mb-1 mt-2">
                                            <h3 id="prfile" class="font-weight-bold text-uppercase"
                                                data-toggle="collapse" href="#qualification" role="button"
                                                aria-expanded="false" aria-controls="qualification">Qualification</h3>
                                            <div class="collapse" id="qualification">

                                                <div class="row">
                                                    <div class="mt-3 mb-3" *ngFor="let education of profile.education">
                                                        <span class="badge badge-pill badge-secondary"><button
                                                                type="button" class="close"
                                                                (click)="deleteeducation(education)">
                                                                {{education}} &times;
                                                            </button>
                                                        </span>

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <input type="text" name="" class="w-75 form-control" #qualification>
                                                </div>
                                                <div class="form-group">
                                                    <button (click)="addqualification(qualification)"
                                                        class="btn p-2 border border-purple">
                                                        + Add More
                                                    </button>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- <div class="mb-1 mt-2">
                                            <h3 id="prfile" class="font-weight-bold text-uppercase" data-toggle="collapse" href="#achievment" role="button" aria-expanded="false" aria-controls="achievment">achievements</h3>
                                            <div class="collapse" id="achievment">
                                                <div class="mt-3 d-flex flex-row ">

                                                    <div *ngFor="let image of profile.gallery" class="mr-4 img-wraps">
                                                        <span  class="closes" title="Delete" (click) = "deletepost(image._id)">&times;</span>
                                                        <img

                                                        [src]="image.url" style="height: 150px; width: 150px;" >
                                                    </div>

                                                </div>
                                            </div>
                                        </div>-->


                                        <div class="mb-1 mt-2">
                                            <h3 id="prfile" class="font-weight-bold text-uppercase"
                                                data-toggle="collapse" href="#categories" role="button"
                                                aria-expanded="false" aria-controls="qualification">Categories</h3>
                                            <div class="collapse" id="categories">


                                                <!-- <div class="mt-3 mb-3" *ngFor="let cat of visiblecategories">
                                                    <span class="badge badge-pill badge-secondary">{{cat}}</span><button class="closes" title="Delete" (click) = "deletecategory(cat)">&times;</button>
                                                </div>-->
                                                <div class="row">
                                                    <div class="mt-3 mb-3" *ngFor="let cat of visiblecategories">
                                                        <span class="badge badge-pill badge-secondary"><button
                                                                type="button" class="close" data-dismiss="alert"
                                                                aria-label="Close" (click)="deletecategory(cat.item_id)">
                                                                {{cat.item_text}} &times;
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <br>

                                                <div class="form-group">
                                                    <select class="form-control" (change)="onItemSelect($event)">
                                                        <option [value]="">
                                                            Select
                                                        </option>

                                                        <option *ngFor="let ca of mycategories" [value]="ca.item_id">
                                                            {{ca.item_text}}
                                                        </option>
                                                    </select>
                                                </div>


                                            </div>
                                        </div>

                                        <div class="mb-1 mt-2">
                                            <h3 id="prfile" class="font-weight-bold text-uppercase"
                                                data-toggle="collapse" href="#intro" role="button" aria-expanded="false"
                                                aria-controls="intro">Intro Video</h3>
                                            <div class="row">
                                                <div class="col-md-2 mb-2">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="collapse" id="intro">



                                                        <div class="mt-12" *ngIf="!profile.introVideo">
                                                            <input type="file" (change)="uploadIntro($event)">
                                                        </div>

                                                        <div class="mt-12" *ngIf="profile.introVideo">
                                                            <span class="closes" title="Delete"
                                                                (click)="deletevideo(profile.introVideo)">&times;</span>
                                                            <video width="320" height="240" controls>
                                                                <source [src]="profile.introVideo" type="video/mp4">
                                                            </video>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2 mb-2">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-1 mt-2">
                                            <div class="form-group">
                                                <!--<button (click)="requesteditprofile()" class="btn btn-primary p-2 border border-purple">
                                                    Edit Request
                                                </button>-->

                                                <!-- <button class="btn btn-primary mr-1 text-white" style="background-color: #AD4FAE; border: none;" (click)="editprofie = true" id="editbutton" *ngIf="!editprofie">
                                                        <i class="fa fa-edit"></i> &nbsp; Edit</button>
                                                    <button class="btn btn-primary mr-1" (click)="editprofile()" *ngIf="editprofie">Save</button>
                                                    <button class="btn btn-default mr-1" (click)="editprofie = false" *ngIf="editprofie">Cancel</button>-->


                                                <!--<button (click)="requesteditwebiner()"
                                                    class="btn p-2 border border-purple">
                                                    Schedule a Webinar
                                                </button>-->
                                            </div>
                                        </div>


                                    </div>

                                </div>
                                <!--profile_end-->
                                <!-- <div class="col-md-4">
                                          <div class="p-3 py-5">
                                              <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                                              <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                                              <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
                                          </div>
                                      </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="sessions" role="tabpanel" aria-labelledby="sessions-tab">
                        <div class="container">
                            <div class="row">
                                <h1 class="mr-auto">My product</h1>
                                <a class="btn btn-warning ml-auto">Add your product</a>
                            </div>

                            <div class="row">
                                <div class="mt-2" *ngFor="let product of profile.products">
                                    <div class="col-12">
                                        <div class="card" style="width: 18rem">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ product.title }}</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">
                                                    {{ product.title }}
                                                </h6>
                                                <p class="card-text">
                                                    {{ product.description }}
                                                </p>
                                                <button class="btn btn-danger" (click)="deleteproduct(product._id)">
                                                    Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">

                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">


                                    <ul class="nav nav-tabs mt-4" style="border-bottom: none;" id="myTab"
                                        role="tablist">
                                        <li class="nav-item waves-effect waves-light">
                                            <a class="nav-link active navlnk font-weight-bold" id="home-tab"
                                                data-toggle="tab" href="#home" role="tab" aria-controls="home"
                                                aria-selected="false" style="font-size:20px">
                                                My Leads:{{noti_count}}
                                                <span
        matTooltip="Signifies that a user has tried to contact you"
        aria-label="Button that displays a tooltip when focused or hovered over">
        <i class="fa fa-eye" style="font-size:20px" aria-hidden="true"></i>
</span> </a>
                                        </li>

                                        <li class="nav-item waves-effect waves-light">
                                            <a class="nav-link navlnk font-weight-bold" id="contact-tab"
                                                data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                                                aria-selected="true" style="font-size:20px">
                                                Enquiries:{{lead_count}}
                                                <span
                                                matTooltip="Signifies that a user has viewed your profile"
                                                aria-label="Button that displays a tooltip when focused or hovered over">
                                                <i class="fa fa-eye" style="font-size:20px" aria-hidden="true"></i>
                                        </span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content active" id="myTabContent">
                                        <div class="tab-pane fade active show" id="home" role="tabpanel"
                                            aria-labelledby="home-tab">


                                            <div *ngFor="let n of noti.enquiry" class="card ">
                                                <div class="card-body" style="background-color:#d9e3eb">
                                                    <div class="d-flex flex-column">
                                                        <span class="notfication-text">
                                                            Name: &nbsp;

                                                            <span class="text-black-50 notfication-text2">
                                                                {{n?.user.name}}
                                                            </span>
                                                        </span>
                                                        <div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <span class="notfication-text">
                                                                        Email: &nbsp;

                                                                        <span class="text-black-50 notfication-text2">
                                                                            {{n?.user.email}}
                                                                        </span>
                                                                    </span>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <span class="notfication-text">
                                                                        Phone: &nbsp;

                                                                        <span class="text-black-50 notfication-text2">
                                                                            {{n?.user.phnNum}}
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                                <div class="col-md-6">
                                                                  <span class="notfication-text">
                                                                      Date: &nbsp;

                                                                      <span class="text-black-50 notfication-text2">
                                                                          {{n.createdAt|date}}
                                                                      </span>
                                                                  </span>
                                                              </div>

                                                                <div class="col-md-6" *ngIf="!!n.area">
                                                                  <span class="notfication-text">
                                                                      Category: &nbsp;

                                                                      <span class="text-black-50 notfication-text2">
                                                                          {{n.area}}
                                                                      </span>
                                                                  </span>
                                                              </div>

                                                              <!--<div class="col-md-6">
                                                                  <span class="notfication-text">
                                                                      Time: &nbsp;

                                                                      <span class="text-black-50 notfication-text2">
                                                                          {{n.createdAt|date:'H:mm':'UTC'}}
                                                                      </span>
                                                                  </span>
                                                              </div>-->
                                                                <!-- <div class="col-12 col-md-12 mt-3 pl-3 pr-3">
                                                                    <div class="form-group">
                                                                        <h4>Message :</h4>
                                                                        <textarea type="text" cols="15" rows="2"
                                                                            class="form-control"
                                                                            [value]= "n.message"
                                                                            placeholder="Additional message here!"
                                                                            disabled>
                                                                          </textarea>
                                                                    </div>
                                                                </div>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="tab-pane fade " id="contact" role="tabpanel"
                                            aria-labelledby="contact-tab">

                                            <div *ngFor="let n of noti.leads" class="card ">
                                                <div class="card-body" style="background-color:#d9e3eb">
                                                    <div class="d-flex flex-column">
                                                        <span class="notfication-text">
                                                            Name: &nbsp;

                                                            <span class="text-black-50 notfication-text2">
                                                                {{n?.user.name}}
                                                            </span>
                                                        </span>
                                                        <div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <span class="notfication-text">
                                                                        Email: &nbsp;

                                                                        <span class="text-black-50 notfication-text2">
                                                                            {{n?.user.email}}
                                                                        </span>
                                                                    </span>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <span class="notfication-text">
                                                                        Phone: &nbsp;

                                                                        <span class="text-black-50 notfication-text2">
                                                                            {{n?.user.phnNum}}
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                                <div class="col-md-6">
                                                                  <span class="notfication-text">
                                                                      Date: &nbsp;

                                                                      <span class="text-black-50 notfication-text2">
                                                                          {{n.createdAt|date}}
                                                                      </span>
                                                                  </span>
                                                              </div>

                                                               <div class="col-md-6" *ngIf="!!n.area">
                                                                  <span class="notfication-text">
                                                                      Category: &nbsp;

                                                                      <span class="text-black-50 notfication-text2">
                                                                          {{n.area}}
                                                                      </span>
                                                                  </span>
                                                              </div>

                                                              <!--<div class="col-md-6">
                                                                  <span class="notfication-text">
                                                                      Time: &nbsp;

                                                                      <span class="text-black-50 notfication-text2">
                                                                          {{n.createdAt|date:'H:mm':'UTC'}}
                                                                      </span>
                                                                  </span>
                                                              </div>-->

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="viewProfile" role="tabpanel" aria-labelledby="viewProfile-tab">
                        <section>
                            <div class="container">
                                <div class="row">
                                    <div class="container mt-3 p-3 mb-3 bg-light mr-1 ml-1">
                                        <ul class="nav nav-tabs nav-tabs2">
                                            <li class="nav-item">
                                                <a class="nav-link nav-link2 active" data-toggle="tab"
                                                    href="#viewProfilee">Profile</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link nav-link2" data-toggle="tab"
                                                    href="#ach">Achievements</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link nav-link2" data-toggle="tab"
                                                    href="#reviews">Reviews</a>
                                            </li>
                                            <!--<li class="nav-item">
                                                <a class="nav-link nav-link2" data-toggle="tab"
                                                    href="#webinars">Webinars</a>
                                            </li>-->
                                        </ul>

                                        <div class="tab-content ">
                                            <div id="viewProfilee" class="container tab-pane active"
                                                style="margin-left: 16px;">
                                                <div>
                                                    <h6 class="font-weight-bold mt-4">Overview</h6>
                                                </div>
                                                <div class="row w-100 text-sm-center text-md-center text-center">
                                                    <div class="col-md-4 extraspace col-12 col-sm-7">
                                                        <p id="inttro" style="text-align: justify;">
                                                            {{profile.description}}
                                                        </p>
                                                    </div>
                                                    <div class="col-md-1  text-sm-center">

                                                    </div>
                                                    <div
                                                        class="col-md-6 col-12 extraspace text-center text-sm-center text-md-center col-sm-4">

                                                        <video *ngIf="profile.introVideo" width="320" height="240"
                                                            controls>
                                                            <source [src]="profile.introVideo" type="video/mp4">
                                                        </video>

                                                    </div>
                                                </div>
                                                <hr>
                                                <div>
                                                    <div>
                                                        <h6 class="font-weight-bold">
                                                            Language
                                                        </h6>
                                                        <p class="lead" style="font-size: 15px;"><i
                                                                class="fa fa-language"></i>&nbsp;
                                                            Speaks {{profile.languages}}
                                                        </p>
                                                    </div>

                                                </div>
                                                <hr>
                                                <div>
                                                    <div>
                                                        <h6 class="font-weight-bold">
                                                            Education
                                                        </h6>
                                                        <p class="lead" style="font-size: 15px;"><i
                                                                class="fa fa-graduation-cap"></i>&nbsp;
                                                            {{profile.education}}
                                                        </p>
                                                    </div>

                                                </div>


                                                <hr>

                                                <div>
                                                    <div>
                                                        <h6 class="font-weight-bold">
                                                            Verified Information
                                                        </h6>
                                                        <div class="">
                                                            <i class="fa fa-check-circle mr-1"
                                                                style="    color: #950F96;"></i>
                                                            <p class="badge badge-pill mr-1 badge-secondary verified-text"
                                                                style="background-color: rgba(0, 0, 0, .1);color: black;">
                                                                ID verified</p>
                                                            <p class="badge badge-pill mr-1 badge-secondary verified-text"
                                                                style="background-color: rgba(0, 0, 0, .1);color: black;">
                                                                Email verified</p>
                                                            <p *ngIf="profile.isNumberValid"
                                                                class="badge badge-pill mr-1 badge-secondary verified-text"
                                                                style="background-color: rgba(0, 0, 0, .1);color: black;">
                                                                Phone verified</p>

                                                        </div>

                                                    </div>

                                                </div>



























                                            </div>
                                            <!-- <div id="viewProfile" class="container tab-pane active"><br>
                                                <div>
                                                    <h6 class="font-weight-bold">Overview</h6>
                                                </div>
                                                <div class="row w-100 text-sm-center text-md-center text-center">
                                                    <div class="col-md-4 extraspace col-12 col-sm-7">
                                                        <p id="inttro" style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe aliquam ratione nostrum, veritatis unde rem?
                                                        </p>
                                                    </div>
                                                    <div class="col-md-1  text-sm-center">

                                                    </div>
                                                    <div class="col-md-6 col-12 extraspace text-center text-sm-center text-md-center col-sm-4">
                                                        <video height="240" controls id="videointro">
                                                            <source src="../../assets/2dc22hf.mp4">
                                                        </video>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div>
                                                    <div>
                                                        <h6 class="font-weight-bold">
                                                            Language
                                                        </h6>
                                                        <p class="lead" style="font-size: 15px;"><i class="fa fa-language"></i>&nbsp; Speaks Hindi, English</p>
                                                    </div>

                                                </div>
                                                <hr>
                                                <div>
                                                    <div>
                                                        <h6 class="font-weight-bold">
                                                            Education
                                                        </h6>
                                                        <p class="lead" style="font-size: 15px;"><i class="fa fa-graduation-cap"></i>&nbsp; MBBS</p>
                                                    </div>

                                                </div>


                                                <hr>

                                                <div>
                                                    <div>
                                                        <h6 class="font-weight-bold">
                                                            Verified Information
                                                        </h6>
                                                        <div class="">
                                                            <i class="fa fa-check-circle mr-1" style="    color: #950F96;"></i>
                                                            <p class="badge badge-pill mr-1 badge-secondary verified-text" style="background-color: rgba(0, 0, 0, .1);color: black;">ID verified</p>
                                                            <p class="badge badge-pill mr-1 badge-secondary verified-text" style="background-color: rgba(0, 0, 0, .1);color: black;">Email verified</p>
                                                            <p class="badge badge-pill mr-1 badge-secondary verified-text" style="background-color: rgba(0, 0, 0, .1);color: black;">Phone verified</p>

                                                        </div>

                                                    </div>

                                                </div>


                                            </div> -->
                                            <div id="ach" class="container tab-pane fade" style="margin-left: 16px;">
                                                <br>

                                                <div class="row">
                                                    <div class="col-xs-1 col-sm-4 col-md-3 col-lg-3"
                                                        *ngFor="let image of profile.gallery">
                                                        <img [src]="image.url" class="achviments"
                                                            style="height: 150px;width: 150px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="reviews" class="container tab-pane fade"><br>
                                                <div>
                                                    <h3>User ratings</h3>
                                                </div>
                                                <div class=" row m-3 p-3 " style="background-color:#e7e7de ;">
                                                    <div class="col-md-3 text-center font-weight-bold rate-text"
                                                        style="margin-top: 1.5rem!important;">
                                                        <h3 class="rate-nmbr font-weight-bold">{{profile.rating}}</h3>
                                                        <p class="text-center">Out of 5</p>
                                                    </div>
                                                    <div class="col-md-7">

                                                        <div class="d-flex flex-column">
                                                            <div class="m-1">
                                                                <div class="progress">
                                                                    <div class="progress-bar"
                                                                        style="background-color: #950F96;"
                                                                        [style.width]="reviewsrate[5] + '%'">5 stars
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="m-1">
                                                                <div class="progress">
                                                                    <div class="progress-bar"
                                                                        style="background-color: #950F96"
                                                                        [style.width]="reviewsrate[4] + '%'">4 stars
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="m-1">
                                                                <div class="progress">
                                                                    <div class="progress-bar"
                                                                        style="background-color: #950F96"
                                                                        [style.width]="reviewsrate[3] + '%'">3 stars
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="m-1">
                                                                <div class="progress">
                                                                    <div class="progress-bar"
                                                                        style="background-color: #950F96"
                                                                        [style.width]="reviewsrate[2] + '%'">2 stars
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="m-1">
                                                                <div class="progress">
                                                                    <div class="progress-bar"
                                                                        style="background-color: #950F96"
                                                                        [style.width]="reviewsrate[1] + '%'">1 star
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                                <div>
                                                    <div>
                                                        <h3>User Reviews</h3>
                                                    </div>
                                                    <hr>

                                                    <div class="d-flex flex-column" *ngFor="let review of reviews">
                                                        <div>
                                                            <img src="../../assets/dummy.png"
                                                                style="margin-right:9px;border-radius: 63px;" width="70"
                                                                alt="">
                                                            <span
                                                                class="font-weight-bold username1">{{review.author?.username}}</span>
                                                        </div>
                                                        <div class="m-3">
                                                            <i *ngFor="let r of [].constructor(review.rating)"
                                                                class="fas fa-star" aria-hidden="true"></i>
                                                        </div>
                                                        <div>
                                                            <p>
                                                                {{review.text}}
                                                            </p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div id="webinars" class="container tab-pane fade"><br>

                                                <h3>My webinars</h3>


                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                    <div class="tab-pane fade" id="kycVerification" role="tabpanel"
                        aria-labelledby="kycVerification-tab">
                        <div class="mt-4 kycContent">
                            <div class="d-flex flex-row">
                                <form class="col-10">
                                    <div class="form-row mb-2">
                                        <label class="col-sm-2 col-form-label">Email :</label>
                                        <input type="email" disabled class="form-control col-sm-5"
                                            [value]="profile.email" />
                                    </div>

                                    <div class="form-row mb-2">
                                        <label class="col-sm-2 col-form-label">Phone Number :</label>
                                        <input [disabled]="profile.isNumberValid" type="text"
                                            class="form-control col-sm-5" [value]="profile.mobileNumber" #phonnum />
                                        <button [hidden]="profile.isNumberValid"
                                            class=" ml-1 mt-1 btn btn-sm btn-outline-primary" (click)="getOtp(phonnum)">
                                            Get Otp
                                        </button>
                                    </div>

                                    <div class="form-row mb-2" [hidden]="!showotp">
                                        <label class="col-sm-2 col-form-label">Otp :</label>
                                        <input type="text" class="form-control col-sm-5" [value]="" #otp />
                                        <button class=" ml-1 mt-1 btn btn-sm btn-outline-primary"
                                            (click)="verifyMobile(otp)">
                                            Verify
                                        </button>
                                    </div>

                                    <div class="form-row mb-2" *ngIf="!profile.verification.adharcard">
                                        <label class="col-sm-2 col-form-label">Adhar Front :</label>
                                        <input type="file" class=" col-sm-5" #adharCard />
                                    </div>
                                    <div class="form-row mb-2" *ngIf="profile.verification.adharcard">
                                        <label class="col-sm-2 col-form-label">Adhar Front :</label>
                                        <a class=" ml-1 mt-1 btn btn-sm btn-outline-primary" id="myLink2" href="link2"
                                            (click)="viewadharfront()" target="_blank">Click here</a>
                                    </div>

                                    <div class="form-row mb-2" *ngIf="!profile.verification.adharcard">
                                        <label class="col-sm-2 col-form-label">Adhar Back :</label>
                                        <input type="file" class=" col-sm-5" #adharCardBack />
                                    </div>
                                    <div class="form-row mb-2" *ngIf="profile.verification.adharcard">
                                        <label class="col-sm-2 col-form-label">Adhar Back :</label>
                                        <a class=" ml-1 mt-1 btn btn-sm btn-outline-primary" id="myLink3" href="link3"
                                            (click)="viewadharback()" target="_blank">Click here</a>
                                    </div>
                                    <div class="form-row mb-2" *ngIf="!profile.verification.adharcard">
                                        <label class="col-sm-2 col-form-label">Highest Qualification</label>
                                        <input type="file" class=" col-sm-5" #cert />
                                    </div>
                                    <div class="form-row mb-2" *ngIf="profile.verification.adharcard">
                                        <label class="col-sm-2 col-form-label">Highest Qualification</label>
                                        <a class=" ml-1 mt-1 btn btn-sm btn-outline-primary" id="myLink4" href="link4"
                                            (click)="viewCertificate()" target="_blank">Click here</a>
                                    </div>


                                    <!-- <div class="form-row mb-2">
                                        <label class="col-sm-2 col-form-label">Cancel Cheque</label>
                                        <input type="file" class=" col-sm-5" #cancelCheque />
                                    </div>-->


                                    <div class="text-center">
                                        <button *ngIf="!profile.verification.adharcard" class="btn btn-outline-dark"
                                            (click)="uploaddocs()">Save</button>
                                        <button *ngIf="profile.verification.adharcard" class="btn btn-outline-dark"
                                            (click)="editkycdocs()">Send Edit Request</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div [hidden]="'1'" class="tab-pane fade" id="newfeed" role="tabpanel"
                        aria-labelledby="newfeed-tab">
                        <div class="mt-4 mb-2 row text-center ml-3">
                            <h2>Create a news feed</h2>
                        </div>
                        <div class="text-sm-center text-lg-center text-md-center">
                            <div class="d-flex flex-row">
                                <form class="col-10" [formGroup]="addnewfeedform" (ngSubmit)="addnewfeed()">
                                    <div class="form-row mb-2">
                                        <label class="col-sm-2 col-form-label">Title :</label>
                                        <input formControlName="title" type="text" class="form-control col-sm-5" />
                                    </div>

                                    <div class="form-row mb-2">

                                        <label class="col-sm-2 col-form-label">Description:</label>
                                        <textarea formControlName="description" name="descriptionBox" cols="43"
                                            rows="10"></textarea>

                                    </div>

                                    <div class="form-row mb-2">
                                        <label class="col-sm-2 col-form-label">Upload Image</label>
                                        <input #feedfile formControlName="file" type="file" class=" col-sm-5" />
                                    </div>

                                    <div class="text-center">
                                        <button class="btn btn-outline-dark">Create Feed</button>


                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane fade" id="uploadpost" role="tabpanel" aria-labelledby="uploadpost-tab">
                        <div class="mt-4 kycContent">
                            <div class="d-flex flex-row">
                                <form class="col-10" [formGroup]="uploadpostform" (ngSubmit)="addnewpost()">
                                    <!-- <div class="form-row mb-2">
                                        <label class="col-sm-2 col-form-label">Title :</label>
                                        <input formControlName="title" type="text"
                                            class="form-control col-sm-5" />
                                    </div>-->


                                    <div class="form-row mb-2">
                                        <label class="col-sm-2 col-form-label">Image: </label>
                                        <br>
                                        <input formControlName="file" type="file" class=" col-sm-5" #postfile />
                                    </div>






                                    <div class="text-center">
                                        <button class="btn">Save</button>
                                    </div>
                                    <br><br>
                                    <div class="row">

                                        <div class="col-xs-1 col-sm-4 col-md-3 col-lg-3"
                                            *ngFor="let image of profile.gallery" class="mr-4 img-wraps">
                                            <span class="closes" title="Delete"
                                                (click)="deletepost(image._id)">&times;</span>
                                            <img [src]="image.url" style="height: 150px; width: 150px;"
                                                class="achviments">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
