    .form-control:focus {
        box-shadow: none;
        border-color: #ba68c8;
    }

    .port-image
{
    width: 100%;
}
.close{
    color:white !important;
    font-size: 20px !important;
}

.gallery_product
{
    margin-bottom: 30px;
}


    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none;
    }

    .profile-button:hover {
        background: #682773;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: #fff;
        background-color: #AD4FAE;
    }

    a {
        color: #AD4FAE;
    }

    .nav-pills .nav-link.active {
        color: #fff;
    }

    .profile-button:focus {
        background: #682773;
        box-shadow: none;
    }

    .profile-button:active {
        background: #682773;
        box-shadow: none;
    }

    .back:hover {
        color: #682773;
        cursor: pointer;
    }

    .labels {
        font-size: 11px;
    }

    .add-experience:hover {
        background: #ba68c8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #ba68c8;
    }

    .heading {
        margin: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .card-section {
        width: 20rem;
        /* margin: 20px 15px; */
        box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.2);
    }

    .card-section img {
        width: 100%;
        height: 200px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 36px));
        object-fit: cover;
    }

    .card-body h4 {
        margin: 0px;
        font-weight: bold;
        font-family: sans-serif;
        letter-spacing: 0.5px;
        color: #8f0090;
    }

    .card-body {
        padding: 0px 15px 20px 15px;
    }

    .card-body .border-line {
        border-bottom: 1px solid #8f0090;
        border-width: 3px;
        width: 70px;
        margin: 10px 0px;
    }

    .card-body .card-text {
        color: black;
        font-size: 13px;
        letter-spacing: 0.5px;
        margin-bottom: 0px;
    }

    @media screen and (max-width: 420px) {
        h2 {
            font-size: 1.4rem;
            text-align: center;
        }
    }

    @media screen and (min-width: 421px) {
        h2 {
            text-align: center;
        }
    }

    #prfile {
        background-color: rgba(143, 0, 144, 0.4);
        padding: 8px 2px 2px 13px;
        border-radius: 3px;
        font-weight: 300;
    }

    .card {
        position: relative;
        border-radius: 3px;
        background-color: #fff;
        color: #4f5256;
        border: 1px solid #f2f2f2;
        margin-bottom: 16px;
        background: #fff;
    }

    .card-header {
        padding: 16px;
        margin: 0px;
    }

    .card-body {
        position: relative;
        padding: 16px;
    }

    .gaadiex-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .btn{
      background-color: #8F0090;
      color:white;
      border:none;
    }

    .gaadiex-list>.gaadiex-list-item {
        padding: 0 22px;
    }

    .gaadiex-list-item-img {
        float: left;
        width: 58px;
        height: 58px;
        margin-top: 20px;
        margin-bottom: 8px;
        margin-right: 20px;
        border-radius: 50%;
    }

    .gaadiex-list-item i {
        float: left;
        font-size: 48px;
        width: 58px;
        height: 58px;
        margin-top: 20px;
        margin-bottom: 8px;
        margin-right: 20px;
        border-radius: 50%;
    }

    .border-b-1 {
        border-bottom: 1px solid rgba(162, 162, 162, 0.16);
    }

    .active-notification {
        background-color: darkgrey;
    }

    #prfile {
        font-size: 1.5rem;
    }

    @media screen and (min-width:320px) and (max-width:500px) {
        #prfile {
            font-size: 1rem;
        }
    }

    #prfile[aria-expanded="true"]:after {
        content: '\2212';
        float: right;
    }

    #prfile[aria-expanded="false"]:after {
        content: '\002b';
        float: right;
    }

    .badgee {
        border-radius: 50%;
        padding-bottom: 6px;
        padding-top: 3px;
        padding-left: 7px;
        padding-right: 7px;
    }

    @media screen and (min-width:768px) and (max-width:855px) {
        .navlnk {
            padding: 0.5rem 4rem;
        }
    }

    @media screen and (min-width:856px) and (max-width:900px) {
        .navlnk {
            padding: 0.5rem 5rem;
        }
    }

    @media screen and (min-width:901px) and (max-width:922px) {
        .navlnk {
            padding: 0.5rem 6.37rem;
            ;
        }
    }

    @media screen and (min-width:923px) and (max-width:940px) {
        .navlnk {
            padding: 0.5rem 6rem;
        }
    }

    @media screen and (min-width:941px) and (max-width:957px) {
        .navlnk {
            padding: 0.5rem 6.1rem;
        }
    }

    @media screen and (min-width:958px) {
        .navlnk {
            padding: 0.5rem 6rem;
        }
    }

    @media screen and (min-width:980px) and (max-width:1000px) {
        .navlnk {
            padding: 0.5rem 7rem;
        }
    }

    @media screen and (min-width:1100px) {
        .navlnk {
            padding: 0.5rem 8rem;
        }
    }

    .notfication-text {
        font-size: 20px;
        color: black;
        font-weight: bold;
    }

    .notfication-text2 {
        font-size: 20px;
        color: black;
    }

    textarea:disabled {
        background-color: #fff;
    }

    .introvideo {
        width: 407px;
        height: 63vh;
    }

    .ifrmaeVideo {
        width: 216px;
        height: 206px;
    }

    .nav-tabs2 .nav-link2.active {
        border-color: transparent;
        border-bottom: 4px solid #950F96;
    }

    .nav-link2,
    .nav-link2.active {
        color: #950F96;
        font-family: 'Roboto', sans-serif;
    }

    .navlnk.active {
        background-color: #d9e3eb;
    }

    @media screen and (min-width:350px) and (max-width:375px) {
        .navlnk {
            padding: 4px 24px;
        }
    }

    @media screen and (min-width:376px) and (max-width:420px) {
        .navlnk {
            padding: .5rem 2.1rem;
        }
    }

    @media screen and (min-width:530px) and (max-width:555px) {
        .navlnk {
            padding: 7px 69px;
        }
    }
    /*  */

    .nav-tabs2 .nav-link2.active {
        background-color: transparent;
        border-color: transparent;
        border-bottom: 4px solid #950F96;
    }

    .nav-link2,
    .nav-link2.active {
        color: #950F96;
        font-family: 'Roboto', sans-serif;
    }

    #inttro {
        border-top: 2px dashed #950F96;
        border-bottom: 2px dashed #950F96;
        padding: 5px;
        font-size: 15px;
    }

    #videointro {
        width: 120%;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 5px solid rgba(0, 0, 0, .1);
    }

    .fa-graduation-cap,
    .fa-language,
    .fa-check-circle {
        color: #950F96;
    }

    .achviments2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .achviments {
        width: 70%;
        padding-bottom: 10px;

    }

    @media screen and (max-width: 555px) and (min-width: 320px) {
        .achviments2 {
            display: flex;
            margin-left: 46px;
            flex-direction: column;
            justify-content: space-between;
        }
        .achviments {
            width: 75%;
            margin-bottom: 7px
        }
    }

    .username1 {
        font-size: 15px;
        color: #950F96;
    }

    .fa-star {
        font-size: 17px;
        color: rgb(241, 183, 36);
    }

    @media screen and (max-width: 575px) and (min-width: 400px) {
        h3 {
            font-size: 1rem;
        }
    }

    .ifrmaeVideo {
        width: 273px;
        height: 208px;
    }

    p,
    span {
        font-size: 15px;
        text-align: justify;
        font-family: 'Roboto', sans-serif;
    }

    .webinarr1-text {
        padding-left: 4.3rem;
    }

    @media screen and (min-width:350px) and (max-width:575px) {
        .kycContent {
            margin-left: 2.2rem;
        }
    }

    @media screen and (min-width:350px) and (max-width:375px) {
        #videointro {
            width: 109%;
        }
        .webinarr1-text {
            padding-left: 0.3rem
        }
    }
    /* News Feed */


    .img-wraps {
        position: relative;
        display: inline-block;

        font-size: 0;
    }
    .img-wraps .closes {
        position: absolute;
        top: 5px;
        right: 8px;
        z-index: 100;
        background-color: #FFF;
        padding: 4px 3px;

        color: #000;
        font-weight: bold;
        cursor: pointer;

        text-align: center;
        font-size: 22px;
        line-height: 10px;
        border-radius: 50%;
        border:1px solid red;
    }
    .img-wraps:hover .closes {
        opacity: 1;
    }

    #upload_button {
        display: inline-block;
        margin-top: 40px;
        margin-left: 50px;
      }
      #upload_button input[type=file] {
        display:none;
      }




