<main>
  <section class="heading">
    <div class="container">
      <div class="row justify-content-center">
        <h2>Choose your mode of contact</h2>
      </div>
    </div>
  </section>
  <section class="choose-card">
    <div class="container">
      <div class="row">
        <div class="card-section">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQacc2oDFiw1I0NnyJPMld4e_AgK_npkQnzpw&usqp=CAU"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h4 class="card-title text-uppercase">Voice Call</h4>
            <div class="border-line"></div>
            <p class="card-text">
              Join our sessions...
              <br />
              <span class="font-weight-bold lead">Voice Call - 300/Hr</span>
            </p>
          </div>
          <div class="m-3 text-center">
            <button class="text-center btn btn-primary" (click)="pay(300)">
              Select
            </button>
          </div>
        </div>

        <div class="card-section">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQacc2oDFiw1I0NnyJPMld4e_AgK_npkQnzpw&usqp=CAU"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h4 class="card-title text-uppercase">Video Call</h4>
            <div class="border-line"></div>
            <p class="card-text">
              Join our sessions...
              <br />
              <span class="font-weight-bold lead">Video Call - 3000/Hr </span>
            </p>
          </div>
          <div class="m-3 text-center">
            <button (click)="pay(3000)" class="text-center btn btn-primary">
              Select
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
