<section class="co pt-3 pb-3">
    <div class="container">
        <div class="row ">
            <div class="col-md-6">
                <div class="left-pane ">
                    <h2 class="text-uppercase" id="logo-text">
                        Webicoun India
                    </h2>
                </div>
                <div class="pt-4">
                    <p>We aim at solving any type of challenges/problem faced by the students, so that these problems do not accumulate and become a major problem in a long run.
                    </p>
                </div>

            </div>
            <div class="col-md-6">
                <div style="margin-top: 2rem;" class="">
                    <div class="mt-3 mb-4">
                        <h2>Login with your existing account</h2>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="justify-content-center">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" formControlName="email" class="w-75 form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">
                                        Email must be a valid email address
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                <div class="input-group position-relative w-75">
                                    <input [type]="password" autocomplete="off" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                    <span class="pt-2 ml-2 position-absolute" style="right: 1rem;" (click)="onClickk()">
                                    <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                                    <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                                </span>
                                </div>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">
                                        Password must be at least 6 characters
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="form-group">
                            <label>Password</label>
                            <input type="password" autocomplete="off" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    
                            <span class="pt-2 ml-2" (click)="onClickk()">
                                <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                                <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                              </span>
    
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
    
    
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">
                                    Password must be at least 6 characters
                                </div>
                            </div>
                        </div> -->


                        </div>
                        <div class="">
                            <button class="btn btn-primary mr-1">Log In</button>
                            <a routerLink="/signup" class="btn btn-danger ml-3">New here? Create your account
          </a>
                        </div>

                        <br />
                        <div class="">
                            <div class="row text-lg-center ml-auto mt-5 mt-md-0" *ngIf="!userName">
                                <a class="btn btn-dark mr-3 mr-lg-0" routerLink="/expertsignup">Login/Sign up as expert</a>
                                <a class="ml-3 mt-2" routerLink="/forgotpassword">Forgot Password? </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>