@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.p-5 {
  margin: 100px auto 50px auto;
  width: 60%;
}

.co {
  /* margin-top: 5rem; */
  min-height: 70vh;
  background-color: #f0f2f5;
}

.left-pane {
  margin-top: 2rem;
}

#logo-text {
  /* font-weight: bold; */
  letter-spacing: 2px;
  /* word-spacing: 8px; */
  color: #8f0090;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

/* h2 {
    margin-bottom: 50px;
} */

@media screen and (max-width: 350px) {
  .co {
    padding: 2rem;
    /* min-height: 100vh; */
  }
  button {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .co {
    /* padding: 2rem; */
    min-height: 40vh;
  }
}
