<main class="mt-4">
    <section>
        <div class="container">
            <!-- <div class="row mt-4 p-3 bg-white">
                <div class="mt-2">
                    <i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true">&nbsp;
                        <a routerLink="/Webinarss">Back</a>
                    </i>
                </div>
            </div> -->

            <div class="row mt-4 p-3 bg-white">
                <div class="mt-2 ml-3">
                    <h3 class="font-weight-bold">Past Webinars</h3>
                </div>
            </div>

            <div class="row mt-4 p-3 bg-white">
                <div class="w-100">
                    <p>Showing result in {{(page - 1) * 10 + 1}}-{{page * 10}} of {{webinars.length}}</p>

                </div>
                <div class="card w-100 mb-3" *ngFor="let web of visiblewebinars">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <iframe [src]="web.webiurl" frameborder="0" allowfullscreen style="width: 100%;">
                                </iframe>
                            </div>
                            <div class="col-md-6 ">

                                <h4 class="font-weight-bold">
                                    {{web.title}}
                                </h4>
                                <!-- <h5>Video length:</h5> -->
                                <p class="text-justify">
                                    {{web.description}}
                                </p>
                            </div>
                            <div class="col-md-2 col-12">
                                <div class="text-md-right text-sm-center text-lg-center">
                                    <p class="datee">
                                        {{web.date}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <pagination [totalItems]="webinars.length" (pageChanged)="pageChanged($event)"></pagination>


            </div>

        </div>
    </section>
</main>