<main class="p-4" id="main-section">
  <section class="content">
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="text-uppercase display-2">Physical WELLNESS</h1>
      </div>
      <div class="row justify-content-center">
        <img
          src="/assets/Physical no bg.png"
          width="500"
          class="img-fluid"
          alt=""
        />
        <div class="row justify-content-center">
          <h2>The ability of your body system!</h2>
          <p class="ml-3 mr-3">
            It is not only related to one's physical appearance but also their
            health which allows one to work hard and perform daily living
            activities without any fatigue. When one is physically fit, he has
            good control over his emotion and mental health as well.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="main-section">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex flex-wrap justify-content-around">
          <div
            class="card m-2"
            style="width: 18rem"
            *ngFor="let web of webinars"
          >
            <iframe
              [src]="getembedurl(web.videourl)"
              frameborder="0 "
              allowfullscreen
              style="height: 250px; width: auto"
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
