@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
#main-section {
    min-height: 100vh;
    background-image: linear-gradient(105deg, #F7CA18, #EDEB6D);
}

#main-section .content .container .row h1 {
    font-family: 'Raleway', sans-serif;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    font-size: 2.3rem;
    line-height: 1.2;
    padding: 2.1rem;
}

#myCarousel .list-inline {
    white-space: nowrap;
    overflow-x: auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators>li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel .carousel-indicators>li.active img {
    opacity: 0.7;
}

.carousel-item {
    height: 200px;
    margin-bottom: 14rem;
}

.carousel-item img {
    height: 200px;
    object-fit: contain;
}