<main>
    <section class="py-0" id="forms-12">
        <div class="background-holder" style="background-image:url('../../assets/Blogging_wallpaper_1000x.webp');">
        </div>

        <div class="container">
            <div class="row h-full align-items-center justify-content-center py-6">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="background-white radius-secondary p-5 text-center shadow-lg">
                        <h2 class="fw-300 font-2">Welcome back experts!</h2>
                        <form class="zform mt-5" [formGroup]="registerForm">
                            <div class="input-group mb-3">

                                <input class="form-control" type="email" formControlName="email"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Your Email"
                                    aria-label="Email">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">
                                        Email must be a valid email address
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mb-3" *ngIf="!emailnotverified">

                                <input class="form-control" [type]="password" placeholder="Password"
                                    aria-label="Password" autocomplete="off" formControlName="password"
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                <span class="pt-2 ml-2 position-absolute" style="right: 1rem;" (click)="onClickk()">
                                    <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                                    <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                                </span>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">
                                        Password must be at least 6 characters
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mb-3">

                                <input *ngIf="emailnotverified" class="form-control" [type]="password" placeholder="Otp"
                                    aria-label="Password" autocomplete="off" formControlName="otp" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.otp.errors }">
                            </div>


                            <div class="fs-1 text-center">
                                <button *ngIf="!emailnotverified" class="btn btn-primary mr-1" (click)="onSubmit()">Log
                                    in</button>
                                <button *ngIf="emailnotverified" class="btn btn-primary mr-1"
                                    (click)="resendotp()">Resend Otp</button>
                                <button *ngIf="emailnotverified" class="btn btn-primary mr-1"
                                    (click)="validateotp()">Validate Otp</button>
                                <button *ngIf="!emailnotverified" class="btn mr-2 btn-secondary" type="reset"
                                    (click)="onReset()">
                                    Cancel
                                </button>
                                <br>
                                <a routerLink="/expertforgotpassword">Forgot Password? </a>
                            </div>
                            <div class="form-group">

                            </div>
                            <div class="zform-feedback"></div>
                        </form>
                        <hr class="color-9 mt-5">

                        <p class="fs--1 fw-300 color-5">Don't have an Account? <a routerLink="/expertsignup">Sign Up</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>