.co {
    margin-top: 8.5rem;
    margin-bottom: 17.5rem;
}

.co h2 {
    margin-bottom: 50px;
}

section {
    position: relative;
    padding: 7.5rem 0;
}

.py-6 {
    padding-top: 4rem!important;
    padding-bottom: 4rem!important;
}

.h-full {
    min-height: 100vh;
}

.container {
    position: relative;
}

.container {
    z-index: 1;
}

.background-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
    overflow: hidden;
    will-change: transform, opacity, filter;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-repeat: no-repeat;
}

.background-white {
    background-color: #fff!important;
}

.radius-secondary {
    border-radius: 10px!important;
}