/* new design */
.next-button {
    border: none;
    margin-top: 3rem;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 22px;
    font-weight: bold;
    background: linear-gradient(to left, #ED6B88, #CA73C3);
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        top: 4rem;
        left: -4rem;
        right: 0;
    }
}

.imgProfile {
    width: 29px;
    border-radius: 50%;
    margin-top: -3px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 5rem auto;
    }
}


.button {
  display: flex;
  overflow: hidden;

  margin: 10px;
  padding: 12px 12px;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  color: #fff;
  border: 0 none;
  border-radius: 36px;

  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
 
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  
  box-shadow: 2px 5px 10px #e4e4e4;
}



.button.-blue {
  color: #FFFFFF;
  background: #416dea;
}

.button.-salmon {
  color: #FFFFFF;
  background: #F32C52;
}

.button.-blue:focus, .button.-salmon:focus{
  outline: 1px dotted #959595;
  outline-offset: -4px;
}