<app-header></app-header>
<main>
  <section class="heading">
    <div class="container">
      <div class="row justify-content-center">
        <h2 class="font-weight-bold">Choose your mode of contact</h2>
      </div>
    </div>
  </section>
  <section class="choose-card">
    <div class="container">
      <div class="row justify-content-center">
        <div class="card-section ml-4 mr-5 mt-3">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQacc2oDFiw1I0NnyJPMld4e_AgK_npkQnzpw&usqp=CAU"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h4 class="card-title text-uppercase">Voice Call</h4>
            <div class="border-line"></div>
            <p class="card-text">
              <br />
              <span class="font-weight-bold lead">Voice Call - 600/Hr</span>
            </p>
          </div>
          <div class="m-3 text-center">
            <button class="text-center btn btn-primary" (click)="pay('video')">
              Select
            </button>
          </div>
        </div>
        <div class="card-section ml-3 mt-3">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQacc2oDFiw1I0NnyJPMld4e_AgK_npkQnzpw&usqp=CAU"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h4 class="card-title text-uppercase">Audio Call</h4>
            <div class="border-line"></div>
            <p class="card-text">
              <br />
              <span class="font-weight-bold lead">Audio Call - 400/Hr </span>
            </p>
          </div>
          <div class="m-3 text-center">
            <button (click)="pay('audio')" class="text-center btn btn-primary">
              Select
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
