<!-- THIS IS A TERMS AND CONDITION SECTION -->
<section class="tnc">
    <div class="container">
        <div>
            <h1 class="text-center">Welcome to Webicoun India!</h1>
        </div>
        <div class="row p-3">
            <p>
                These Terms & Conditions (“Terms”) of: <br />(a) use of our website webicoun.com (“Website”), or any products or services in connection with the Website/services (“Services”), or <br />(b) any modes of registrations or usage of services,
                including through SD cards, mobiles or other storage/transmitting device are between Webicoun India (“Company/We/Us/Our”) and its users (“User/You/Your”).
                <br /><br />Please read the Terms and the privacy policy of the Company (“Privacy Policy”) with respect to registration with us, the use of the Website or Services carefully before using the Website or Services. In the event of any discrepancy
                between the Terms and any other policies with respect to the Website or Services, the provisions of the Terms shall prevail. <br />Your use/access/browsing of the Website or the Services or registration (with or without payment/with or
                without subscription) through any means shall signify your acceptance of the Terms and Your agreement to be legally bound by the same. <br />If you do not agree with the Terms or the Privacy Policy, please do not use the Website or avail
                the Services or products. Any access to our Services through registrations/subscription is non-transferable.<br /><br /> 1. Except as mentioned below, all information, content, material, trademarks, services marks, trade names, and trade
                secrets including but not limited to the software, text, images, graphics, video, script and audio, contained in the Website and Services are proprietary property of the Company (“Proprietary Information”). No Proprietary Information may
                be copied, downloaded, reproduced, modified, republished, uploaded, posted, transmitted or distributed in any way without obtaining prior written permission from the Company and nothing on this Application or Website or Services shall
                be or products deemed to confer a license of or any other right, interest or title to or in any of the intellectual property rights belonging to the Company, to the User. <br /><br />2. Your use of our products, Website and Services is
                solely for your personal and non-commercial use. Any use of the Website or Services or their contents other than for personal purposes is prohibited.
                <br /><br />3. We may, as your agent, directly or through an intermediary ask another contractor (“Third Party Contractor”) to carry out some or all of any work which you instruct us to carry out for you. We shall pay the charges of Third
                Party Contractors on your behalf and recharge them to you with our own fees. We will take all reasonable care in selecting and instructing a Third Party Contractor. However, we have no control over the activities of a Third Party Contractor
                and therefore accept no responsibility for the services provided to you by that Third Party Contractor or for any errors or omissions in its work or products.
                <br /><br />4. The Refund of any packages purchased can be done within 7 days only. If it exceeds any day after that, the refund cannot be processed.
                <br /><br /> 5. We provide services only on the basis that those instructing us give us all proper, necessary and timely instructions, authority and information (including the execution of all documents required) to enable us to undertake
                lawfully and effectively the business instructed, and that those instructing us indemnify us accordingly. <br /><br />6. We accept material for printing and/or publication on the basis that those submitting the material are responsible
                for ensuring it is free from defamatory matter and does not infringe copyright or any other third party rights, and that those instructing us indemnify us accordingly. <br /><br />7. Our services are provided solely for the use of our
                client and that client’s own client on whose behalf the work has been commissioned and shall not be used or relied upon by any other third party.<br /><br /> 8. All prices quoted are valid for acceptance by the Customer for 30 days after
                which time (except to the extent such prices form part of a Contract) they may be altered by Webicoun India without giving notice to the Customer to reflect increases in costs to Webicoun India (including without limitation costs of materials,
                labour, transport and services and any tax duty or charge imposed by any government or other authorities). Where applicable, after an order has become binding on Webicoun India, all prices will have VAT added at the appropriate rate. (Unless
                otherwise agreed in writing and save in the care of direct mail packs, packaging and delivery to the address of the Customer set out overleaf are normally included in the price). We reserve the right to increase prices at any time for
                our services, as a result of an increase to our costs beyond our reasonable control. If we do, we will notify you in writing.<br /><br /> 9. Products are delivered over the internet via email or other file sharing services. Where you request
                an alternative method of delivery, you must meet those costs. Services are provided using reasonable skill and care. The description and price of goods and services and delivery details will be provided in the confirmation of order and/or
                invoice dispatched with the product or service <br /><br />10. We may require cash payment in advance before providing any goods or services. Where we have agreed credit terms, our invoices are due for payment 28 days from their date.
                <br /><br />11. Where you instruct us to undertake any service, you will be responsible for our costs in providing that service whether or not it proceeds to its conclusion.
            </p>
        </div>
    </div>
</section>