@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
.tnc {
    margin-top: 7rem;
}

p {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;
}