<section class="co pt-3 pb-3">
  <br />
  <br />
  <h2 class="text-center">Reset Password</h2>
  <div class="container">
    <div class="row justify-content-center">
      <form
        [formGroup]="form"
        (ngSubmit)="resetpassword()"
        style="width: 300px"
      >
        <div class="form-group">
          <label>Password</label>
          <div class="input-group">
            <input
              [type]="password"
              autocomplete="off"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            />
            <span class="pt-2 ml-2" (click)="onClickk()">
              <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
              <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
            </span>
          </div>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>

        <div class="text-center">
          <button class="btn btn-primary mr-1">Reset Password</button>
          <a routerLink="/expert-sign-in" class="btn btn-danger ml-3">Login </a>
        </div>
      </form>
    </div>
  </div>
</section>
