.p-5 {
  margin: 100px auto 50px auto;
  width: 60%;
}

.co {
  min-height: 43vh;
}

h2 {
  margin-bottom: 50px;
}

@media screen and (max-width: 350px) {
  .co {
    padding: 2rem;
    /* min-height: 100vh; */
  }
  button {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .co {
    /* padding: 2rem; */
    min-height: 40vh;
  }
}
