<section style="margin-top: 3rem">
    <div class="ml-1 mr-3">
        <div class="row">
            <div class="pt-3 text-dark col-md-3 mb-3">
                <img class="rounded-circle ml-5" [src]="profile.image" width="110" />

                <br />


                <div id="upload_button" class="text-center">
                    <label>
                        <input type="file" value="Chnage Image" class="mt-2 p-2" style=" margin-left: 7px"
                        (change)="changeAvatar(file.files)" #file />
                      <span class="btn">Upload file</span>
                    </label>
                  </div>

                <ul class="nav nav-pills flex-column mt-5" id="myTab" role="tablist">
                    <li class="nav-item p-1 ">
                        <a class="nav-link active " id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                            <span class="navtabb text-uppercase"> Profile </span>
                        </a>
                    </li>
                    <li class="nav-item p-1" [hidden]="'true'">
                        <a class="nav-link " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                            <span class="navtabb  text-uppercase"> My Classes </span>
                        </a>
                    </li>
                    <!-- <li class="nav-item p-1 ">
                        <a class="nav-link " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                            <span class="navtabb  text-uppercase"> History </span>
                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="col-md-8">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="rounded bg-white mt-3">
                            <div class="row">
                                <div class="col-md-8 ">
                                    <div class="d-flex flex-row  justify-content-between mt-4">
                                        <div>
                                            <h3 id="accontinfo">Account Information</h3>
                                        </div>
                                        <div>
                                            <button class="btn btn-primary mr-1 text-white" style="background-color: #AD4FAE; border: none;" (click)="editprofie = true" id="editbutton" *ngIf="!editprofie">
                                                <i class="fa fa-edit"></i> &nbsp; Edit</button>
                                            <button class="btn btn-primary mr-1" (click)="editprofile()" *ngIf="editprofie">Save</button>
                                            <button class="btn btn-default mr-1" (click)="editprofie = false" *ngIf="editprofie">Cancel</button>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row mt-3 justify-content-between">
                                        <div>
                                            <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)" id="studentform">
                                                <div class="form-group">
                                                    <div>
                                                        <label class="d-inline-block  text-uppercase font-weight-bold" style="
                                                        width: 140px;
                                                        text-align: right;">Name</label>
                                                        <span *ngIf="!editprofie"> {{ profile.fullName }}</span>
                                                    </div>
                                                    <div *ngIf="editprofie">
                                                        <input type="text" formControlName="fullName" class="form-control" [ngClass]="{'is-invalid': submitted && f.fullName.errors}" />
                                                        <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                                                            <div *ngIf="f.fullName.errors.required">
                                                                Name is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="form-group">
                                                    <div>
                                                        <label class="d-inline-block text-uppercase font-weight-bold" style="width: 140px;
                                                        text-align: right;">Description:</label>
                                                        <span *ngIf="!editprofie">{{ profile.description }}</span>

                                                    </div>
                                                    <div *ngIf="editprofie">
                                                        <textarea type="te" formControlName="description" class="form-control" [ngClass]="{
                                                            'is-invalid': submitted && f.description.errors}" placeholder="description">
                                                        </textarea>
                                                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                                            <div *ngIf="f.description.errors.required">
                                                                Descritption is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <div class="form-group">
                                                    <div>
                                                        <label class="text-uppercase font-weight-bold d-inline-block" style="width: 140px;
                                                        text-align: right;">Age: </label>
                                                        <span *ngIf="!editprofie"> {{ profile.age }} </span>
                                                    </div>
                                                    <div *ngIf="editprofie">
                                                        <input type="text" formControlName="age" class="form-control" [ngClass]="{'is-invalid': submitted && f.age.errors}" />
                                                        <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
                                                            <div *ngIf="f.age.errors.required">
                                                                Number is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div>
                                                        <label style="width: 140px;
                                                        text-align: right;" class=" d-inline-block font-weight-bold">Gender: &nbsp;</label>
                                                        <span *ngIf="!editprofie">{{ profile.gender }}</span>
                                                    </div>
                                                    <div class="row" *ngIf="editprofie">
                                                        <div class="custom-control custom-radio">
                                                            <input id="male" type="radio" class="form-control custom-control-input" value="male" name="gender" formControlName="gender" [ngClass]="{'is-invalid': submitted && f.gender.errors}" />
                                                            <label class="text-uppercase custom-control-label" for="male">Male</label>
                                                        </div>

                                                        <div class="custom-control custom-radio">
                                                            <input id="female" type="radio" class="form-control custom-control-input" value="female" name="gender" formControlName="gender" [ngClass]="{'is-invalid': submitted && f.gender.errors}" />
                                                            <label class="text-uppercase custom-control-label" for="female">Female</label>
                                                        </div>

                                                        <div class="custom-control custom-radio">
                                                            <input id="others" type="radio" class="form-control custom-control-input" value="others" name="gender" formControlName="gender" [ngClass]="{'is-invalid': submitted && f.gender.errors}" />
                                                            <label class="text-uppercase custom-control-label" for="others">Others</label>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                                        <div *ngIf="f.gender.required">* required</div>
                                                    </div>
                                                </div>
                                                <div class="form-group" *ngIf="isSubscribed">
                                                    <label class="text-uppercase font-weight-bold">Subscription: &nbsp; {{ profile.subscription.category }} - {{ profile.subscription.doj | date: "mediumDate" }}</label>
                                                </div>

                                                <hr>
                                                <div class="d-flex flex-column">
                                                    <div class="mb-3">
                                                        <h3>Contact Information</h3>
                                                    </div>
                                                    <div class="form-group">
                                                        <div>
                                                            <label class="d-inline-block text-uppercase font-weight-bold" style="width: 140px;
                                                            text-align: right;">Email:</label>
                                                            <span *ngIf="!editprofie"> {{ profile.email }} </span>
                                                        </div>
                                                        <div *ngIf="editprofie">
                                                            <input disabled type="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': submitted && f.email.errors}" />
                                                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                                <div *ngIf="f.email.errors.required">
                                                                    Email is required
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div>
                                                            <label style="width: 140px;
                                                        text-align: right;" class="d-inline-block text-uppercase font-weight-bold">Phone :</label>
                                                            <span *ngIf="!editprofie">{{ profile.mobileNumber }}</span>
                                                        </div>
                                                        <div *ngIf="editprofie">
                                                            <input disabled type="email" formControlName="mobileNumber" class="form-control" [ngClass]="{
                                                                'is-invalid': submitted && f.mobileNumber.errors}" />
                                                            <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                                                                <div *ngIf="f.mobileNumber.errors.required">
                                                                    Number is required
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <!-- <div class="p-3 py-5">
                                        <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">
                                            <div class="row mt-2">
                                                <div class="col-md-6" class="form-group">
                                                    <input type="text" formControlName="name" class="form-control" placeholder="Your Full name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                                        <div *ngIf="f.name.errors.required">Name is required</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" value="Doe" placeholder="Doe">
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" placeholder="Email">
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" value="+19685969668" placeholder="Phone number">
                                                </div>
                                            </div>
                                           <div class="row mt-3">
                                                <div class="col-md-6"><input type="text" class="form-control" placeholder="address" value="D-113, right avenue block, CA,USA"></div>
                                                 <div class="col-md-6"><input type="text" class="form-control" value="USA" placeholder="Country"></div>
                                            </div>
                                            <div class="row mt-3">
                                             <div class="col-md-6"><input type="text" class="form-control" placeholder="Bank Name" value="Bank of America"></div>
                                            <div class="col-md-6"><input type="text" class="form-control" value="043958409584095" placeholder="Account Number"></div>
                                            </div>
                                            <div class="mt-5 text-right">
                                                <button class="btn btn-primary profile-button" type="button">Save Profile</button>
                                            </div>
                                        </form>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="mt-5">

                            <div>




                                <h2>Upcoming Classes</h2>
                                <div class="">
                                    <div id="multi-item-example" class="carousel slide carousel-multi-item " data-ride="carousel">
                                        <ol class="carousel-indicators last-indicators">
                                            <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                                            <li data-target="#multi-item-example" data-slide-to="1"></li>
                                            <li data-target="#multi-item-example" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">


                                            <ng-template ngFor let-classes [ngForOf]="upcomingClasses" let-index="index">
                                                <div id="media-carousel" [class] = "{'carousel-item': true , active: index == 0}">
                                                <div class="d-flex align-content-center">
                                                    <div *ngFor= "let class of classes" class="col-md-4 mr-3 col-12 col-sm-6">
                                                        <img [src]="class.image" style="width: 100%;" alt="">
                                                    </div>
                                                </div>
                                                </div>

                                            </ng-template>


                                        </div>
                                        <div class="controls-top text-right mt-3">
                                            <a class="btn-floating mr-3" href="#multi-item-example" data-slide="prev">
                                                <i class="fa fa-arrow-left p-2" style="color: white;background-color: #961297;border-radius: 4px;" aria-hidden="true"></i>
                                            </a>
                                            <a class="btn-floating" href="#multi-item-example" data-slide="next">
                                                <i class="fa fa-arrow-right p-2" aria-hidden="true" style="border-radius: 4px;color: white;background-color: #961297;"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>















                            <div>




                                <h2>Past Classes</h2>
                                <div class="">
                                    <div id="multi-item-example2" class="carousel slide carousel-multi-item " data-ride="carousel">
                                        <ol class="carousel-indicators last-indicators">
                                            <li data-target="#multi-item-example2" data-slide-to="0" class="active"></li>
                                            <li data-target="#multi-item-example2" data-slide-to="1"></li>
                                            <li data-target="#multi-item-example2" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">

                                             <ng-template ngFor let-classes [ngForOf]="pastLiveClasses" let-index="index">
                                                <div id="media-carousel" [class] = "{'carousel-item': true , active: index == 0}">
                                                <div class="d-flex align-content-center">
                                                    <div *ngFor= "let class of classes" class="col-md-4 mr-3 col-12 col-sm-6">
                                                        <video width="320" height="240" controls>
                                                            <source [src]="class.video" type="video/mp4">
                                                          </video>
                                                    </div>
                                                </div>
                                                </div>

                                            </ng-template>

                                        </div>
                                        <div class="controls-top text-right mt-3">
                                            <a class="btn-floating mr-3" href="#multi-item-example2" data-slide="prev">
                                                <i class="fa fa-arrow-left p-2" style="color: white;background-color: #961297;border-radius: 4px;" aria-hidden="true"></i>
                                            </a>
                                            <a class="btn-floating" href="#multi-item-example2" data-slide="next">
                                                <i class="fa fa-arrow-right p-2" aria-hidden="true" style="border-radius: 4px;color: white;background-color: #961297;"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row" style="justify-content: flex-start">
                            <div class="d-flex flex-column bd-highlight mb-3 mr-5">
                                <div class="p-2 bd-highlight">
                                    Start Date
                                    <span class="lead" style="letter-spacing: 2px">{{ profile.subscription.doj | date: "mediumDate" }}</span>
                                </div>
                                <div class="p-2 bd-highlight">End Date
                                    <span class="lead" style="letter-spacing: 2px">{{ profile.subscription.   doe | date: "mediumDate" }}
                                    </span>
                                </div>
                            </div>
                        </div> -->
                    </div>

                    <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                        <h2>Change Password</h2>
                        <button type="button" class="btn btn-danger m-3" data-toggle="modal" data-target="#exampleModal">
                            Change Password
                        </button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            Enter Passwords:
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="passwordForm" (ngSubmit)="onpasswordchange(passwordForm.value)">
                                            <div class="form-group">
                                                <input type="password" class="form-control" formControlName="oldPassword" placeholder="Current Password" [ngClass]="{'is-invalid': submitted && f.oldPassword.errors}" />
                                                <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                                                    <div *ngIf="f.oldPassword.errors.required">
                                                        required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" formControlName="newPassword" placeholder="New Password" [ngClass]="{'is-invalid': submitted && f.newPassword.errors}" />
                                                <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                                                    <div *ngIf="f.newPassword.errors.required">
                                                        required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" formControlName="newPassword2" placeholder="Type New Password Again" [ngClass]="{'is-invalid': submitted && f.newPassword2.errors}" />
                                                <div *ngIf="submitted && f.newPassword2.errors" class="invalid-feedback">
                                                    <div *ngIf="f.newPassword2.errors.required">
                                                        required
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-success">Change</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
