body {
    background: #ba68c8;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ba68c8;
}

.profile-button {
    background: #ba68c8;
    box-shadow: none;
    border: none;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #AD4FAE;
}

.nav-pills .nav-link.active {
    color: #fff;
}
.btn{
  background-color: #8F0090;
  border:none;
  color:white;
}


/*
.navtabb {
    color: black;
    font-size: 22px;
} */

.profile-button:hover {
    background: #682773;
}

.profile-button:focus {
    background: #682773;
    box-shadow: none;
}

.profile-button:active {
    background: #682773;
    box-shadow: none;
}

.back:hover {
    color: #682773;
    cursor: pointer;
}

a {
    color: #AD4FAE;
}

#subscrp {
    border-radius: 100%;
    border: 5px solid red;
    width: 200px;
    height: 200px;
    padding: 71px 34px 66px 24px;
    /* line-height: 10px; */
}

.span_pseudo,
.chiller_cb span:before,
.chiller_cb span:after {
    content: "";
    display: inline-block;
    background: #fff;
    width: 0;
    height: 0.2rem;
    position: absolute;
    transform-origin: 0% 0%;
}

.chiller_cb {
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
}

.chiller_cb input {
    display: none;
}

.chiller_cb input:checked~span {
    background: #fd2727;
    border-color: #fd2727;
}

.chiller_cb input:checked~span:before {
    width: 1rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.3s;
}

.chiller_cb input:checked~span:after {
    width: 0.4rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.2s;
}

.chiller_cb input:disabled~span {
    background: #ececec;
    border-color: #dcdcdc;
}

.chiller_cb input:disabled~label {
    color: #dcdcdc;
}

.chiller_cb input:disabled~label:hover {
    cursor: default;
}

.chiller_cb label {
    padding-left: 2rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 0;
}

.chiller_cb span {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #ccc;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
}

.chiller_cb span:before {
    transform: rotate(-55deg);
    top: 1rem;
    left: 0.37rem;
}

.chiller_cb span:after {
    transform: rotate(35deg);
    bottom: 0.35rem;
    left: 0.2rem;
}

label {
    text-align: left!important;
}


/* #editbutton {} */

@media screen and (min-width:320px) and (max-width:800px) {
    #accontinfo {
        font-size: 22px;
        margin-left: 12px
    }
    #studentform {
        margin-left: 40px
    }
}

@media screen and (min-width:320px) and (max-width:853px) {
    #editbutton {
        padding: 4px 7px 4px 7px;
        font-size: 15px;
    }
}

@media screen and (min-width:800px) and (max-width:831px) {
    #editbutton {
        padding: 4px 7px 4px 7px;
        font-size: 12px;
    }
}

#upload_button {
    display: inline-block;
    margin-top: 40px;
    margin-left: 50px;
  }
  #upload_button input[type=file] {
    display:none;
  }
