@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

body {
  background-color: #f0f2f5;
  letter-spacing: 0.015em;
}

* {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

article{
    height: 150px;
    cursor: pointer;
}

.section {
  position: relative;
  padding: 3rem 0;
}

.button {
  margin: 0;
  background: #386696;
  padding: 1em 2em;
  border-radius: 2em;
  color: #b6cde4;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  font-size: 0.7em;
  cursor: pointer;
  transition: 0.3s ease;
}
.button:hover {
  color: white;
  background: #4075ac;
}
.button i {
  margin-right: 0.5em;
  opacity: 0.4;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 2em;
}

.download-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: -2rem;
}

.download-card {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2em);
  background: #fbfbfb;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 2em;
  box-shadow: 0 32px 22px rgba(148, 161, 193, 0.2), 0 6px 12px rgba(64, 66, 93, 0.15);
  border-bottom: 1px solid #d2d2d2;
  border-left: 1px solid #dadada;
  margin: 0 1em 2em;
}
.download-card a.button {
  text-decoration: none;
}
@media (min-width: 700px) {
  .download-cards[data-view=grid-view] .download-card {
    float: left;
    width: calc( 50% - 2em );
  }
  .download-cards[data-view=grid-view] .download-card:nth-child(3) {
    clear: both;
  }
  .download-cards[data-view=grid-view] .download-card:nth-child(4) {
    clear: initial;
  }
}
@media (min-width: 1000px) {
  .download-cards[data-view=grid-view] .download-card {
    width: calc( (100% / 3) - 2em );
  }
  .download-cards[data-view=grid-view] .download-card:nth-child(3) {
    clear: initial;
  }
  .download-cards[data-view=grid-view] .download-card:nth-child(4) {
    clear: both;
  }
}
@media (min-width: 700px) {
  .download-cards[data-view=list-view] .download-card {
    padding-left: calc(200px);
  }
}
.download-card__image {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  text-align: center;
  min-height: 150px;
  background-size: cover;
}
@media (min-width: 700px) {
  .download-card__image {
    justify-content: center;
  }
}
@media (min-width: 700px) {
  .download-cards[data-view=list-view] .download-card__image {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.download-card__content {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.download-card__category {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  margin: 0 0 2em;
  display: block;
}
.download-card__category::before {
  content: "| ";
  color: #386696;
}
.download-card__title {
  line-height: 1;
  margin: 0 0 0.5em;
  font-size: 18px;
}
.download-card__description {
  line-height: 1.5;
  padding: 0;
  margin: 0 0 1.5em;
  clear: both;
  color: #8b8e9c;
  font-size: 16px;
}

.dc-view-switcher {
  display: none;
  margin-bottom: 1em;
  text-align: right;
}
@media (min-width: 700px) {
  .dc-view-switcher {
    display: block;
  }
}
.dc-view-switcher > button {
  font-family: "fontAwesome";
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  vertical-align: middle;
  color: #386696;
  opacity: 0.3;
  outline: none;
  transition: opacity 0.4s ease;
  padding: 0;
}
.dc-view-switcher > button:nth-child(1) {
  margin-right: 0.5rem;
}
.dc-view-switcher > button[data-trigger=list-view]::before {
  content: "";
}
.dc-view-switcher > button[data-trigger=grid-view]::before {
  content: "";
}
.dc-view-switcher > button[data-trigger].active {
  opacity: 1;
}



/* Modal */

.modal {
  display: block;
  width: 460px;
  height: 420px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.closed {
  display: none;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  
  background: rgba(0, 0, 0, 0.6);
}
.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 50px 20px 20px;
}

.modal .close-button {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
  border: 0;
  background: black;
  color: white;
  padding: 0px 6px;
}
