<div class="container">
    <div class="row col-md-12">
        <div class="col-md-8" style="background-color: white;border: 1px solid #fff;border-radius: 30px;">
            <section class="section">
                <div class="download-card__content">
                    <header style="display:flex">
                        <h3 class="download-card__title" style="flex:1">{{course.title}}</h3>
                        {{course.numSessions}} Lessons
                    </header>
                </div>

                <div class="download-cards" data-view="list-view">
                    <article *ngFor="let web of course.videos; let i = index" class="download-card"
                        (click)="playvideo(web._id, web.active, i)">
                        <img class="download-card__image" [src]="web.thumbnail" />
                        <div class="download-card__content">
                            <header>
                                <h3 class="download-card__title">{{web.title}}</h3>
                                <p class="download-card__description">
                                    {{web.description}}
                                </p>
                            </header>
                        </div>
                    </article>
                </div>
            </section>
        </div>

        <div class="col-md-4">
            <section class="section">
                <div class="download-card__content">
                    <header>
                        <h4 class="download-card__title">
                            <button *ngIf="certificate" (click)="getcertificate()" type="button" class="button">Get
                                Certificate</button>
                        </h4>
                        <h4 class="download-card__title" *ngIf="!hidestartcourse">
                            <button (click)="startcourse()" type="button" class="button">Start Course</button>
                        </h4>
                    </header>
                </div>

                <div>
                    <article class="download-card">
                        <div class="download-card__content">
                            <p>
                                {{course.description}}
                            </p>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>
</div>

<ng-template #template>

    <div class="modal" id="modal">
        <button class="close-button" id="close-button" (click)="modalRef.hide()">x</button>
        <div class="modal-guts">
            <h2>&nbsp;</h2>
            <iframe allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen"
                msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen"
                webkitallowfullscreen="webkitallowfullscreen" width="420" height="315" [src]="videourl">
            </iframe>
        </div>
    </div>

</ng-template>