<main class="homepage">
    <section class="banner-top">
        <img src="/assets/bannerlive-page.png" style="object-fit: fill;width: 100%;min-height: 20vh;" alt="">
    </section>


    <section style="background-color: #FEEBE4;" class="m-3 p-1">
        <div class="container">
            <div class="row">
                <div class="text-uppercase font-weight-bold m-auto">
                    <button *ngIf="isSubscribed == 10" (click)="bookfreeclass()" type="button"
                        class="text-dark border-0 bg-transparent">
                        <h2 class="text-uppercase book-heading">
                            Book A Free Class Now!
                            <i class="fa fa-angle-double-right ml-2" style="color: #951196;"></i>
                        </h2>
                    </button>

                    <button *ngIf="subcat == '7days'" type="button" class="text-dark border-0 bg-transparent"
                        data-toggle="modal" data-target="#exampleModal">
                        <h2 class="text-uppercase book-heading">
                            Pay Now
                            <i class="fa fa-angle-double-right ml-2" style="color: #951196;"></i>
                        </h2>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="todayClass" style="background-color: #FEEBE4;" class="pt-3 pb-4">
        <div class="container">
            <div class="d-flex justify-content-center ">
                <div class=" position-relative">
                    <img [src]="todayClass?.image" style="width: 100%;" alt="">
                    <button class="position-absolute btn btn-secondary">
                        Remind Me
                    </button>

                    <button [hidden]="isSubscribed == 2" class="text-white position-absolute btn btn-secondary2"
                        (click)="openClass()">
                        Join Now
                    </button>

                    <button *ngIf="isSubscribed == 2 " class="text-white position-absolute btn btn-secondary2"
                        data-toggle="modal" data-target="#exampleModal">
                        Join Now
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class=" pt-3">
        <div class="container d-flex flex-column">
            <span style="font-size: 24px;">Upcoming Classes</span>
            <br />
            <br />

            <ngx-slick-carousel class="carousel"
                [config]='{"slidesToShow": 2, "slidesToScroll": 1, autoplay: true, arrows: false, dots: false}'>
                <div ngxSlickItem *ngFor="let class of upcomingClasses" class="slide row">
                    <div class="position-relative">
                        <img [src]="class.image" style="width: 100%;" alt="">
                        <button class="btn btn-primary position-absolute">
                            Remind Me
                        </button>
                    </div>
                </div>
            </ngx-slick-carousel>

        </div>
    </section>


    <section class=" pt-3 pb-4">
        <div class="container d-flex flex-column">
            <div class=" d-flex justify-content-between mt-3 mb-3">
                <div>
                    <span style="font-size: 24px;">Past Classes</span>
                </div>
                <div class="view-button">
                    <a *ngIf="subcat && subcat !== '7days'" routerLink="/past-classes" class="book-heading"
                        data-toggle="modal" data-target="#exampleModal" style="cursor: pointer;">View all
                        <i class="fa fa-angle-double-right ml-2" style="color: #951196;"></i>
                    </a>

                    <a [hidden]="subcat && subcat !== '7days'" data-toggle="modal" data-target="#exampleModal"
                        class="book-heading" data-toggle="modal" data-target="#exampleModal"
                        style="cursor: pointer;">View all
                        <i class="fa fa-angle-double-right ml-2" style="color: #951196;"></i>
                    </a>

                </div>
            </div>

            <ngx-slick-carousel class="carousel"
                [config]='{"slidesToShow": 3, "slidesToScroll": 1, autoplay: true, arrows: false, dots: false}'>
                <div ngxSlickItem *ngFor="let class of upcomingClasses" class="slide row">
                    <div class="position-relative">
                        <video width="320" height="240" controls>
                            <source [src]="class.video" type="video/mp4">
                        </video>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
    </section>


    <section style="background-color: #ecccf6; padding: 30px 60px;">
        <div class="container">
            <span style="font-size: 24px;">Emotional & Mental Wellness</span>
            <br />
            <br />
            <ngx-slick-carousel>
                <div ngxSlickItem *ngFor="let row of courses.emotional_and_mental_wellness_courses" class="slide"
                    (click)="navigatetocourse(row)">
                    <course-carousel-component [row]="row"></course-carousel-component>
                </div>
            </ngx-slick-carousel>
        </div>
    </section>


    <section style="background-color: #dbd749; padding: 30px 60px;">
        <div class="container">
            <span style="font-size: 24px;">Motivational</span>
            <br />
            <br />
            <ngx-slick-carousel>
                <div ngxSlickItem *ngFor="let row of courses.motivational_courses" class="slide"
                    (click)="navigatetocourse(row)">
                    <course-carousel-component [row]="row"></course-carousel-component>
                </div>
            </ngx-slick-carousel>
        </div>
    </section>

    <section style="background-color: #efd861; padding: 30px 60px;">
        <div class="container">
            <span style="font-size: 24px;">Personality Development</span>
            <br />
            <br />
            <ngx-slick-carousel>
                <div ngxSlickItem *ngFor="let row of courses.personality_development_courses" class="slide"
                    (click)="navigatetocourse(row)">
                    <course-carousel-component [row]="row"></course-carousel-component>
                </div>
            </ngx-slick-carousel>
        </div>
    </section>

    <section style="background-color: #f1caad; padding: 30px 60px;">
        <div class="container">
            <span style="font-size: 24px;">Career Counselling</span>
            <br />
            <br />
            <ngx-slick-carousel>
                <div ngxSlickItem *ngFor="let row of courses.career_counselling_courses" class="slide"
                    (click)="navigatetocourse(row)">
                    <course-carousel-component [row]="row"></course-carousel-component>
                </div>
            </ngx-slick-carousel>
        </div>
    </section>




    <section class="pt-3 pb-4" style="background-color: #FEEBE4;">

        <div class="container">
            <div class="mt-4 mb-4">
                <h2 class="text-left font-weight-bold">
                    LIVE CLASSES FAQ
                </h2>
            </div>
            <div class="row">
                <div class="container">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne">
                                        <i class="fa fa-circle fa-1x font-weight-bold"></i>What are the advantages of
                                        Live Classes?

                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                aria-labelledby="headingOne">
                                <div class="panel-body">
                                    Live Classes series of Webicoun India helps you to attain Knowledge and Wellness
                                    through unlimited live classes by experts from all over India. It will help you in
                                    your self- development and improvement. We also Provide Live Classes specially for
                                    your
                                    doubts, so that you can utilize your package optimally.

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <i class="fa fa-circle fa-1x"></i>Is there any Demo session for the Live Class
                                        Series?

                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    Yes, You will be able to access one demo live class totally free of cost.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                        <i class="fa fa-circle fa-1x"></i> How Can I attend Live Class?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingThree">
                                <div class="panel-body">
                                    You just have to register and you can avail your first free demo class. You can buy
                                    the subscription for unlimited access to the live classes. <a href="#">Click
                                        here</a> to buy your subscription to Live Classes!

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                        <i class="fa fa-circle fa-1x"></i> Can I watch the Live Class again?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingFour">
                                <div class="panel-body">
                                    Yes, all the Live Classes are available in recorded form to all the subscribers of
                                    Live Classes.<a href="#">Click here</a> to Buy Your Live Class Subscription Today.
                                    Click here.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                        <i class="fa fa-circle fa-1x"></i> What kind of Live Classes does Webicoun India
                                        Provide?

                                    </a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <a href="#">Click here</a> to know more about Live Classes by Webicoun India!
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">

            <div class="modal-content">
                <div class="modal-header" style="background-color: #D9D9D9;">
                    <!-- <h3 class="modal-title" id="exampleModalLabel">Webicoun</h3> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pl-3 pr-3 pb-3 pt-1" style="background: #d9d9d9">
                    <div class="text-center d-flex flex-row justify-content-center">
                        <div>
                            <h3 class="text-uppercase font-weight-bold" id="web-subscription">
                                Webicoun Live Classes Subscription
                            </h3>
                        </div>

                    </div>
                    <div class="" style="border-bottom: 3px solid #600750;opacity: 0.6;">

                    </div>
                    <div class="text-center  mb-2 ml-3"
                        style="margin-top: 35px!important; font-weight:unset;color:#600750;text-transform:initial;">
                        <p>Enjoy the following benefits with your subscription</p>
                    </div>


                    <div class="text-center  mb-2 ml-2"
                        style="margin-top: 0rem!important; font-weight:unset;text-transform:initial;">
                        <!-- <div class="d-flex flex-row justify-content-between">
                            <div>
                                <img src="../../assets/SUBSCRIPTION-detail-box_01.png" alt="" class="subscrptn">
                            </div>

                            <div>
                                <img src="../../assets/SUBSCRIPTION-detail-box_02 (1).png" alt="" class="subscrptn">
                            </div>

                            <div>
                                <img src="../../assets/SUBSCRIPTION-detail-box_03 (2).png" class="subscrptn" alt="">
                            </div>
                        </div> -->
                        <img src="../../assets/detail-rects.png" class="subscrptn" alt="">
                        <!-- <div class="d-flex flex-row justify-content-around">
                            <div class="p-3" style="border: 1px solid #600750;">
                                <span class="textt"> Access to all previous classes</span>
                            </div>
                            <div class="p-3" style="border: 1px solid #600750;">
                                <span class="textt">
                                    Unlimited Live Classes
                                </span>
                            </div>
                            <div class="p-3" style="border: 1px solid #600750;">
                                <span class="textt">Doubts solution classes
                            </span>
                            </div>
                        </div> -->
                    </div>

                    <form action="">
                        <div class="d-flex flex-row justify-content-center">
                            <div>
                                <label>
                                    <input type="radio" name="test" value="nine9" class="
                                    image1">
                                    <img (click)="this.pack = 'month'" class="image1"
                                        src="../../assets/unselected-ticket1.png">
                                </label>
                            </div>

                            <div>
                                <label>
                                    <input type="radio" name="test" class="image2" value="two99">
                                    <img (click)="this.pack = 'sixmonths'" src="../../assets/unselected-ticket2.png"
                                        class="image2">
                                </label>

                            </div>
                            <div>
                                <label>
                                    <input type="radio" name="test" class="image3" value="nine99">
                                    <img (click)="this.pack = 'year'" src="../../assets/unselected-ticket3.png"
                                        class="image3">
                                </label>
                            </div>
                        </div>
                    </form>

                    <div class="text-center text-dark mb-2 ml-3" style="margin-top:1rem ;">

                        <button class="paymentt btn text-decoration-none mr-3" (click)="pay()">
                            Continue
                        </button>
                        <p class="continue" style="text-transform: initial;">
                            <span>
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                By continuing, you agree to our
                            </span>
                            <a href="https://webicoun.com/booksection" style="color: rgba(190, 36, 191, 1);">Terms &
                                Conditions</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>


</main>