@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

body {
  background-color: #f0f2f5;
  letter-spacing: 0.015em;
}

span, .book-heading {
  box-sizing: border-box;
  font-family: Barlow, sans-serif;
}


.active-class {
    cursor: pointer;
}

.inactive-class {
    opacity: 0.4;
}

@media screen and (max-width:450px) {
    .homepage .banner-top {
        max-height: 300px;
        /* min-height: 200px; */
    }
}

@media screen and (min-width:300px) {
    .carousell-image {
        height: 60px;
        width: 100%;
    }
}

.provide-sub-btn {
    background-color: #fff;
    border: 2px solid #9b00a3;
    color: #9b00a3;
    padding: 14px 18px;
    border-radius: 10px;
    font-family: 'Work Sans', sans-serif;
}

.provide-sub-btn:hover {
    background-color: transparent;
    color: #fff;
    background-color: #8f0090;
    border-radius: 14px;
    /* border: 2px solid #8f0090; */
    transition: all 0.2s ease;
}
/* new prices */

.collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
}

.collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
}

.carousel-cells {
    border: 1px solid red!important;
}

.card-section {
    width: 20rem;
    /* margin: 20px 15px; */
    box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.2);
}

.card-section img {
    width: 100%;
    height: 200px;
    clip-path: polygon(0 0, 100% 0, 101% 100%, 0 calc(108% - 28px));
    object-fit: cover;
}

.card-body h4 {
    margin: 0px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    color: #8f0090;
}

.card-body {
    padding: 0px 15px 20px 15px;
}

.card-body .border-line {
    border-bottom: 1px solid #8f0090;
    border-width: 3px;
    width: 70px;
    margin: 10px 0px;
}

.card-body .card-text {
    color: black;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
}

@media screen and (max-width: 420px) {
    h2 {
        font-size: 1.4rem;
        text-align: center;
    }
}

@media screen and (min-width: 421px) {
    h2 {
        text-align: center;
    }
}

.demo {
    width: 100%;
}

ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0;
}

li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer;
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px
}

#custCarousel .carousel-indicators>li {
    width: 100px
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

.carousel-item img {
    width: 80%
}
/* new designs */

#view-button {
    border: none;
    background-color: transparent;
    font-size: 1.73rem;
    color: #951196;
    /* padding-bottom: 9px; */
}
/* accordian */

.panel-default>.panel-heading {
    color: #333;
    /* background-color: #fff; */
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fa-1x {
    font-size: 9px;
    margin-right: 7px;
    /* margin-bottom: 4px;s */
}

.panel-default>.panel-heading a {
    display: block;
    color: grey;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* float: right; */
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
    /* content: "\221"; */
    /* content: "\022C0"; */
    content: "\FE3F";
    float: right;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
    /* content: "\022C1"; */
    content: "\FE3F";
    float: right;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-body {
    margin-left: 1rem;
    /* font-family: 'Lora', serif; */
    font-size: 16px;
    margin-bottom: 1rem;
}

.remind-button {
    border: none;
    background-color: #7B007C;
    color: #fff;
    font-size: 11px;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
/* IMAGE STYLES */

[type=radio]+img {
    cursor: pointer;
    width: 100%;
    padding: 6px;
    filter: blur(0px);
    /* margin-right: 6px; */
}

[type=radio]+img :hover {
    cursor: pointer;
    filter: blur(0px)
}
/* CHECKED STYLES */
/* [type=radio]:checked+img {
filter: blur(0px);
border-bottom: 6px solid #fff;
border-top: 6px solid #fff;
padding: 3px;
} */

[type=radio]:checked+.image1 {
    content: url('../../assets/selected-ticket1.png');
    width: 100%;
}

[type=radio]:checked+.image2 {
    content: url('../../assets/selected-ticket2.png');
    width: 100%;
}

[type=radio]:checked+.image3 {
    content: url('../../assets/selected-ticket3.png');
    width: 100%;
}

.paymentt {
    font-weight: bold;
    border-radius: 40px;
    padding: 10px 37px;
    margin-bottom: 2rem;
    background: linear-gradient(90deg, rgba(255, 102, 102, 1) 0%, rgba(190, 36, 191, 1) 56%, rgba(225, 125, 225, 1) 100%);
    color: #fff;
    font-size: 20px;
    letter-spacing: 4px;
    font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 500px) and (min-width: 400px) {
    .book-heading {
        /* border: 1px solid red; */
        font-size: 1.4rem;
    }
    #view-button {
        /* border: 1px solid red; */
        font-size: 1.5rem;
    }
}
/* @media screen and (min-width:340px) and (max-width:390px) {
.book-heading {
    font-size: 23px;
}
} */

@media screen and (min-width:350px) and (max-width:385px) {
    .book-heading {
        font-size: 18px;
        font-weight: bold
        /* border: 1px solid red */
    }
}

@media screen and (min-width:386px) and (max-width:397px) {
    .book-heading {
        font-size: 21px;
        /* border: 1px solid red */
    }
}

@media screen and (min-width:501px) and (max-width:530px) {
    .book-heading {
        font-size: 29px;
        /* border: 1px solid red */
    }
}

@media screen and (min-width: 576px) {
    .modal-dialog {
        margin: 4.75rem auto;
    }
}

#web-subscription {
    /* margin-top: 1.4rem; */
    color: #600750;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-family: 'Barlow', sans-serif;
}

@media screen and (min-width:375px) and (max-width:575px) {
    .modal-dialog {
        width: 70%;
        margin: 4.75rem auto;
    }
    .panel-default>.panel-heading a {
        font-size: 14px;
    }
}

@media screen and (min-width:375px) and (max-width:535px) {
    #web-subscription {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
}

@media screen and (min-width:536px) and (max-width:550px) {
    #web-subscription {
        font-size: 17px;
    }
}

.textt {
    font-size: 12px;
}

.subscrptn {
    width: 100%
}

@media screen and (min-width:350px) and (max-width:374px) {
    .modal-dialog {
        margin-top: 5rem;
        margin-left: 1rem
    }
}

@media screen and (min-width:350px) and (max-width:403px) {
    .paymentt {
        font-size: 18px;
        padding: 4px 17px;
    }
}

@media screen and (min-width:404px) and (max-width:500px) {
    .paymentt {
        font-size: 10px;
        padding: 5px 10px;
        letter-spacing: 3px;
    }
    .continue {
        font-size: 9px
    }
}

.continue {
    font-size: 11px
}

.modal-header {
    padding: 2px 7px;
    border-bottom: none;
}

.modal-header {
    padding: 15px 16px;
    background: linear-gradient(145deg, rgb(145, 5, 146), rgb(180, 96, 180));
    color: white;
}

.btn-primary {
    padding: 8px 24px;
    bottom: 23px;
    right: 45px;
    font-size: 17px;
    background-color: #930B94;
    border: none;
}

.btn-secondary {
    padding: 4px 7px;
    bottom: 13%;
    left: 67%;
    font-size: 42px;
    background-color: #5e8ac6;
    border: none;
}

.btn-secondary2 {
    padding: 4px 7px;
    bottom: 13%;
    left: 47%;
    font-size: 42px;
    background-color: #930B94;
    border: none;
}

@media screen and (min-width:320px) and (max-width:456px) {
    .btn-secondary {
        padding: 0px 5px;
        bottom: 13%;
        left: 67%;
        font-size: 13px;
    }
    .btn-secondary2 {
        padding: 0px 5px;
        bottom: 13%;
        left: 42%;
        font-size: 13px;
    }
}

@media screen and (min-width:457px) and (max-width:500px) {
    .btn-secondary {
        padding: 0px 5px;
        bottom: 13%;
        left: 67%;
        font-size: 17px;
    }
    .btn-secondary2 {
        padding: 0px 5px;
        bottom: 13%;
        left: 42%;
        font-size: 17px;
    }
}

@media screen and (min-width:501px) and (max-width:600px) {
    .btn-secondary {
        padding: 0px 5px;
        bottom: 13%;
        left: 67%;
        font-size: 17px;
    }
    .btn-secondary2 {
        padding: 0px 5px;
        bottom: 13%;
        left: 42%;
        font-size: 17px;
    }
}

@media screen and (min-width:501px) and (max-width:700px) {
    .btn-secondary {
        padding: 0px 5px;
        bottom: 13%;
        left: 67%;
        font-size: 22px;
    }
    .btn-secondary2 {
        padding: 0px 5px;
        bottom: 13%;
        left: 42%;
        font-size: 22px;
    }
}

@media screen and (min-width:701px) and (max-width:950px) {
    .btn-secondary {
        padding: 0px 5px;
        bottom: 13%;
        left: 67%;
        font-size: 22px;
    }
    .btn-secondary2 {
        padding: 0px 5px;
        bottom: 13%;
        left: 42%;
        font-size: 22px;
    }
}

@media screen and (min-width:951px) {
    .btn-secondary {
        padding: 2px 14px;
        bottom: 13%;
        left: 71%;
        font-size: 22px;
    }
    .btn-secondary2 {
        padding: 2px 14px;
        bottom: 13%;
        left: 50%;
        font-size: 22px;
        background-color: #930B94;
        border: none;
    }
}

@media screen and (min-width:320px) and (max-width:349px) {
    .book-heading {
        font-size: 1rem
    }
    .panel-default>.panel-heading a {
        font-size: 16px;
    }
}

@media screen and (min-width:320px) and (max-width:456px) {
    .btn-primary {
        padding: 5px 5px;
        bottom: 7%;
        left: 61%;
        font-size: 14px;
    }
}

@media screen and (min-width:457px) and (max-width:480px) {
    .btn-primary {
        padding: 0px 5px;
        bottom: 7%;
        left: 61%;
        font-size: 14px;
    }
}

.view-button a{
    text-decoration: none;
    color: #212529;
}