<main class="mt-4">
    <section>
        <div class="container">
            <div class="row mt-4 p-3 bg-white">
                <div class="mt-2 ml-3">
                    <h3 class="font-weight-bold">Past Classes</h3>
                </div>
            </div>

            <div class="row mt-4 p-3 bg-white">
                <div class="w-100">
                    <p>Showing result in {{(page - 1) * 10 + 1}}-{{page * 10}} of {{classes.length}}</p>

                </div>
                <div class="card w-100 mb-3" *ngFor="let web of visibleclasses">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <video width="280" height="240" controls>
                                    <source [src]="web.video" type="video/mp4">
                                  </video>
                            </div>
                            <div class="col-md-6 ">

                                <h4 class="font-weight-bold">
                                    {{web.title}}
                                </h4>
                                <!-- <h5>Video length:</h5> -->
                                <p class="text-justify">
                                    {{web.description}}
                                </p>
                            </div>
                            <div class="col-md-2 col-12">
                                <div class="text-md-right text-sm-center text-lg-center">
                                    <p class="datee">26/12/2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <pagination [totalItems]="classes.length" (pageChanged)="pageChanged($event)"></pagination>


            </div>

        </div>
    </section>
</main>