main {
    background-color: #F8F9FA;
}

a {
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
}

.date1 {
    max-height: 100px;
    height: 100%;
}

.card {
    background-color: #F8F9FA;
}

@media screen and (min-width:768px) and (max-width:965px) {
    .datee {
        font-size: 12px
    }
}

p {
    text-align: justify;
}

@media screen and (min-width:370px) and (max-width:665px) {
    a,
    p {
        font-size: 16px;
    }
    .fa-2x {
        font-size: 1em;
    }
    h3 {
        font-size: 17px;
    }
    h4 {
        font-size: 18px
    }
    h5 {
        font-size: 18px
    }
}


/* 
.lead {
    font-size: 1.1rem;
    font-weight: 300;
} */