<section class="co p-5">
    <h2 class="text-center">Expert Sign Up</h2>
    <div class="">
        <div class="row justify-content-center">
            <ng-template [ngIf]="form == 1">
                <form [formGroup]="registerForm" (ngSubmit)="next()">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" autocomplete="on" formControlName="fname" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.fname.errors }" />
                        <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                            <div *ngIf="f.fname.errors.required">Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" autocomplete="on" formControlName="lname" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.lname.errors }" />
                        <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                            <div *ngIf="f.lname.errors.required">Name is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Email Id:</label>
                        <input type="email" autocomplete="on" formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                        </div>
                    </div>

                    <!-- <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            name="password"
            autocomplete="on"
          />
          <div
            *ngIf="submitted && f.password.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div> -->


                    <div class="form-group">
                        <label>Password</label>
                        <div class="input-group position-relative">
                            <input [type]="password" autocomplete="off" formControlName="password" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <span class="pt-2 ml-2 position-absolute" (click)="onClickk()" style="right: 1rem;">
                                <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                                <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                            </span>
                        </div>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">
                                Password must be at least 6 characters
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Select the date of birth:</label>
                        <input type="text" placeholder="Choose date" class="bsDatepicker form-control" bsDatepicker
                            [bsConfig]="{ isAnimated: true }" formControlName="dob"
                            [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />

                        <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                            <div *ngIf="f.dob.errors.required">Cant be empty</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Street</label>
                        <input type="text" formControlName="street" class="form-control" id="comment1"
                            [ngClass]="{ 'is-invalid': submitted && f.street.errors }" />

                        <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
                            <div *ngIf="f.street.errors.required">Cant be empty</div>
                        </div>
                    </div>
                      <div class="form-group">
                        <label>Locality</label>
                        <input type="text" formControlName="locality" class="form-control" id="comment1"
                            [ngClass]="{ 'is-invalid': submitted && f.locality.errors }" />

                        <div *ngIf="submitted && f.locality.errors" class="invalid-feedback">
                            <div *ngIf="f.locality.errors.required">Cant be empty</div>
                        </div>
                    </div>
                      <div class="form-group">
                        <label>City</label>
                        <input type="text" formControlName="city" class="form-control" id="comment1"
                            [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />

                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                            <div *ngIf="f.city.errors.required">Cant be empty</div>
                        </div>
                    </div>

                      <div class="form-group">
                        <label>Pincode</label>
                        <input type="text" formControlName="pincode" class="form-control" id="comment1"
                            [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }" />

                        <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                            <div *ngIf="f.pincode.errors.required">Cant be empty</div>
                        </div>
                    </div>
                    
                      <div class="form-group">
                        <label>State</label>
                        <input type="text" formControlName="state" class="form-control" id="comment1"
                            [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />

                        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                            <div *ngIf="f.state.errors.required">Cant be empty</div>
                        </div>
                    </div>
                      <div class="form-group">
                        <label>Country</label>
                        <input type="text" formControlName="country" class="form-control" id="comment1"
                            [ngClass]="{ 'is-invalid': submitted && f.country.errors }" />

                        <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                            <div *ngIf="f.country.errors.required">Cant be empty</div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Phone number</label>
                        <input type="text" formControlName="number" autocomplete="on" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.number.errors }" />
                        <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
                            <div *ngIf="f.number.errors.required">required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Experience: </label>
                        <input type="text" formControlName="experience" autocomplete="on" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.experience.errors }" />
                        <div *ngIf="submitted && f.experience.errors" class="invalid-feedback">
                            <div *ngIf="f.experience.errors.required">Please enter a value</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Choose a category</label>
                        <select formControlName="cat" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.cat.errors }">
                            <!--<option value="">Pick one</option>-->
                            <option *ngFor="let c of categories" [value]="c.id">{{c.text}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.cat.errors" class="invalid-feedback">
                            <div *ngIf="f.cat.errors.required">Select atleast one</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Choose Gender</label>
                        <select formControlName="gender" class="form-control">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>



                    <div class="form-group">
                        <label>Tell Us Something About yourself</label>
                        <textarea formControlName="bio" class="form-control" rows="5" id="comment" [ngClass]="{ 'is-invalid': submitted && f.bio.errors }" ></textarea>

                        <div *ngIf="submitted && f.bio.errors" class="invalid-feedback">
                            <div *ngIf="f.bio.errors.required">Cant be empty</div>
                        </div>
                    </div>

                      
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label" for="file">Upload your picture</label>
                        <div class="col-sm-7">
                            <input type="file" [ngClass]="{ 'is-invalid': submitted && f.profilePic.errors }"
                                formControlName="profilePic" class="form-control" id="profilePic" #profilePic />
                            <div *ngIf="submitted && f.profilePic.errors" class="mt-2 alert alert-danger form-inline">
                                <div *ngIf="f.profilePic.errors.required">*Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label text-white">Upload your resume</label>
                        <div class="col-sm-7">
                            <input type="hidden" [ngClass]="{ 'is-invalid': submitted && f.resume.errors }"
                                formControlName="resume" class="form-control" id="resume" #resume />
                            <div *ngIf="submitted && f.resume.errors" class="mt-2 alert alert-danger form-inline">
                                <div *ngIf="f.resume.errors.required">*Required</div>
                                <div *ngIf="f.resume.errors.minlength">
                                    Please enter valid account number
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary mr-1">Submit</button>
                        <a routerLink="/expert-sign-in" class="btn btn-danger ml-3">Already have a account? Log-in
                            here</a>
                    </div>
                </form>
            </ng-template>

            <ng-template [ngIf]="form == 2">

                <form style="width: 300px; margin-top: 50px">
                    <div class="form-group">
                        <label>Enter OTP</label>
                        <input type="text" class="form-control" [(ngModel)]="otp" name="otp" />
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary mr-1" (click)="validateUser()">Validate</button>
                        <a class="btn btn-danger mr-1" (click)="form = 1"> Back </a>
                    </div>

                </form>
            </ng-template>
        </div>
    </div>
</section>
