<main>
  <section class="co">
    <h1 class="text-center">Book A Counselling Session</h1>
    <div class="container">
      <div class="row justify-content-center">
        <form
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit(registerForm.value)"
        >
          <div class="form-group">
            <label>Choose a category</label>
            <select
              formControlName="cat"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.cat.errors }"
            >
              <option value="">Pick one</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            <div *ngIf="submitted && f.cat.errors" class="invalid-feedback">
              <div *ngIf="f.cat.errors.required">Select atleast one</div>
            </div>
          </div>
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Phone Number</label>
            <input
              type="tel"
              formControlName="number"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.number.errors }"
              pattern="^[0-9]{10}$"
            />
            <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
              <div *ngIf="f.number.errors.required">Cannot be empty</div>
              <!-- <div *ngIf="f.number.errors.minlength">Less than 10 digit</div> -->
              <div *ngIf="f.number.errors.pattern">
                Please enter correct number
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Email</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Ask a questions</label>
            <textarea
              formControlName="ask"
              class="form-control"
              rows="5"
              id="comment"
            ></textarea>
          </div>

          <div class="form-group row">
            <label>Select the date of appointment:</label>
            <input
              type="text"
              placeholder="Choose date"
              class="bsDatepicker form-control"
              bsDatepicker
              [bsConfig]="{ isAnimated: true }"
              formControlName="dob"
              [ngClass]="{ 'is-invalid': submitted && f.dob.errors }"
            />

            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
              <div *ngIf="f.dob.errors.required">Cant be empty</div>
            </div>
          </div>
          <div class="form-group form-check">
            <input
              type="checkbox"
              formControlName="acceptTerms"
              id="acceptTerms"
              class="form-check-input"
              [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }"
            />
            <label for="acceptTerms" class="form-check-label"
              >Accept Terms & Conditions</label
            >
            <a
              routerLink="/booksection"
              class="text-primary ml-3"
              target="_blank"
              >Read Here..</a
            >
            <div
              *ngIf="submitted && f.acceptTerms.errors"
              class="invalid-feedback"
            >
              Accepting Ts & Cs is required
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary mr-1">Review</button>
            <button class="btn btn-secondary" type="reset" (click)="onReset()">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
