


.card {
    border: none;
    -webkit-box-shadow: 12px 7px 10px -6px rgba(0, 0, 0, 0.37);
    box-shadow: 12px 7px 10px -6px rgba(0, 0, 0, 0.37);
    border-radius: 20px;
    width: 21rem;
    max-width: 21rem;
    height: 24rem;
    margin-bottom: 2.4rem;
    cursor: pointer;
}

.card-section1 {
    justify-content: space-between;
}

@media screen and (max-width:767px) {
    .card-section1 {
        justify-content: space-evenly;
    }
}
.carousel-control-prev
{
    left: 0;
   
     position: absolute;
    top: 0;
    width: 25px;
    z-index: 2;
    height: 100%;
    cursor: pointer;
    color:black !important;
}

.carousel-control-next
{
    right: 0;
   
     position: absolute;
    top: 0;
    width: 25px;
    z-index: 2;
    height: 100%;
    cursor: pointer;
    color:black;
}




#carouselExampleIndicators .carousel-control-prev,
#carouselExampleIndicators .carousel-control-next {
   
}



.carousel-indicators li {
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    background-color: rgb(5, 0, 7);
    border-radius: 100%;
}

h1 {
    font: 400 2.4rem/70px Roboto, "Raleway", sans-serif;
    letter-spacing: normal;
}




.indicatorss {
    background-image: url('../../assets/left-arrow-black-circular-button.png');
}

.indicatorss2 {
    background-image: url('../../assets/rightt-arrow-black-circular-button.png');
}



.carousel-indicators li:hover {
   
    transition: all 0.2s ease;
}





.last-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: -80px;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 78%;
    margin-left: 16%;
    list-style: none;
}

.last-indicators li {
    background-color: white;
    visibility: none;
}

.fa .fa-arrow-left {
    color: red;
}





/* media query */




#Cardd {
    width: 17rem;
    border: none;
}

@media screen and (max-width:767px) {
    #Cardd {
        /* border: 1px solid red; */
        width: auto;
        font-size: 15px;
    }
}







@media screen and (min-width:780px) {
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 40px;
        height: 40px;
        margin-bottom: 11px
    }
}



@media screen and ( max-width:767px) {
    #Cardd {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
    }
}



