<main>
    <section class="mt-4">
    	<br>
    	  
    

        <div class="container">
        	<h2>{{title}}</h2>
             <hr style="height:2px;border-width:0;color:gray;background-color:gray">
            <div class="row d-flex flex-row  card-section1">
                <div class="card " *ngFor="let blog1 of blogs" (click)="read(blog1._id)">
                    <img [src]="blog1.image" class="card-img-top" alt="..." style="min-height: 213px;max-height: 213px; border-radius: 20px;">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold text-uppercase">{{blog1.title }}</h5>
                        <p class="text-muted mt-4">Read Full Story...</p> 
                    </div>
                    <div class="card-footer text-muted">
                        <div class="d-flex flex-row justify-content-between">
                            <div>
                                {{ blog1.author }}
                            </div>
                            <div>
                                {{blog1.date}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>