
#modal {
    float:left;
    z-index:100;
    height:500px;
    width:400px;
    background: white;
    border: 1px solid #ccc;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    text-align: center;
}

button, .button {
    position: relative;
    background-color: purple;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    font-size: 16px;
    font-weight: bold;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    width: 200px;
    margin-bottom: 10px;
  text-transform: uppercase;
    
  &.actionCancel {
    background-color: #ddd;
    color: purple;
  }
  &.actionDone {
    display: none;
  }
  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}
#result-wrapper{
  float:right;
  img{border: 1px solid}
}