<button type="button" class="btn nav-link" style="border: ; border-radius: 3px;"
    idz (click)="openModal(template)"><i class="fa fa-edit"></i> &nbsp; Edit</button>

<ng-template #template>
    <div class="modal-header" style="border-bottom:none">
        <!-- <h4 class="modal-title text-center pull-left">Modal</h4> -->
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pl-4 pr-4">
        <div class="d-flex flex-column">
            <div class="text-center">
                <img src="../../assets/Webicoun-logo-round.png" width="80" alt="">
            </div>
            <div class="text-center mt-4 mb-4">
                <!-- <p style="color: #920693;">Verify mobile number for Experts to contact you</p> -->
                <h3 class="text-uppercase font-weight-bold" style="color: #920693;">Welcome to
                    Webicoun India</h3>
            </div>

            <div class="pl-4 pr-4">
                <form [formGroup]="form" (ngSubmit)="login()">
                    <div class=" mb-5">

                        <div class="form-group row">
                            <div class="col-12">
                                <div class="input-group">
                                    <input 
                                    autocomplete="off"
                                    [ngClass]="{ 'is-invalid': form.errors?.mobile?.required }" 
                                    formControlName="mobile" placeholder="Mobile Number" class="form-control is">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group" *ngIf="logintype == 'password'">
                            <input 
                            autocomplete="off"
                            [ngClass]="{ 'is-invalid': form.errors?.password?.required }" 
                            formControlName="password" type="password" class="form-control"
                                placeholder="Password">
                            <div class="invalid-feedback">
                                <div>Password is required</div>
                            </div>
                        </div>

                        <div class="form-group"*ngIf="logintype == 'otp'">
                            <input 
                            autocomplete="off"
                            [ngClass]="{ 'is-invalid': form.errors?.otp?.required }" 
                            formControlName="otp" type="password" class="form-control" placeholder="OTP">
                            <div class="invalid-feedback">
                                <div>OTP is required</div>
                            </div>
                        </div>

                        <div class="text-center form-group mt-3">
                            <button class="mt-2  next-button" data-toggle="modal" [disabled]="!numberr === ''">
                                Continue
                            </button>

                            <div class="row">

                                <div class="col-md-6" *ngIf = "logintype == 'password'">
                                    <button 
                                    type="button"
                                    (click) = "signinwithotp()"
                                    class='button -blue center'>Sign in using OTP</button>
                                </div>
                               
                                <div class="col-md-6" *ngIf = "user && logintype == 'otp'">
                                    <button 
                                    type="button"
                                    (click) = "logintype='password'"
                                    class='button -blue center'>Sign in using password</button>
                                </div>
                               
                            </div>

                            <div class="mt-3">
                                <p>By continuing you agree to our
                                    <a (click)="redirecttoterms()" href="javascript:;">terms & conditions</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #signuptemplate>
    <div class="modal-header" style="border-bottom: none;">
        <!-- <h5 class="modal-title" id="exampleeModal3">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-flex flex-column">
            <div class="text-center">
                <img src="../../assets/Webicoun-logo-round.png" width="80" alt="">
            </div>
            <div class="text-center mt-4 mb-4">
                <p style="color: #920693;">One last step..</p>
                <!-- <h3 class="text-uppercase font-weight-bold" style="color: #920693;">Welcome to Webicoun India</h3> -->
                <p style="font-size:14px" class="p-3">Please complete your account information to access Webicoun India!</p>
            </div>

            <div class="pl-4 pr-4">
                <form [formGroup]="signupform" (ngSubmit)="signup()">
                    <div class="mb-5">
                        <div class="form-group">
                            <input formControlName="fullName"
                            autocomplete="off"
                            [ngClass]="{ 'is-invalid': signupform.errors?.fullName?.required }" 
                            type="text" class="form-control" placeholder="Full name">
                            
                        </div>
                        <div class="form-group">
                            <input formControlName="email"
                            autocomplete="off"
                            [ngClass]="{ 'is-invalid': signupform.errors?.email?.required }" 
                            type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <span class="pt-2 ml-2 position-absolute" style="right: 1rem;" (click)="onClickk()">
                                <i class="fa fa-eye" aria-hidden="true" *ngIf="showeye"></i>
                                <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="!showeye"></i>
                              </span>
                            <input formControlName="password"
                            autocomplete="off"
                            [ngClass]="{ 'is-invalid': signupform.errors?.password?.required }" 
                            [type]="passwordtype" class="form-control" placeholder="Password">
                            
                        </div>
                        <div class="form-group">
                            <span class="pt-2 ml-2 position-absolute" style="right: 1rem;" (click)="onClickk()">
                                <i class="fa fa-eye" aria-hidden="true" *ngIf="showeye"></i>
                                <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="!showeye"></i>
                              </span>
                            <input formControlName="confirmPassword"
                            autocomplete="off"
                            [ngClass]="{ 'is-invalid': signupform.errors?.confirmPassword?.required }" 
                            [type]="passwordtype" class="form-control" placeholder="Confirm Password">
                        </div>
                       
                        <div class="mt-3">
                            <button class="mt-2  next-button"> 
                            Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>