    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
    .navbar {
        box-shadow: 0 6px 12px rgba(0, 44, 0, .175);
        background-color: #8f0090;
        padding: 0rem 1rem;
    }
    
    .navbar .navbar-nav .nav-item .nav-link {
        border-bottom: 2px solid transparent;
        font-size: 14px;
        letter-spacing: 3px;
        font-family: 'Raleway', sans-serif;
    }
    /* live button */
    
    .Blink {
        animation: blinker .6s cubic-bezier(.5, 0, 1, 1) infinite alternate;
        font-size: 12px;
        color: rgb(255, 2, 2);
    }
    
    @keyframes blinker {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
    /*  */
    
    #book-btn {
        color: #fffb00;
        transition: all 0.2s ease-in-out;
    }
    
    #book-btn:hover {
        color: black;
        border-bottom: none;
        transition: all 0.3s ease-in-out;
    }
    
    #book-btn ::before {
        content: '&nbsp;&nbsp;';
        position: absolute;
        bottom: 0;
        left: 0px;
        width: 100%;
        background-color: #ffec00;
        transform-style: flat;
        transition-property: height, width;
        transition-delay: 0.5s, 0.2s;
        transition-duration: 0.5s;
        padding-left: 1px;
    }
    
    #book-btn:hover ::before {
        transition-property: width, height;
        width: 15px;
        height: 100%;
        padding-left: 5px;
    }
    
    #book-btn:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #fac600;
        transform: scaleX(0);
        transition: 0.5s;
        transition-delay: 0s;
        transform-origin: left;
        z-index: -1;
        border-radius: 15px;
    }
    
    #book-btn:hover:after {
        transform: scaleX(1);
        transition-delay: .2s;
        font-weight: bold;
        padding-left: 5px;
    }
    
    .navbar .navbar-nav .nav-item .nav-link:hover {
        transition: all 0.2s ease-in;
        border-bottom: 1px solid #fff;
    }
    
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        left: 0;
        box-shadow: 0 6px 12px rgba(0, 44, 0, .175);
        border: none;
        font-size: 1rem;
        width: min-content;
        margin-bottom: 0;
    }
    
    .header .dropdown-menu .dropdown-item {
        word-spacing: 3px;
        font-size: 1rem;
    }
    /* Media queries */
    
    @media (min-width: 992px) {
        .navbar-expand-lg .navbar-nav .dropdown-menu {
            position: absolute;
            top: 4rem;
            left: -3rem;
            right: 0;
        }
    }