<main id="joinlesson">
  <button
    [hidden]="joined"
    id="watch-live-btn"
    type="button"
    (click)="join()"
    class="btn btn-primary btn-xlg center-block"
  >
    <i id="watch-live-icon" class="fas fa-broadcast-tower"></i
    ><span> Host the Live Stream</span>
  </button>

  <div class="row">
    <div class="col-md-8">
      <div class="player" [hidden]="!joined">
        <video
          width="640"
          height="480"
          controls
          crossorigin
          playsinline
          id="remote-stream"
          (pause)="play(false)"
          (play)="play(true)"
          (volumechange)="volumechange($event)"
        ></video>
        <br />
        <br />
        <button
          (click)="leave()"
          style="margin-top: 5px"
          type="button"
          class="btn btn-primary"
        >
          <i id="watch-live-icon" class="fas fa-broadcast-tower"></i
          ><span> Close Stream</span>
        </button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="container py-5 px-4" [hidden]="!joined">
        <div class="row rounded-lg overflow-hidden shadow">
          <!-- Chat Box-->
          <div class="col-12 px-0">
            <div class="px-4 py-5 chat-box bg-white">
              <ng-template ngFor let-message [ngForOf]="messages">
                <div *ngIf="message.id != id; else other_content">
                  <div class="media w-50 mb-3">
                    <img
                      src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
                      alt="user"
                      width="50"
                      class="rounded-circle"
                    />
                    <div class="media-body ml-3">
                      <div class="bg-light rounded py-2 px-3 mb-2">
                        <p class="text-small mb-0 text-muted">
                          {{ message.name }}
                        </p>
                        <p class="text-small mb-0 text-muted">
                          {{ message.content }}
                        </p>
                      </div>
                      <p class="small text-muted">
                        {{ message.timestamp | date: "medium" }}
                      </p>
                    </div>
                  </div>
                </div>

                <ng-template #other_content>
                  <div class="media w-50 ml-auto mb-3">
                    <div class="media-body">
                      <div class="bg-primary rounded py-2 px-3 mb-2">
                        <p class="text-small mb-0 text-white">
                          {{ message.content }}
                        </p>
                      </div>
                      <p class="small text-muted">
                        {{ message.timestamp | date: "medium" }}
                      </p>
                    </div>
                  </div>
                </ng-template>
              </ng-template>
            </div>

            <!-- Typing area -->
            <div class="bg-light">
              <div class="input-group">
                <input
                  type="text"
                  (keydown.enter)="sendMessage(inpM); (false)"
                  placeholder="Type a message"
                  class="form-control rounded-0 border-0 py-4 bg-light"
                  #inpM
                />
                <div class="input-group-append">
                  <button
                    id="button-addon2"
                    type="button"
                    class="btn btn-link"
                    (click)="sendMessage(inpM)"
                  >
                    <i class="fa fa-paper-plane"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
