<main class="p-4" id="main-section">
  <section class="content">
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="text-uppercase display-2">Environmental WELLNESS</h1>
      </div>
      <div class="row justify-content-center">
        <img
          src="/assets/Environmental wellness no bg.png"
          width="500"
          class="img-fluid"
          alt=""
        />
        <div class="row justify-content-center">
          <h2>The only thing that we shares in common</h2>
          <p class="ml-3 mr-3">
            Environmental well-being is important because it plays a vital role
            not only in our lives but also for the future generation. The power
            of environment is so high, we sow one seed and it reaps more than
            that. Wellness towards environment is an awareness of the unstable
            state of earth and when we all are together, we can make it stable!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="main-section">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex flex-wrap justify-content-around">
          <div
            class="card m-2"
            style="width: 18rem"
            *ngFor="let web of webinars"
          >
            <iframe
              [src]="getembedurl(web.videourl)"
              frameborder="0 "
              allowfullscreen
              style="height: 250px; width: auto"
            >
            </iframe>
          </div>
        </div>
        <!-- <div class="container">
                  <div class="row">
                      <div class="col-6">
                          <h3 class="mb-3">Carousel cards title </h3>
                      </div>
                      <div class="col-6 text-right">
                          <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                              <i class="fa fa-arrow-left"></i>
                          </a>
                          <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                              <i class="fa fa-arrow-right"></i>
                          </a>
                      </div>
                      <div class="col-12">
                          <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                              <div class="carousel-inner">
                                  <div class="carousel-item active">
                                      <div class="row">
                                          <div class="col-md-4 mb-3" *ngFor="let web of webinars">
                                              <div class="card">
                                                  <iframe [src]="getembedurl(web.videourl)" frameborder="0" allowfullscreen style="height:250px; width:auto">
                                              </iframe>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="carousel-item">
                                      <div class="row"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> -->
      </div>
    </div>
  </section>
</main>
