@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.accordion .card-header:after {
    content: "\2212";
    float: right;
}

.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\002B";
}

.checked {
    color: orange;
}


/* cards */

.card-profile {
    margin-top: 30px;
    text-align: center;
}

.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    /* max-height: fit-content; */
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    /* border: 1px solid purple; */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card .card-image {
    height: 150px;
    width: 150px;
    position: relative;
    overflow: hidden;
    margin-left: 59px;
    margin-right: 55px;
    margin-top: 13px;
    /* object-fit: contain; */
    margin-bottom: 8px;
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

a {
    color: #9c27b0;
    text-decoration: none;
}

.card .card-image img {
    width: 100%;
    border-radius: 50%;
    /* object-fit: cover; */
    height: 100%;
    /* border-radius: 6px; */
    pointer-events: none;
}

.card .card-image .card-caption {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card-caption {
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
}

.card-caption,
.card-caption a {
    /* color: #333; */
    text-decoration: none;
}

.card .table {
    padding: 5px;
}

.table {
    margin-bottom: 0px;
}

.category {
    position: relative;
    line-height: 0;
    margin: 15px 0;
}

#session-btn {
    background-color: #fff;
    color: purple;
    border: purple 1px solid;
}

#session-btn:hover {
    background-color: purple;
    color: white;
    transition: all 0.3s ease-in;
}

#categories {
    font-size: 13px;
    border-radius: 25px;
    background-color: purple;
    color: #fff;
}


/* cards section ends */

.searchContainer {
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.searchIcon {
    padding: 0.5rem;
}

.searchBox {
    border: 0;
    padding: 10px 17px 10px 16px;
    flex: 1;
    color: #691659;
}

.searchButton {
    background: #538AC5;
    border: 0;
    color: white;
    padding: 0.5rem;
    border-radius: 0;
}


/*
::placeholder {
    color: #691659;
    padding-left: 5px;
} */

p,
span {
    font-family: 'Noto Sans TC', sans-serif;
}

span {
    font-size: 17px;
}

@media screen and (max-width:464px) {
    p,
    span {
        font-size: 14px;
    }
    a {
        margin-bottom: 7px;
        margin-left: 12px;
    }
}

@media screen and (min-width:768px) and (max-width:965px) {
    .datee {
        font-size: 12px
    }
}

/*.profile-img {
    width: 55%;
    text-align:center;
    border-radius: 50%;

} */
.profile-img{
  width:120px;
height:120px;
border-radius:50%;
}

.expertfont {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
}

.expertfont2 {
    font-size: 16px;
    font-family: 'Noto Sans TC', sans-serif;
}

@media screen and (min-width:320px) and (max-width:354px) {
    h3 {
        font-size: 22px;
        margin: auto;
    }
}

@media screen and (max-width:375px) {
    .profile-img {
        height:60px;
        width:60px;
        border-radius: 50%;
    }
}

@media screen and (min-width:380px) and (max-width:767px) {
    .profile-img {
        width: 80px;
        height:80px;
        border-radius: 50%;
    }
    .info-box {
        margin-top: 18px;
    }
}

.fa-star {
    color: rgb(241, 183, 36)
}

@media screen and (min-width:375px) and (max-width:767px) {
    .apptmnt {
        background-color: #9c27b0;
        border: none;
    }
}

@media screen and (min-width:350px) and (max-width:428px) {
    span {
        font-size: 13px;
    }
    .card-body {
        padding: 15px;
    }
}

@media screen and (min-width:350px) and (max-width:387px) {
    .apptmnt {
        padding: 7px 9px 7px 9px;
        font-size: 12px;
    }
    span {
        font-size: 9px;
    }
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (max-width:575px) {
    h3 {
        font-size: 18px;
    }
}

#main-image {
    object-fit: cover;
}

::placeholder {
    font-size: 15px;
}

@media screen and (min-width:642px) {
    .expertfont {
        /* border: 1px solid red; */
        font-size: 2rem
    }
}

#expertTitle {
    margin-top: -3px
}

@media screen and (min-width:320px) and (max-width:380px) {
    #expertTitle {
        margin-top: 0px
    }
}

@media screen and (min-width:381px) and (max-width:540px) {
    #expertTitle {
        margin-top: -4px
    }
}


/*
.btn-warning {
    background-color: #9c27b0;
    color: #fff;
} */

.btn-light {
    background-color: rgb(228, 223, 223);
}

@media screen and (max-width:475px) {
    .btn-light {
        margin-left: auto;
        font-size: 12px;
    }
}

.dropdown-menu2 {
    left: -15%;
}
