<main class="homepage">

    <section class="banner-top">
        <img src="../../assets/expert listing banner (1).png" style="object-fit: fill;width: 100%;min-height: 20vh;" alt="">
    </section>
    <section class=" ">


        <div class="container-fluid">
            <div class="row">
                <div class="t">
                    <div class="category-full">
                        <div id="accordion" class="accordion">
                            <!-- <div class="card mb-0">
                                <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                                    <a class="card-title"> Category </a>
                                </div>
                                <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                                    <label for="cat">
            <label
              ><input type="checkbox" id="cat1" />&nbsp;Physical
              Wellness </label
            ><br />
            <label
              ><input type="checkbox" id="cat1" />&nbsp;Emotional
              Wellness </label
            ><br />
            <label
              ><input type="checkbox" id="cat1" />&nbsp;Mental Wellness </label
            ><br />
            <br />
          </label>
                                </div>

                                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <a class="card-title"> Rating </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="fivestar">
                                            <label for="five">
                <input type="radio" id="five" name="rate" />
                <span class="fa fa-star checked" id="five"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </label>
                                        </div>

                                        <div class="fourstar">
                                            <label for="four">
                <input type="radio" name="rate" id="four" />
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
              </label>
                                        </div>
                                        <div class="threestar">
                                            <label for="three">
                <input type="radio" id="three" name="rate" />
                <span class="fa fa-star checked" id="three"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </label>
                                        </div>
                                        <div class="twostar">
                                            <label for="two">
                <input type="radio" id="two" name="rate" />
                <span class="fa fa-star checked" id="two"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </label>
                                        </div>
                                        <div class="onestar">
                                            <label for="one">
                <input type="radio" id="one" name="rate" />
                <span class="fa fa-star checked" id="one"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </label>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="">
                    <!-- <div class="mr-3 mb-3 card" style="width: 18rem" *ngFor="let item of experts | filter: term"> -->

                    <!-- <div class="mr-3 mb-3 card" style="width: 18rem" *ngFor="let item of experts ">
                        <img [src]="item.image" class="card-img-top" alt="..." width="300" height="250" />
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ item.firstName + " " + item.lastName }}
                            </h5>
                            <a class="btn btn-primary" (click)="read(item)">Sessions</a>
                        </div>
                    </div> -->

                </div>

                <!-- <div class="col-md-12 d-flex flex-row flex-wrap" style="justify-content: space-evenly">
                    <ng-template ngFor let-item [ngForOf]="experts" let-index="index">
                        <div class="card card-profile" style="width: 17rem" *ngIf="item.show !== false">
                            <div class="card-image">
                                <a>
                                    <img class="img" [src]="item.image" />
                                </a>
                            </div>
                            <div class="table mt-3">
                                <h5 class="category text-uppercase text-bold mb-4">
                                    {{ item.firstName + " " + item.lastName }}
                                </h5>
                                <div class="mt-4 mb-3">
                                    <span id="categories" class="text-uppercase pl-2 pr-2 pt-1 pb-1">
                    {{ item.category }}
                  </span>
                                    <br />
                                </div>
                                <div>
                                    <span class="text-black-50 font-weight-bold">
                    Exp - {{ item.experience }}
                  </span>
                                </div>

                                <div class="ftr mt-2">
                                    <a class="btn btn-primary" id="session-btn" (click)="read(item)">
                    Book an appointment
                    <i class="fa fa-arrow-right"></i>
                  </a>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div> -->


            </div>
        </div>
    </section>


    <section>
        <div class="container">

            <!-- <div class="row p-2 bg-white" id="expertTitle">
                <div class="mt-1">
                    <h3>Mental Wellness Experts</h3>
                </div>
            </div> -->
            <!-- <nav class="navbar ">
                <div class="mt-1">
                    <h3>Mental Wellness Experts</h3>
                </div>


                <form class="form-inline">
                    <div>
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Pick Category
                                </button>
                            <div class="dropdown-menu  dropdown-menu2" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#"></a>
                                <a class="dropdown-item" routerLink="/experts">Emotional Wellness Coach</a>
                                <a class="dropdown-item" routerLink="/experts">Physical Wellness Trainers</a>
                                <a class="dropdown-item" routerLink="/experts">Nutritionist/Health Expert</a>
                                <a class="dropdown-item" routerLink="/experts">Motivational Speaker</a>
                                <a class="dropdown-item" routerLink="/experts">Business Coach</a>

                                <a class="dropdown-item" routerLink="/experts">Personality Development Coach</a>
                                <a class="dropdown-item" routerLink="/experts">Career Counsellor</a>
                                <a class="dropdown-item" routerLink="/experts">Environmentalist</a>
                                <a class="dropdown-item" routerLink="/experts">Etiquette Coach</a>
                                <a class="dropdown-item" routerLink="/experts">Spiritual Speakers</a>
                                <a class="dropdown-item" routerLink="/experts">Happiness Coach</a>
                            </div>
                        </div>
                    </div>
                </form>
            </nav> -->


            <div class="row  p-3 ">
                <nav class="w-100 mb-2 navbar navbar-expand-lg " style="background-color:#f8f9fa!important">
                    <div class=" navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <div class="mt-2">
                                    <h4 class="font-weight-bold">{{category}}</h4>
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline">
                            <div>
                                <div class="dropdown">
                                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Change Category
                                        </button>
                                    <div class="dropdown-menu  dropdown-menu2" aria-labelledby="dropdownMenuButton">

                                        <a class="dropdown-item" *ngFor="let c of categories" (click)="changecategory(c.id)" href="javascript:;">
                                            {{c.text}}
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </nav>


            </div>

            <div class="row p-3 bg-white">
                <nav class="w-100 mb-2 navbar navbar-expand-lg navbar-light bg-light">
                    <div class=" navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <p class="text-muted mt-2">
                                    Showing result in {{(page - 1) * 10 + 1}}-{{page * 10}} of {{experts.length}}
                                </p>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input
                                (ngModelChange)="searchfilter($event)"
                                [(ngModel)]="search"
                                class="form-control mr-sm-2"
                                name="search"
                                type="search" placeholder="Search by name" aria-label="Search">
                        </form>
                    </div>
                </nav>

                <div *ngFor="let expert of visibleexperts" class="card w-100 mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3  text-center col-3">
                                <img [src]="expert.image" class="profile-img" alt="" >
                            </div>
                            <div class="col-md-7 text-left col-7">

                                <h6 class="expertfont" style="margin-bottom: 0px;">
                                    {{expert.firstName}} {{expert.lastName}}
                                </h6>
                                <p class="text-muted expertfont2" style="margin-bottom: 0px;">{{expert.experience}}</p>
                                <p style="margin-bottom: 0px;">
                                    <img src="../../assets/location.png" width="12" alt="" style="opacity: 0.8;">
                                    <span class="text-muted expertfont2">&nbsp; {{expert.address1.city}} </span>
                                </p>

                                <div class="mt-2">
                                    <button
                                        class=" apptmnt btn btn-primary"
                                        style="background-color:#9c27b0;border:none;" (click)="viewProfile(expert._id)">
                                        <!--routerLink="/exprtprofile/{{expert._id}}" >-->
                                        View Profile
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-2 col-2 text-right">
                                <div class="text-md-right text-sm-right text-lg-center">
                                    <p class="datee">
                                        <i class="fa fa-star fa-1x mt-2" style="font-size: 1.1em;"></i><br>
                                        <span>{{expert.rating}}/5</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <pagination
                [totalItems]="experts.length" (pageChanged)="pageChanged($event)" id="pagees"></pagination>


            </div>

        </div>
    </section>
</main>
