
  <!--<section class="background-1">
        <div class="container">
            <div class="row mt-3"></div>
            <div class="row py-3 bg-white px-2"  routerLink="/blog">
                <i class="fa fa-arrow-left fa-2x" aria-hidden="true">&nbsp;
                    <span class="font-weight-bold" style="font-size: 2rem; cursor: po;" routerLink="/blog">Back</span>
                </i>

            </div>

            <div class="mt-2 row pl-5 bg-white px-2">
                <h3 class="mb-4 ml-2 mt-5 color-white font-weight-bold">{{ blog.title }}</h3>
                <div class="mt-2 square  bg-white px-2">
                    <div>
                        <img [src]="blog.image" class="float-right ml-2 blog-image" />
                    </div>
                    <p class="text-justiy ">{{blog.description }}</p>

                </div>
               
                <br>
                <div class="row">

                  <div class="col-xs-1 col-sm-6 col-md-3 col-lg-3" *ngFor="let cat of blog.tags">
                      <span class="badge badge-pill badge-primary">{{cat}}
                      </span>
                  </div>
                  </div>
              </div>


        </div>
    </section>--> 
<main style="margin-top:5rem">
   <div class="container">
      <div class="row  ">
         <div class="col-md-6 mt-5 mb-5 mb-md-5">
            <div class="d-flex flex-row">
               <img [src]="img" alt="" style="object-fit: fill;width: 100%;height: 250px;">
            </div>
            
            <div [innerHTML]="description" class="desc"></div>
         </div>
         <div class="col-md-1"></div>
         <div class="col-md-4  content">
            <h2 class="blogtitle">
               <b>{{title}}</b>
            </h2>
            <br>
           

            <div class=" d-flex flex-end flex-row  webbService">
               <div class="mr-3">
                  <a href="https://www.facebook.com/sharer.php?u=https://webicoun.com/descriptionblogs/{{id}}" class="mt-3" target="_blank" style="color:#3B5998;"> <i class="fab fa-2x fa-facebook"></i></a>
               </div>
               <div class="mr-3">
                  <a href="ttps://pinterest.com/pin/create/bookmarklet/?media=ttps://webicoun.com/descriptionblogs/{{id}}" target="_blank" class="mt-3" style="color: #BD081C">  <i class="fab fa-2x fa-pinterest"></i></a>
               </div>
               <div class="mr-3">
                  <a href="https://www.linkedin.com/shareArticle?url=https://webicoun.com/descriptionblogs/{{id}}" target="_blank" class="mt-3" style="color:#0077B5">  <i class="fab fa-2x fa-linkedin"></i></a>
               </div>
               <div class="mr-3">
                  <a href="https://twitter.com/share?url=https://webicoun.com/descriptionblogs/{{id}}" target="_blank" class="mt-3" style="color:#1da1f2;">  <i class=" fab fa-2x fa-twitter-square"></i></a>
               </div>
               <div class="mr-3">
                  <a href="https://api.whatsapp.com/send?text=https://webicoun.com/descriptionblogs/{{id}}" target="_blank" class="mt-3" style="color: #43d366;">  <i class="fab fa-2x fa-whatsapp"></i></a>
               </div>
            </div>
            <br>
            
            <p style="font-size:20px;">by <span style="color:red">{{author}}</span></p>
         </div>
      </div>
      
      <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      <h2 style="font-family: Open Sans;"><b>Related Tags</b></h2>
      <br>
      <div class="row" style="margin-bottom: 20px;">
         <div *ngFor="let cat of tag">
           <span class="badge badge-pill badge-primary" (click)="tagClick(cat)" style="padding: 10px 10px;margin-right: 10px; margin-bottom:10px;cursor:pointer;">{{cat}}
            </span>
          
         </div>
      </div>
   </div>
</main>

