.background-1 {
    background-color: rgb(219, 215, 215);
}

section {
    /* position: relative; */
    /* padding: 7.5rem 0; */
}

.container {
    /* position: relative; */
    /* z-index: 1; */
    font-family: Open Sans !important;
}
 @media only screen and (max-width: 800px) {

.row {
    display: flex;
    flex-direction: column-reverse;
}

.blogtitle{
    
    margin-top:5px !important;

}

.desc{
    
    flex: 100%;
    overflow-x:hidden !important; 
}

}
.desc{
    font-size:1rem;
    font-family: Open Sans;

}
.desc img{
    object-fit: fill;
    width: 100%;
    height: 250px;
}


.blogtitle{
    font-family: Open Sans;
    line-height: 1.1em;
    letter-spacing: normal;
    font-weight: 700px;
    margin-top:50px !important;

}

.mb-4 {
    margin-bottom: 1.8rem!important;
}

.color-white {
    color: black!important;
}

.fs-0 {
    font-size: 1rem!important;
}

h6 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .06em;
}

.color-8 {
    color: black!important;
}

p {
    font-weight: 400;
    /* color: #6a6a6a; */
}

.py-6 {
    padding-top: 4rem!important;
    padding-bottom: 4rem!important;
}

.px-5 {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
}

.opacity-75 {
    opacity: .75;
}

.mb-0 {
    margin-bottom: 0!important;
}

.color-success {
    color: #4cd964!important;
}

.fs-2 {
    font-size: 1.5625rem!important;
}

.p,
p {
    font-size: 1rem;
}

@media (min-width: 48em) {
    .pr-md-8 {
        padding-right: 7.5rem!important;
    }
}

.blog-image {
    width: 266px;
    height:200px;
}
.badge-primary{
  background-color: #930B94;
  padding: 4px 7px;
  top: 8px;

  font-size: 15px;
}
