<section class="co mt-2 mb-2">
    <div class="container">
        <div class="row justify-content-center">
            <form [formGroup]="registerForm" class="" (ngSubmit)="onSubmit(registerForm.value)">
                <div class="form-group">
                    <!-- <label>Name of session</label> -->
                    <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" placeholder="Title" />
                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">*Required</div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- <label>platform</label> -->
                    <input type="text" formControlName="platform" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.platform.errors }" placeholder="Provide the platform" />
                    <div *ngIf="submitted && f.platform.errors" class="invalid-feedback">
                        <div *ngIf="f.platform.errors.required">*Required</div>
                    </div>
                </div>

                <div class="form-group">
                    <!-- <label>category</label> -->
                    <input type="text" formControlName="category" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.category.errors }" placeholder="Mention category" />
                    <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                        <div *ngIf="f.category.errors.required">*Required</div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- <label>Price</label> -->
                    <input type="text" autocomplete="off" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" placeholder="Enter price" />
                    <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                        <div *ngIf="f.price.errors.required">price is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- <label>Sessions:</label> -->
                    <input type="text" autocomplete="off" formControlName="sessions" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sessions.errors }" placeholder="Number of sessions" />
                    <div *ngIf="submitted && f.sessions.errors" class="invalid-feedback">
                        <div *ngIf="f.sessions.errors.required">*Required</div>
                    </div>
                </div>

                <div class="form-group">
                    <!-- <label>Descriptions:</label> -->
                    <!-- <input type="text" autocomplete="off" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" placeholder="Give description" /> -->
                    <textarea formControlName="description" class="form-control" rows="5" placeholder="Enter description in 200 words only" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" maxlength="200">
          </textarea>
                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">*Required</div>
                        <!-- <div *ngIf="f.description.errors.pattern">
                            Min 3 characters only
                        </div> -->
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary mr-1">Register</button>
                </div>
                <!-- <div class="text-center ">
                    {{successMessage}}
                </div> -->
            </form>
        </div>
    </div>
</section>