<!-- <section>
    <h1 class="text-center">
        Sign Up</h1>
    <div class="container">
        <div class="row justify-content-center">
            <ng-template [ngIf]="form == 1">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)" style="width: 300px">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" formControlName="fullName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" />
                        <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                            <div *ngIf="f.fullName.errors.required">Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">
                                Email must be a valid email address
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Mobile number </label>
                        <input type="text" formControlName="number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.number.errors }" />
                        <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
                            <div *ngIf="f.number.errors.required">Number is required</div>
                        </div>
                    </div>

                    <div class="form-group position-relative">
                        <label>Password</label>
                        <div class="input-group">
                            <input [type]="password" autocomplete="off" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <span class="pt-2 ml-2 position-absolute" style="right: 1rem;" (click)="onClickk()">
                <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
              </span>
                        </div>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">
                                Password must be at least 6 characters
                            </div>
                        </div>



                    </div>
                    <div class="form-group position-relative">
                        <label>Confirm Password</label>
                        <div class="input-group">
                            <input [type]="password" autocomplete="off" formControlName="confirmPassword" class="form-control" [ngClass]="{
                  'is-invalid': submitted && f.confirmPassword.errors
                }" />
                            <span class="pt-2 ml-2 position-absolute" style=" right: 1rem;" (click)="onClickk()">
                <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
              </span>
                        </div>
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">
                                Confirm Password is required
                            </div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">
                                Passwords must match
                            </div>
                        </div>


                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                        <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                        <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
                            Accept Ts & Cs is required
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary mr-1">Register</button>
                    </div>
                </form>
            </ng-template>
            <ng-template [ngIf]="form == 2">
                <form style="width: 300px; margin-top: 50px">
                    <div class="form-group">
                        <label>Enter OTP</label>
                        <input type="text" class="form-control" [(ngModel)]="otp" name="otp" />
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary mr-1" (click)="validateUser()">Validate</button>
                        <a class="btn btn-danger mr-1" (click)="form = 1"> Back </a>
                    </div>
                </form>
            </ng-template>
        </div>
    </div>
</section> -->

<!-- new content -->
<section>
    <div class="container register">
        <div class="row">
            <div class="col-md-4 register-left">
                <img src="../../assets/Webicoun-logo-round.png" alt="" />
                <h3>Welcome to Webicoun India! </h3>
                <a routerLink="/signin" class="btn btn-outline-light mt-3">Already have an account? Sign-in here</a>
            </div>
            <ng-template [ngIf]="form == 1">
                <div class="col-md-8  register-right">
                    <h3 class="register-heading">Create your account</h3>
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" formControlName="fullName" placeholder="Enter your full name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" />
                                    <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                                        <div *ngIf="f.fullName.errors.required">Name is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" formControlName="email" placeholder="Enter email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">
                                            Email must be a valid email address
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Your contact number" formControlName="number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.number.errors }" />
                                    <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
                                        <div *ngIf="f.number.errors.required">Number is required</div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group position-relative">
                                    <div class="input-group">
                                        <input [type]="password" autocomplete="off" placeholder="Create a password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                        <span class="pt-2 ml-2 position-absolute" style="right: 2rem;" (click)="onClickk()">
                                            <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                                            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                                        </span>
                                    </div>
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                    </div>
                                </div>

                                <div class="form-group position-relative">
                                    <div class="input-group">
                                        <input [type]="password" autocomplete="off" placeholder="Re-type password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors}" />
                                        <span class="pt-2 ml-2 position-absolute" style=" right: 2rem;" (click)="onClickk()">
                                            <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                                            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                                        </span>
                                    </div>
                                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                    </div>
                                </div>
                                <div class="form-group form-check mb-3 mt-3">
                                    <div class="maxl">
                                        <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                                        <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                                        <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
                                            Accept Ts & Cs is required
                                        </div>
                                    </div>
                                </div>
                                <!-- <input type="submit" class="btnRegister" value="Register" /> -->
                                <div class="text-right">
                                    <button class="btn btn-primary mr-1 ">Register</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-template>
            <ng-template [ngIf]="form == 2">
                <form style="width: 300px; margin-top: 50px">
                    <div class="form-group">
                        <label>Enter OTP</label>
                        <input type="text" class="form-control" [(ngModel)]="otp" name="otp" />
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary mr-1" (click)="validateUser()">Validate</button>
                        <a class="btn btn-danger mr-1" (click)="form = 1"> Back </a>
                    </div>
                </form>
            </ng-template>
        </div>
    </div>
</section>