<main class="p-4" id="main-section">
    <section class="content">
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="text-uppercase display-2">SOCIAL WELLNESS</h1>
            </div>
            <div class="row justify-content-center">
                <img src="/assets/Social wellness no bg.png" width="500" class="img-fluid" alt="" />
                <div class="row justify-content-center">
                    <h2>The engaging personality of yours!</h2>
                    <p class="ml-3 mr-3 text-center">
                        Interact with people, make connections, taking care of others, get activate together. These are the four aspects of being socially active. A socially active person never finds him alone at any point of time and it all depends on one's behaviour towards
                        understanding others!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-wrap justify-content-around">
                    <div class="card m-2" style="width: 18rem" *ngFor="let web of webinars">
                        <iframe [src]="getembedurl(web.videourl)" frameborder="0 " allowfullscreen style="height: 200px; width: auto">
            </iframe>
                    </div>
                </div>
                <!-- <div class="col-12">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-4 mb-3" *ngFor="let web of webinars">
                                        <div class="card">
                                            <iframe [src]="getembedurl(web.videourl)" frameborder="0" allowfullscreen style="height:250px; width:auto">
                                            </iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row"></div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
</main>