<app-header></app-header>

<section class="co p-5 mb-3">
  <h1 class="text-center">Provide us the details</h1>
  <div class="container">
    <div class="row justify-content-center">
      <form [formGroup]="registerForm2" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label for="file" class="col-sm-5 col-form-label"
            >Adhar card/ DL/ Passport</label
          >

          <div class="col-sm-7">
            <input
              type="file"
              [ngClass]="{ 'is-invalid': submitted && f.adharCard.errors }"
              formControlName="adharCard"
              class="form-control"
              id="adharCard"
              #panCard
            />
            <div
              *ngIf="submitted && f.adharCard.errors"
              class="mt-2 alert alert-danger form-inline"
            >
              <div *ngIf="f.adharCard.errors.required">*Required</div>
              <div *ngIf="f.adharCard.errors.minlength">
                Please enter valid account number
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="file" class="col-sm-5 col-form-label">Pan card</label>

          <div class="col-sm-7">
            <input
              type="file"
              [ngClass]="{ 'is-invalid': submitted && f.panCard.errors }"
              formControlName="panCard"
              class="form-control"
              id="panCard"
              #panCard
            />
            <div
              *ngIf="submitted && f.panCard.errors"
              class="mt-2 alert alert-danger form-inline"
            >
              <div *ngIf="f.panCard.errors.required">*Required</div>
              <div *ngIf="f.panCard.errors.minlength">
                Please enter valid account number
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="file">Bank Details</label>
          <div class="col-sm-7">
            <input
              type="file"
              [ngClass]="{ 'is-invalid': submitted && f.cancelCheque.errors }"
              formControlName="cancelCheque"
              class="form-control"
              id="cancelCheque"
              #cancelCheque
            />
            <div
              *ngIf="submitted && f.cancelCheque.errors"
              class="mt-2 alert alert-danger form-inline"
            >
              <div *ngIf="f.cancelCheque.errors.required">*Required</div>
              <div *ngIf="f.cancelCheque.errors.minlength">
                Please enter valid account number
              </div>
            </div>
          </div>
        </div>

        <div class="text-center">
          <button class="btn btn-primary mr-1">Register</button>
          <a routerLink="/expert-sign-in" class="btn btn-danger ml-3"
            >Already have a account? Log-in here</a
          >
        </div>
      </form>
    </div>
  </div>
</section>
