<!-- <main class="blog">
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <h1>Our Blogs</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4" *ngFor="let blog1 of blogs1">
                    <div class="card h-100" (click)="read(blog1)">
                        <img class="card-img-top" [src]="blog1.image" width="100%" style="max-height: 600px" />
                        <div class="card-block">
                            <figure class="profile">
                                <img [src]="blog1.image" class="profile-avatar" alt="" />
                            </figure>
                            <h4 class="card-title mt-3">{{ blog1.title }}</h4>
                            <div class="card-text">
                                Read full story........<i class="fa fa-1x fa-arrow-down"></i>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small>{{ blog1.author }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main> -->

<main>
    <section>
        <div style="object-fit: fill;width: 100%;height: 250px;background: linear-gradient(145deg,#910592,#b460b4);" >
           <a href="#" style="text-decoration: none;">
<h2 class="qw">The Webicoun Blog</h2></a>
        </div>
    </section>

 <div class="container d-flex flex-column">

                   <div class="card-header">
                        <ng-template ngFor let-classes [ngForOf]="blogee" let-index="index">
                            <div [class] = "{'carousel-item': true , active: index == 0}">
                            <div class="d-flex align-content-center">
                                <div *ngFor= "let class of classes" class="">
                                    <div class="text-center mt-2" style="">
                                      <a (click)="clickImg(class.category)" href="javascript:;" class="ab"><img class="card-img-top " [src]="class.link" alt="Card image cap" id="abc" style=" 
  ">
                                      <p>{{class.category}}</p>
                                  </a>
                                   </div>
                                </div>
                            </div>
                            </div>
                        </ng-template>
                    </div>
            
        </div>

        
    
    <section class="mt-4">
        <div class="container">
            <div class="row d-flex flex-row  card-section1">
                <div class="card" *ngFor="let blog1 of bloglist" (click)="read(blog1._id)">
                    <img [src]="blog1.image" class="card-img-top" alt="..." style="min-height: 213px;max-height: 213px; border-radius: 2px;">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold text-uppercase">{{blog1.title }}</h5>
                        <p class="text-muted">Read Full Story...</p> 
                        <p style="line-height: 2px;">{{blog1.author}}</p>
                    </div>
                    <!--<div class="card-footer text-muted">
                        <div class="d-flex flex-row justify-content-between">
                            <div>
                                {{blog1.author}}
                            </div>
                           
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </section>
</main>