.card {
    border: none;
    webkit-box-shadow: 12px 7px 10px -6px rgba(0, 0, 0, 0.37);
    
   box-shadow: 0 1px 12px 0 #cdcdcd;
    border-radius: 10px;
    width: 21rem;
    max-width: 21rem;
    height: 23rem;
    margin-bottom: 2.4rem;
    cursor: pointer;
}

.card-header {
    border: none;
    /*-webkit-box-shadow: 12px 7px 10px -6px rgba(0, 0, 0, 0.37);
    box-shadow: 12px 7px 10px -6px rgba(0, 0, 0, 0.37); */
    border-radius: 20px;
    
    padding-left: 40px !important;
    
    margin-top: 24px !important;
    margin-bottom: 2.4rem;
    cursor: pointer;
    position: relative !important;
    height:10rem !important;
}

.ab{
    cursor: pointer;text-decoration: none; color:black;padding-right: 55px !important;
}

#abc{
    width:80px;height:80px;border-radius: 50%;
}

.qw{
    font-weight: bold;
    color: #FFF !important;
    letter-spacing: 1px; 
    text-align: center;
    padding: 100px 15px; font-size: 45px;
}


.card-section1 {
    justify-content: space-between;
}

@media screen and (max-width:767px) {
    .card-section1 {
        justify-content: space-evenly;
    }


}

@media screen and (max-width:995px) {
    .ab{
       font-size: 15px !important;
    }
    .ab{
    padding-right: 30px !important;
}

#abc{
    width:60px;height:60px;border-radius: 50%;
}
 

.card-header {
   
    /*-webkit-box-shadow: 12px 7px 10px -6px rgba(0, 0, 0, 0.37);
    box-shadow: 12px 7px 10px -6px rgba(0, 0, 0, 0.37); */
    padding-left: 5px !important;
     overflow-x: scroll !important;
     overflow-y: hidden !important;
      height:9rem !important;
}


}

@media screen and (max-width:550px) {
    .ab{
       font-size: 10px !important;
    }
    .ab{
    padding-right: -2px !important;
}


 

.card-header {
   
    /*-webkit-box-shadow: 12px 7px 10px -6px rgba(0, 0, 0, 0.37);
    box-shadow: 12px 7px 10px -6px rgba(0, 0, 0, 0.37); */
    
     overflow-x: scroll !important;
     overflow-y: hidden !important;
     height:8rem !important;
     padding-left: 5px !important;
}


}

@media screen and (max-width:450px) {
 .qw{
    font-size: 30px !important;
 }


 




}
.carousel-control-prev
{
    left: 0;
   
     position: absolute;
    top: 0;
    width: 25px;
    z-index: 2;
    height: 100%;
    cursor: pointer;
    color:black !important;
}

.carousel-control-next
{
    right: 0;
   
     position: absolute;
    top: 0;
    width: 25px;
    z-index: 2;
    height: 100%;
    cursor: pointer;
    color:black;
}




#carouselExampleIndicators .carousel-control-prev,
#carouselExampleIndicators .carousel-control-next {
   
}



.carousel-indicators li {
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    background-color: rgb(5, 0, 7);
    border-radius: 100%;
}

h1 {
    font: 400 2.4rem/70px Roboto, "Raleway", sans-serif;
    letter-spacing: normal;
}




.indicatorss {
    background-image: url('../../assets/left-arrow-black-circular-button.png');
}

.indicatorss2 {
    background-image: url('../../assets/rightt-arrow-black-circular-button.png');
}



.carousel-indicators li:hover {
   
    transition: all 0.2s ease;
}





.last-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: -80px;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 78%;
    margin-left: 16%;
    list-style: none;
}

.last-indicators li {
    background-color: white;
    visibility: none;
}

.fa .fa-arrow-left {
    color: red;
}





/* media query */




#Cardd {
    width: 17rem;
    border: none;
}

@media screen and (max-width:767px) {
    #Cardd {
        /* border: 1px solid red; */
        width: auto;
        font-size: 15px;
    }
}







@media screen and (min-width:780px) {
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 40px;
        height: 40px;
        margin-bottom: 11px
    }
}



@media screen and ( max-width:767px) {
    #Cardd {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
    }
}



