<!-- <main class="pt-4">
    <h1>Write to us</h1>
    <form [formGroup]="form" (ngSubmit)="send()">
        <div class="half left cf">
            <input type="text" formControlName="name" placeholder="Name" />
            <input type="email" formControlName="email" placeholder="Email address" />
        </div>
        <div class="half right cf">
            <textarea formControlName="message" type="text" id="input-message" placeholder="Message"></textarea>
        </div>
        <input type="submit" value="Submit" id="input-submit" />
    </form>
</main> -->

<main style="margin-top:5rem">
  <div class="container">
      <div class="row  ">
          <!-- <div class="col-md-4">
              <div style="margin-top: 5rem;">
                  <img src="../../assets/img-01.webp" alt="">
              </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-7">
              <div class="justify-content-center">
                  <h1>
                      Don't hesitate to reach us
                  </h1>
                  <p>
                      We are a community driven, open minded team. <br>Share your thoughts, advices or insights with us.
                  </p>
              </div>
              <form class="zform p-3 p-md-6" [formGroup]="form" (ngSubmit)="send()">
                  <div class="row justify-content-center">
                      <div class="col-md-12">
                          <div class="form-group">
                              <input class="form-control background-white border-2x" formControlName="name" type="text" placeholder="Your full name">
                          </div>
                      </div>

                      <div class="col-md-12">
                          <div class="form-group">
                              <input class="form-control  background-white" formControlName="email" type="email" placeholder="Your email id"></div>
                      </div>
                      <div class="col-12">
                          <div class="form-group">
                              <textarea class="form-control   background-white" rows="8" formControlName="message" placeholder="Type your message here"></textarea>
                          </div>
                      </div>
                      <div class="col-md-6 text-center mt-4">
                          <input type="submit" class="btn btn-dark" value="Submit" id="input-submit" />
                      </div>
                  </div>
              </form>
          </div> -->
          <div class="col-md-4  content">
              <h4 class="font-weight-bold mt-3">Contact Us Today!</h4>
              <p class="text-justify">
                  All your queries are welcomed and heard upon.
                  </p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-7 mt-5 mb-5 mb-md-5 ">
              <div class="row" style="box-shadow: -2px -2px 14px -1px rgba(0, 0, 0, 0.66);">
                  <div class="col-md-7 form-box">
                      <div class="d-flex flex-row justify-content-between mt-3">
                          <div class="text-left ml-3">
                              <h3 style="color: #B25CB3;" class="font-weight-bold">
                                  Send us a message
                              </h3>
                          </div>
                          <div>
                              <i class="fa fa-envelope text-right fa-2x" style="color: #B25CB3;"></i>
                          </div>

                      </div>
                      <div class=" mt-3">
                          <form class="pb-3 pt-3 pr-3" action="" [formGroup]="form" (ngSubmit)="send()">
                              <div class="form-group ml-3">
                                  <input class="form-control w-md-100  background-white" formControlName="email" type="email" placeholder="Your email id">
                              </div>
                              <div class="form-group ml-3">
                                  <textarea class="form-control w-md-100 background-white" rows="8" formControlName="message" placeholder="Type Your Query Here"></textarea>
                              </div>

                              <div class="text-right">
                                  <button type="submit" class="" id="input-submit">
                                      <i class="fas fa-paper-plane fa-2x"></i>
                                      </button>
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="col-md-5" style="background-color: #930A94;">
                      <div class=" pt-2 pl-2 pr-2">

                          <div class="mt-2">
                              <h3 class="text-white">Contact Information</h3>
                          </div>
                          <div class="" style="margin-top: 4rem;">
                              <i class="fa fa-mobile-alt text-white"></i>
                              <span class="text-white"> &nbsp; 8716919777</span>
                          </div>

                          <div class="mt-4">
                              <i class="fa fa-envelope text-white"></i>
                              <span class="text-white"> &nbsp; support@webicoun.com</span>
                          </div>
                          <div class=" d-flex flex-end flex-row  webbService">
                              <div class="mr-4">
                                  <a href="https://www.facebook.com/Webicounindia/" class="mt-3" target="_blank"> <i class="fab fa-2x fa-facebook text-white"></i></a>
                              </div>

                              <div class="mr-4">
                                  <a href="https://instagram.com/webicoun_india?igshid=st7ddh5y4lpd" target="_blank" class="mt-3">  <i class="fab fa-2x fa-instagram-square text-white"></i></a>
                              </div>

                              <div class="mr-4">
                                  <a href="https://www.linkedin.com/company/webicoun-india" target="_blank" class="mt-3">  <i class="fab fa-2x fa-linkedin text-white"></i></a>

                              </div>

                              <div class="mr-4">
                                  <a href="https://twitter.com/webicoun" target="_blank" class="mt-3">  <i class=" fab fa-2x fa-twitter-square text-white"></i></a>
                              </div>

                              <div class="mr-4">
                                  <a href="https://www.youtube.com/channel/UClDf3yqwPdvDl2f1uN9hI2g" target="_blank" class="mt-3">  <i class="fab fa-2x fa-youtube-square text-white"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</main>
