@import url(https://fonts.googleapis.com/css?family=Merriweather);
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

main {
    background: url('../../assets/contact us bg.png');
    background-position: center;
    background-size: cover;
}


/* 
html,
body {
    background: #f1f1f1;
    font-family: 'Merriweather', sans-serif;
    padding: 1em;
}

h1 {
    text-align: center;
    color: #a8a8a8;
    text-shadow: 1px 1px 0 white;
}

form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
}

form input,
form textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
}

form input:focus,
form textarea:focus {
    -moz-box-shadow: 0 0px 2px#8F0090 !important;
    -webkit-box-shadow: 0 0px 2px#8F0090 !important;
    box-shadow: 0 0px 2px#8F0090 !important;
}

form #input-submit {
    color: white;
    background: #8F0090;
    cursor: pointer;
}

form #input-submit:hover {
    -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

form textarea {
    height: 126px;
}

.half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
}

.right {
    width: 50%;
}

.left {
    margin-right: 2%;
}

@media (max-width: 480px) {
    .half {
        width: 100%;
        float: none;
        margin-bottom: 0;
    }
}

@media screen and (min-width:500px) {
    .pt-4 {
        min-height: 41vh;
    }
}


.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
 */

@media (min-width: 48em) {
    .p-md-6 {
        padding: 4rem!important;
    }
    .p-3 {
        padding: 1rem!important;
    }
    .background-11 {
        background-color: #fafafa!important;
    }
    .color-9 {
        color: #e1e1e1!important;
    }
    .radius-secondary {
        border-radius: 10px!important;
    }
    .border {
        border: 1px solid currentColor!important;
    }
}

.p-md-6 {
    padding: 4rem!important;
}

.p-3 {
    padding: 1rem!important;
}


/* .background-11 {
    background-color: #fafafa!important;
} */


/* 
.color-9 {
    color: #e1e1e1!important;
} */

.radius-secondary {
    border-radius: 10px!important;
}

.border {
    border: 1px solid currentColor!important;
}

.mb-0 {
    margin-bottom: 0!important;
}

.color-3 {
    color: #404040!important;
}

.ls {
    letter-spacing: 2px!important;
}

.fw-700 {
    font-weight: 700!important;
}

input[type=text],
input[type=email],
textarea {
    width: 95%;
    background-color: #E6E6E6;
    color: #8F0090;
    padding: 1.3rem 1.4rem;
    border-radius: 7px;
}

.form-control:focus {
    border: 1px solid #8F0090;
    box-shadow: none;
}


/* new  */

.form-box {
    /* box-shadow: -2px -2px 14px -1px rgba(0, 0, 0, 0.66); */
    background-color: #fff;
}

#input-submit {
    width: 64px;
    height: 61px;
    padding: 6px 0px;
    border-radius: 50px;
    font-size: 13px;
    text-align: center;
    border: none;
    color: #fff;
    background-color: #B25CB3;
}

h4 {
    font-size: 29px;
    margin-bottom: 2rem;
}

p {
    font-size: 23px;
}

@media screen and (max-width:370px) {
    h4 {
        font-size: 25px
    }
    .content {
        padding: 1rem
    }
}

@media screen and (max-width:480px) {
    p {
        font-size: 18px
    }
}

.webbService {
    margin-top: 12.1rem;
}

@media screen and (max-width:456px) {
    .webbService {
        margin-top: 3rem;
    }
}

.content {
    margin-bottom: 3rem;
}

@media screen and (min-width:350px) and (max-width:550px) {
    .content {
        margin-bottom: 0.1rem;
    }
}