<main id="homepage">
    <section class="slider-page ">
        <div class="position-relative">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <!-- <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol> -->
               <!-- <div class="carousel-inner">


                    <div class="carousel-item position-relative active">
                        <img id="fnlbanner" class="d-block " src="/assets/mobile.jpg" alt="First slide" >
                    </div>

                </div>-->


                  <div class="carousel-inner">


                    <div class="carousel-item position-relative active">
                        <img id="fnlbanner" class="visible-mobile" src="/assets/mobile.jpg" alt="First slide" >
                        
                        <img id="fnlbanner" class="hidden-mobile" src="/assets/website123.jpg" alt="First slide"> <a href="https://forms.gle/E395ebSHuVmKrr9WA" 
                            class="btnn1">
                            REGISTER NOW
                        </a>
                    </div>

                </div>
            </div>
            <!-- <a *ngIf="!userName" [routerLink]="['/signup']" id="session-book" class=" position-absolute text-decoration-none text-uppercase">Book a free live class</a>

            <a *ngIf="userName" href="https://instagram.com/webicoun_india?igshid=st7ddh5y4lpd" target="_blank" id="session-book" class="position-absolute text-decoration-none text-uppercase">Book a free live class</a> -->
        </div>
    </section>
    <section class="how-section mt-4 mb-0 pt-2 pb-5">
        <div class=" container pt-2 text-center" style="    margin-bottom: 5rem;">
            <h2 class="text-uppercase mb-3 mx-auto font-weight-bold" id="firsthdg">What We Provide ?</h2>
        </div>
        <div class="container mt-3 mb-3">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-lg-1 " style="margin-bottom: 5rem;">
                    <div class="px-4 m-2 py-5 text-center h-100 " id="how-card" style=" border-radius:7px;box-shadow: 3px 5px 11px rgba(0, 0, 0, 0.4);
                    ">
                        <img src="../assets/vector1.png" class="img-fluid" width="180" style="margin-top: -108px;"
                            alt="" />
                        <div>
                            <img src="../../assets/webivoun-app.png" alt="" width="180" class="img-fluid">

                        </div>
                        <h4 class="pt-4 mb-3 text-uppercase font-weight-bold">Webinars</h4>

                        <p class="mt">
                            Webinars for Self-Improvement by Experts from all over India.
                        </p>
                        <button routerLink=""
                            class="mt-3 font-weight-bold text-white text-uppercase provide-sub-btn btn-primary ">
                            STAY TUNED
                        </button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-lg-1 " style="margin-bottom: 5rem;">
                    <div class="px-4 m-2 py-5 top-0 left-0 text-center h-100 " id="how-card" style=" box-shadow: 3px 5px 11px rgba(0, 0, 0, 0.4);border-radius:7px;
                    ">
                        <img src="../assets/vector2.png" class="img-fluid" width="180" alt=""
                            style="margin-top: -108px;" />
                        <div>
                            <img src="../../assets/webivoun-app.png" alt="" width="180" class="img-fluid">

                        </div>
                        <h4 class="pt-4 mb-3 text-uppercase font-weight-bold">
                            Counselling
                        </h4>
                        <p class="mt-2">
                            APP based personalized Counselling. Anytime. Anywhere.
                        </p>
                        <button
                            class="mt-3 font-weight-bold text-white btn btn-primary text-uppercase provide-sub-btn ">
                            Stay Tuned
                        </button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-lg-1 " style="margin-bottom: 5rem;">
                    <div class="px-4 m-2 py-5 top-0 left-0 text-center h-100 " id="how-card" style=" box-shadow: 3px 5px 11px rgba(0, 0, 0, 0.4);border-radius:7px;
                    ">
                        <img src="../assets/vector3.png" class="img-fluid" width="180" alt=""
                            style="margin-top: -108px;" />
                        <div>
                            <img src="../../assets/webivoun-app.png" alt="" width="180" class="img-fluid">

                        </div>
                        <h4 class="pt-4 mb-3 text-uppercase">
                            <i class="fa fa-circle Blink"></i>&nbsp;
                            <span class="font-weight-bold">Live Classes</span>
                        </h4>
                        <p>
                            Specially Crafted series of Live Classes for young and bright minds.
                        </p>
                        <button (click)="bookclass()"
                            class="font-weight-bold text-white btn btn-primary mt-3 text-uppercase provide-sub-btn ">
                            Stay Tuned
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="how-section mt-1 mb-0 pt-2 pb-5">
        <div class="text-center container mb-4 pt-2">
            <h2 class="text-uppercase mb-3 mx-auto font-weight-bold " id="secndhdg">Webicoun For You</h2>
        </div>
        <div class="container mt-3 mb-3">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-lg-1 mb-4">
                    <div class="px-4 m-2 py-5 text-center h-100 " id="how-card">
                        <img src="../assets/Understanding.png" class="img-fluid" width="200" alt="" />
                        <h4 class="pt-4 mb-3 text-uppercase font-weight-bold">
                            “understanding”
                        </h4>
                        <p>
                            We understand how you feel and provide solutions for it.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-lg-1 mb-4">
                    <div class="px-4 m-2 py-5 top-0 left-0 text-center h-100 " id="how-card">
                        <img src="../assets/Confidentiality.png" class="img-fluid" width="200" alt="" />
                        <h4 class="pt-4 mb-3 text-uppercase font-weight-bold">
                            “CONFIDENTIALITY”
                        </h4>
                        <p>
                            Confidentiality in every session you take. Because, your privacy is our responsibility.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-lg-1 mb-4">
                    <div class="px-4 m-2 py-5 top-0 left-0 text-center h-100 " id="how-card">
                        <img src="../assets/strees-free.png" class="img-fluid" width="200" alt="" />
                        <h4 class="pt-4 mb-3 text-uppercase font-weight-bold">
                            “HAPPY ENVIRONMENT”
                        </h4>
                        <p>
                            Creating a stress-free environment for happy & contented life.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- <section class="pick-choice m-5">


         <div class="text-center container pt-2" data-aos="fade-up" data-aos-duration="2000">
            <h1 class="text-uppercase mx-auto text-uppercase">Pick Your Category</h1>
        </div>
        <div class="container">
            <div class="row d-flex flex-wrap flex-row justify-content-around">
                <div class="card mt-1 mb-5 mr-3" style="width: 12rem" data-aos="zoom-in" data-aos-duration="2000">
                    <img src="../assets/network.png " class="img-fluid" />
                    <div class="info text-center" style="margin-top: 1.5rem;margin-left: 0.3rem;">
                        <button routerLink="/socwellness">Social Wellness</button
            >
          </div>
        </div>
        <div class="card mt-1 mb-5 mr-3" style="width: 12rem" data-aos="zoom-in" data-aos-duration="2000" >
          <img src="../assets/lotus-position.png" class="img-fluid" />
          <div class="info text-center" style="margin-top: 2rem;margin-left: 0.3rem;">
            <button routerLink="/sprtwellness">
              Spiritual Wellness
            </button>
                    </div>
                </div>
                <div class="card mt-1 mb-5 mr-3" style="width: 12rem" data-aos="zoom-in" data-aos-duration="2000">
                    <img src="../assets/positive-thinking.svg" class="img-fluid" />
                    <div class="info text-center" style="margin-top: 2.4rem;margin-right: 0.7rem;">
                        <button routerLink="/movt">Motivation</button>
                    </div>
                </div>
                <div class="card mt-1 mb-5 mr-3" style="width: 12rem" data-aos="zoom-in" data-aos-duration="2000">
                    <img src="../assets/engineer.svg " class="img-fluid" />
                    <div class="info text-center" style="margin-top: 2rem;">
                        <button class="ml-1" routerLink="/envtwellness">Enviromental Wellness</button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around d-flex flex-wrap flex-row">
                <div class="card mt-1 mb-5 mr-3" style="width: 12rem" data-aos="zoom-out" data-aos-duration="2000">
                    <img src="../assets/hand.svg" class="img-fluid" />
                    <div class="info text-center" style="margin-top: 2.5rem;">
                        <button routerLink="/emtwellness">Emotional Wellness</button>
                    </div>
                </div>
                <div class="card mt-1 mb-5 mr-3" style="width: 12rem" data-aos="zoom-out" data-aos-duration="2000">
                    <img src="../assets/iconfinder_exercise-11_5850362.png" class="img-fluid" />
                    <div class="info text-center" style="margin-top: 2.1rem;">
                        <button class="ml-1" routerLink="/physwellness">
              Physical Wellness
            </button>
                    </div>
                </div>
                <div class="card mt-1 mb-5 mr-3" style="width: 12rem" data-aos="zoom-out" data-aos-duration="2000">
                    <img src="../assets/3315592.svg " class="img-fluid" />
                    <div class="info text-center" style="margin-top: 1.5rem;">
                        <button routerLink="/cnd" class="ml-2 mt-3">Career & Education</button>
                    </div>
                </div>
                <div class="card mt-1 mb-5 mr-3" style="width: 12rem" data-aos="zoom-out" data-aos-duration="2000">
                    <img src="../assets/2850549.svg " class="img-fluid" />
                    <div class="info text-center" style="margin-top: 1.5rem;margin-left: 0.3rem;">
                        <button routerLink="/pdp">Personality Development</button>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class=" pt-2 pb-4">
        <div class="container d-flex flex-column">
            <div class=" d-flex justify-content-center mt-1 mb-5">
                <div class="font-weight-bold">
                    <h2 class="text-uppercase mb-3 mx-auto font-weight-bold text-center" id="cstmr">Our Customers loves
                        us!</h2>
                </div>
            </div>

            <div class="">
              <div id="multi-item-example2" class="carousel slide carousel-multi-item " data-ride="carousel">
                 <ol class="carousel-indicators last-indicators">
                    <li data-target="#multi-item-example2" data-slide-to="0" class="active"></li>
                    <li data-target="#multi-item-example2" data-slide-to="1"></li>
                    <!-- <li data-target="#multi-item-example2" data-slide-to="2"></li>-->
                 </ol>
                 <div class="carousel-inner" role="listbox">
                    <div id="media-carousel" class="carousel-item active">
                       <div class="d-flex align-content-center">
                          <div class="col-md-4 col-sm-12 col-12">
                             <div class="card" id="Cardd">
                                <div class="card-body">
                                   <div class="text-center mt-2">
                                      <img class="card-img-top " src="../../assets/img_avatar2.png" alt="Card image cap" style="width:50%;border-radius: 12rem;">
                                   </div>
                                   <div class="text-center mt-3 review-textt">
                                      <p class="text-justify ">Totally impressed with the service delivery and the quality. I feel thrilled & excited about using it.</p>
                                   </div>
                                   <div class="text-center">
                                      <h5 class="card-title m-auto">Purvi Mehta</h5>
                                      <h6>35, Ahmedabad</h6>
                                   </div>
                                </div>
                             </div>
                          </div>
                          <div class="col-md-4 col-sm-12 col-12">
                             <div class="card" id="Cardd">
                                <div class="card-body">
                                   <div class="text-center mt-2 ">
                                      <img class="card-img-top " src="../../assets/boy_test.jpeg" alt="Card image cap" style="width:50%;border-radius: 12rem;">
                                   </div>
                                   <div class="text-center mt-3 review-textt">
                                      <p class="text-justify">I found experts for corporate events from free webinars. I’m overwhelmed with the customer service of webicoun.</p>
                                   </div>
                                   <div class="text-center">
                                      <h5 class="card-title m-auto"> Mahindra Bhatt</h5>
                                      <h6>45, Mumbai</h6>
                                   </div>
                                </div>
                             </div>
                          </div>
                          <div class="col-md-4 col-sm-12 col-12">
                             <div class="card" id="Cardd">
                                <div class="card-body">
                                   <div class="text-center mt-2">
                                      <img class="card-img-top " src="../../assets/boy_test.jpeg" alt="Card image cap" style="width:50%;border-radius: 12rem;">
                                   </div>
                                   <div class="text-center mt-3 review-textt">
                                      <p class="text-justify">With every webinar, I feel an energy continuously growing in me, telling me “You deserve more, don’t settle”.</p>
                                   </div>
                                   <div class="text-center">
                                      <h5 class="card-title m-auto">Shravan Ohri</h5>
                                      <h6>20,Gurugram</h6>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="carousel-item">
                       <div class="d-flex align-content-center">
                          <div class="col-md-4 col-sm-12 col-12">
                             <div class="card" id="Cardd">
                                <div class="card-body">
                                   <div class="text-center mt-2">
                                      <img class="card-img-top " src="../../assets/boy_test.jpeg" alt="Card image cap" style="width:50%;border-radius: 12rem;">
                                   </div>
                                   <div class="text-center mt-3 review-textt">
                                      <p class="text-justify">Came here from a friend’s recommendation and it turned out to be an excellent decision for me. Amazing Services!</p>
                                   </div>
                                   <div class="text-center">
                                      <h5 class="card-title m-auto">Samrat Singh</h5>
                                      <h6>24, Bangalore</h6>
                                   </div>
                                </div>
                             </div>
                          </div>
                          <div class="col-md-4 col-sm-12 col-12">
                             <div class="card" id="Cardd">
                                <div class="card-body">
                                   <div class="text-center mt-2">
                                      <img class="card-img-top " src="../../assets/boy_test.jpeg" alt="Card image cap" style="width:50%;border-radius: 12rem;">
                                   </div>
                                   <div class="text-center mt-3 review-textt">
                                      <p class="text-justify">I never knew sharing emotions can make me feel so peaceful and stress free, until I came on webicoun.
                                      </p>
                                   </div>
                                   <div class="text-center">
                                      <h5 class="card-title m-auto">Ram Kohli
                                      </h5>
                                      <h6>25, Ludhiana</h6>
                                   </div>
                                </div>
                             </div>
                          </div>
                          <div class="col-md-4 col-sm-12 col-12">
                             <div class="card" id="Cardd">
                                <div class="card-body">
                                   <div class="text-center mt-2">
                                      <img class="card-img-top " src="../../assets/boy_test.jpeg" alt="Card image cap" style="width:50%;border-radius: 12rem;">
                                   </div>
                                   <div class="text-center mt-3 review-textt">
                                      <p class="text-justify">
                                         For me, webicoun has been an excellent user experience and I’m totally in love with the quality of services provided.
                                      </p>
                                   </div>
                                   <div class="text-center">
                                      <h5 class="card-title m-auto">Rahul Sharma
                                      </h5>
                                      <h6>26, Kerala</h6>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <!--<div class="carousel-item">
                       <div class="d-flex align-content-center">
                           <div class="col-md-4 col-sm-12 col-12">
                               <div class="card" id="Cardd">
                                   <div class="card-body">
                                       <div class="text-center mt-2">
                                           <img class="card-img-top " src="../../assets/img_avatar2.png" alt="Card image cap" style="width:50%;border-radius: 12rem;">
                                       </div>
                                       <div class="text-center mt-3 review-textt">
                                           <p class="text-justify">I found experts for corporate events from free webinars. I’m overwhelmed with the customer service of webicoun.</p>

                                       </div>
                                       <div class="text-center">
                                           <h5 class="card-title m-auto">Mahindra Bhatt </h5>
                                           <h6>42, Mumbai</h6>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-4 col-sm-12 col-12">
                               <div class="card" id="Cardd">
                                   <div class="card-body">
                                       <div class="text-center mt-2">
                                           <img class="card-img-top " src="../../assets/img_avatar2.png" alt="Card image cap" style="width:50%;border-radius: 12rem;">
                                       </div>
                                       <div class="text-center mt-3 review-textt">
                                           <p class="text-justify">Came here from a friend’s recommendation and it turned out to be an excellent decision for me. Amazing Services!
                                           </p>

                                       </div>
                                       <div class="text-center">
                                           <h5 class="card-title m-auto">Samrat Singh </h5>
                                           <h6>24, Bangalore</h6>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-4 col-sm-12 col-12">
                               <div class="card" id="Cardd">
                                   <div class="card-body">
                                       <div class="text-center mt-2">
                                           <img class="card-img-top " src="../../assets/img_avatar2.png" alt="Card image cap" style="width:50%;border-radius: 12rem;">
                                       </div>
                                       <div class="text-center mt-3 review-textt">
                                           <p class="text-justify">I’m using these services for 6 months now! Webicoun provides easy to use, simple, elegant and best quality of services!</p>

                                       </div>
                                       <div class="text-center">
                                           <h5 class="card-title m-auto">Jyotika Patel </h5>
                                           <h6>26, Vadodara</h6>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       </div>-->
                 </div>
                 <div class="controls-top text-right mt-3">
                    <a class="btn-floating mr-3" href="#multi-item-example2" data-slide="prev">
                    <i class="fa fa-arrow-left p-2" style="color: white;background-color: #8F0090;border-radius: 4px;" aria-hidden="true"></i>
                    </a>
                    <a class="btn-floating" href="#multi-item-example2" data-slide="next">
                    <i class="fa fa-arrow-right p-2" aria-hidden="true" style="border-radius: 4px;color: white;background-color: #8F0090;"></i>
                    </a>
                 </div>
              </div>
           </div>
        </div>
    </section>

</main>
