@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

#book-btn {
    color: #fffb00;
    transition: all 0.2s ease-in-out;
}

#book-btn:hover {
    color: black;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
}

section>div>h2 {
    font-family: 'Work Sans', sans-serif;
}

#book-btn ::before {
    content: "&nbsp;&nbsp;";
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    background-color: #ffec00;
    transform-style: flat;
    transition-property: height, width;
    transition-delay: 0.5s, 0.2s;
    transition-duration: 0.5s;
    padding-left: 1px;
}

#book-btn:hover ::before {
    transition-property: width, height;
    width: 15px;
    height: 100%;
    padding-left: 5px;
}

#book-btn:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fac600;
    transform: scaleX(0);
    transition: 0.5s;
    transition-delay: 0s;
    transform-origin: left;
    z-index: -1;
    border-radius: 15px;
}

#book-btn:hover:after {
    transform: scaleX(1);
    transition-delay: 0.2s;
    font-weight: bold;
    padding-left: 5px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    transition: all 0.2s ease-in;
    border-bottom: 1px solid #fff;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    left: 0;
    box-shadow: 0 6px 12px rgba(0, 44, 0, 0.175);
    border: none;
    font-size: 1rem;
    width: min-content;
    margin-bottom: 0;
}

.header .dropdown-menu .dropdown-item {
    word-spacing: 3px;
    font-size: 1rem;
}

.Blink {
    animation: blinker 0.6s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
    font-size: 17px;
    color: rgb(255, 2, 2);
}

@keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* Media queries */

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        top: 4rem;
        left: -3rem;
        right: 0;
    }
}

#carouselExampleIndicators .carousel-control-prev,
#carouselExampleIndicators .carousel-control-next {
    top: 50%;
    bottom: 50%;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    background-color: rgb(5, 0, 7);
    border-radius: 100%;
}

h1 {
    font: 400 2.4rem/70px Roboto, "Raleway", sans-serif;
    letter-spacing: normal;
}

#session-book {
    bottom: 20%;
    left: 6%;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 15px;
    background: linear-gradient(90deg, rgba(255, 102, 102, 1) 0%, rgba(190, 36, 191, 1) 56%, rgba(225, 125, 225, 1) 100%);
    /* color: #8f0090; */
    color: #fff;
    /* margin-top: 6.4rem; */
    /* background-color: transparent; */
    /* border: 2px solid #8f0090; */
    font-size: 15px;
    letter-spacing: 3px;
    font-family: "Raleway", sans-serif;
}

.provide-sub-btn {
    background: linear-gradient(90deg, rgba(255, 102, 102, 1) 0%, rgba(190, 36, 191, 1) 56%, rgba(225, 125, 225, 1) 100%);
    border: none;
    /* background-color: #fff;
    border: 2px solid #9b00a3;
    color: #9b00a3;
    padding: 14px 18px;
    border-radius: 10px;
    font-family: 'Work Sans', sans-serif; */
}

.indicatorss {
    background-image: url('../../assets/left-arrow-black-circular-button.png');
}

.indicatorss2 {
    background-image: url('../../assets/rightt-arrow-black-circular-button.png');
}


/* #session-book:hover {
    transition: all 0.3s ease;
    color: #8f0090;
    background-color: #fff;
    font-weight: bold;
    border: 2.5px solid transparent;
    margin: -0.01rem;
} */

.carousel-indicators li:hover {
    background-color: rgb(150, 46, 253);
    transition: all 0.2s ease;
}

.nav-tabs .nav-link {
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 25px;
    border: none;
    letter-spacing: 3px;
    font-family: "Raleway", sans-serif;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-bottom: 2px solid #7e43ba;
    margin-bottom: -0.1rem;
}

.webinars {
    margin-top: 11px;
    padding: 3px;
}

.webinars .provide-section {
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-family: "Raleway", sans-serif;
}

.webinars .provide-section .how-section {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.how-to {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 4rem;
}

.category {
    background-color: rgb(255, 135, 65);
    padding-top: 3.5rem;
    padding-bottom: 1.2rem;
}

.category .container .pick {
    text-transform: uppercase;
    font-size: 3.7rem;
    font-family: "Raleway", sans-serif;
}

.category .container .category2 {
    margin-top: 40px;
}

p {
    font-family: "Raleway", sans-serif;
}

.last-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: -80px;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 78%;
    margin-left: 16%;
    list-style: none;
}

.last-indicators li {
    background-color: #951096;
}

.fa .fa-arrow-left {
    color: red;
}


/* .carousel-item img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
} */


/* category-card */


/* #how-card:hover {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 11px;
    transition: all 0.4s ease-in-out;
    transform: translateX(-6px);
} */


/* .card {
    width: 280px;
    height: 215px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    cursor: default;
}

.card:hover:before {
    opacity: 1;
}

.card:hover .info {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
}

.card img {
    width: 70%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 27px;
    border-radius: 20px;
}

.card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.card .info h1 {
    margin: 0px;
}

.card .info p {
    letter-spacing: 1px;
    font-size: 12px;
    margin-top: 8px;
}

.card .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 14px;
    background: white;
    color: black;
    margin-top: 1rem;
    margin-right: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.card .info button:hover {
    background: dodgerblue;
    color: white;
}

 */


/* media query */
.visible-mobile {
  display: none !important;
}

@media (max-width: 489px) {
  .visible-mobile {
    display: inline !important;
  }

  .hidden-mobile {
    display: none !important;
  }


.btnn1{
 font-weight:bold;
 
  position: absolute;
  top: 90% !important;
  left: 23% !important;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #8F0090;
  color: white;
  letter-spacing: 2px!important;
  font-size: 9px !important;
  padding: 3px 9px !important;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  text-decoration: none;

}
}


@media (max-width: 768px) {
    #navbar li {
        width: 100%;
    }
}

@media screen and (max-width: 686px) {
    h1 {
        font-weight: bold;
        font-size: 1.4rem;
        /* color: red; */
    }
    /* #session-book {
        font-weight: bold;
        font-size: 9px;
        padding: 5px 5px;
    } */
}

#Cardd {
    width: 17rem;
    border: none;
}

@media screen and (max-width:767px) {
    #Cardd {
        /* border: 1px solid red; */
        width: auto;
        font-size: 15px;
    }
}

#fnlbanner {
    width: 100%;
    

}
.btnn1{
 font-weight:bold;
 
  position: absolute;
  top: 80%;
  left: 17%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #8F0090;
  color: white;
  font-size: 23px;
  padding: 5px 24px;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  text-decoration: none;
  
}

@media screen and (min-width:345px) and (max-width:470px) {
    #fnlbanner {
        margin-top: 9px;
        min-height: 47vw !important;
        object-fit: cover;
        /* width: 109%; */
        margin-right: 0px;
    }
    #session-book {
        font-size: 10px;
        padding: 5px 3px 5px 8px;
        left: 16px;
        bottom: 34px;
    }
}

@media screen and (max-width:625px) {
    #session-book {
        margin-top: 3rem;
        font-weight: bold;
        font-size: 9px;
        padding: 5px 11px;
    }
}

@media screen and (max-width:425px) {
    h2 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width:780px) {
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 40px;
        height: 40px;
        margin-bottom: 11px
    }
}

@media screen and (min-width:340px) and (max-width:400px) {
    #firsthdg {
        font-size: 22px
    }
    #secndhdg {
        font-size: 27px;
    }
    #cstmr {
        font-size: 23px;
    }
}

@media screen and ( max-width:767px) {
    #Cardd {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
    }
}

@media screen and (min-width:340px) and (max-width:767px) {
    #how-card {
        width: 92%;
        margin: 7px 11px
    }
}

@media screen and (min-width:320px) and (max-width:349px) {
    #session-book {
        left: 9px;
        font-size: 8px;
        padding: 4px 10px;
    }
}