<section class="co pt-3 pb-3">
  <br />
  <br />
  <h2 class="text-center">Reset Password</h2>
  <div class="container">
    <div class="row justify-content-center">
      <form
        [formGroup]="form"
        (ngSubmit)="forgotpassword()"
        style="width: 300px"
      >
        <div class="form-group">
          <label>Email</label>
          <input
            type="text"
            formControlName="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>

        <div class="text-center">
          <button class="btn btn-primary mr-1">Reset Password</button>
          <a routerLink="/expert-sign-in" class="btn btn-danger ml-3">Login </a>
        </div>
      </form>
    </div>
  </div>
</section>
