<main class="p-4" id="main-section">
  <section class="content">
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="text-uppercase display-2">SPIRITUAL WELLNESS</h1>
      </div>
      <div class="row justify-content-center">
        <img
          src="/assets/Spiritual no bg.png"
          width="500"
          class="img-fluid"
          alt=""
        />
        <div class="row justify-content-center">
          <h2>More Smiling, Less Worrying</h2>
          <p class="ml-3 mr-3">
            Spirituality is something which is not only related to oneself, it’s
            more than that. It’s about having set of values, principles, morals,
            beliefs towards life. Spirituality gives you a better understanding
            towards life and that’s the only temple that matters can be found
            within yourself!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="main-section">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex flex-wrap justify-content-around">
          <div
            class="card m-2"
            style="width: 18rem"
            *ngFor="let web of webinars"
          >
            <iframe
              [src]="getembedurl(web.videourl)"
              frameborder="0 "
              allowfullscreen
              style="height: 250px; width: auto"
            >
            </iframe>
          </div>
        </div>
        <!-- <div class="col-6">
                  <h3 class="mb-3">Carousel cards title </h3>
              </div>
              <div class="col-6 text-right">
                  <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                      <i class="fa fa-arrow-left"></i>
                  </a>
                  <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                      <i class="fa fa-arrow-right"></i>
                  </a>
              </div>
              <div class="col-12">
                  <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                      <div class="carousel-inner">
                          <div class="carousel-item active">
                              <div class="row">
                                  <div class="col-md-4 mb-3" *ngFor="let web of webinars">
                                      <div class="card">
                                          <iframe [src]="getembedurl(web.videourl)" frameborder="0" allowfullscreen style="height:250px; width:auto">
                                                  </iframe>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="row"></div>
                          </div>
                      </div>
                  </div>
              </div> -->
      </div>
    </div>
  </section>
</main>
