@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
.policy {
    margin: 5rem 0;
}

.policy-content {
    font-weight: bold;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;
}