<section class="policy">
    <div class="container">
        <h1 class="text-center">PRIVACY POLICY AND DATA PROTECTION</h1>
        <div class="row mt-5">
            <p class="policy-content">
                Webicoun India will use personal information which we hold about you to provide our services and products to you, for credit control and market research purposes and to inform you about our services and products or events which we believe may be of interest
                to you.<br><br> We may only share your information with staff or other specialist networks with the sole purpose of completing your order or transaction. Except in the situations listed above or as required or allowed by
                law or other regulation, we will not pass, disclose, rent or sell your personal information (other than any personal information which is already publicly available) to any third party without your prior consent.<br> <br>We make every
                effort to ensure the security of our systems. Unfortunately, no data transference or storage can be guaranteed to be 100% secure. As a result, while we strive to protect your personal information after we’ve received it, we cannot ensure
                or guarantee the security of the information.
            </p>
        </div>
    </div>
</section>