<!-- <main style="margin-top: 6rem">

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center"></h3>

                <div class="card mb-3 p-3">

                    <img class="img-fluid card-img-top" id="pic-1" [src]="expert.image" alt="Card image cap">

                
                    <div class="card-body">

                        <h4 class="card-title">
                            <a>{{ expert.firstName }} {{ expert.lastName }}</a>
                        </h4>
                        <p class="font-weight-bold text-uppercase ">
                            {{ expert.category }}
                        </p>
                        <h6 class="text-black-50">
                            Exp-3 Years
                        </h6>
                        <p class="card-text">{{expert.description}}
                        </p>
                        <a href="#" class="btn btn-primary">Button</a>

                    </div>

                </div>
                </div>
            <div class="col-md-6 ">
                <h3 class="text-center">Sessions Provided:</h3>
                <div class="d-flex flex-wrap justify-content-center flex-row">
                    <div class="card mb-2 mr-4" style="width: 21rem; padding: 1em" *ngFor="let product of expert.products">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">{{ product.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                            <p class="card-text">
                                {{ product.description }}
                            </p>

                           
                        </div>
                    </div>
                  

                </div>



            </div>
        </div>
        <div class="card ">
            <div class="container-fliud ">
                <div class="wrapper row ">
                    <div class="preview col-md-6 ">
                        <div class="preview-pic tab-content ">
                            <div class="tab-pane active " id="pic-1 ">
                                <img [src]="expert.image " />
                            </div>

                        </div>
                    </div>
                    <div class="details col-md-6 ">
                        <h3 class="product-title ">
                            {{ expert.firstName }} {{ expert.lastName }}
                        </h3>
                        <div class="rating ">
                            <div class="stars ">
                                <span class="fa fa-star checked "></span>
                                <span class="fa fa-star checked "></span>
                                <span class="fa fa-star checked "></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                            </div>
                        </div>
                        <h3>About {{ expert.firstName }} :</h3>
                        <p class="product-description ">
                            {{ expert.description }}
                        </p>

                    </div>
                    <div class="row ">
                        <button type="button " style="border-radius: 40px " class="btn btn-success ">
             
            </button>
                    </div>
                </div>
            </div>
        </div>






        <div class="row ">
            <div class="card mb-2 " style="width: 18rem; padding: 1em " *ngFor="let product of expert.products ">
                <div class="card-body ">
                    <h5 class="card-title ">{{ product.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted "></h6>
                    <p class="card-text ">
                        {{ product.description }}
                    </p>

                </div>
            </div>
        </div>
    </div>
</main> -->

<main class="mt-5 p-4">
    <div class="row d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <img [src]="expert.image" alt="" />
        </div>
        <div class="d-flex flex-column font-weight-bold bd-highlight mb-3 mt-2 ml-5">
            <div class="p-2 bd-highlight" style="font-size: 35px">
                {{ expert.firstName }} {{ expert.lastName }}
            </div>
            <div class="p-2 bd-highlight" style="font-size: 20px">
                {{ expert.category }}
            </div>
            <div class="p-2 bd-highlight text-black-50" style="font-size: 17px">
                Experience
            </div>
        </div>
    </div>
    <button class="btn btn-primary" (click)="contact()">Contact</button>

    <div class="row p-3 mt-2">
        <p>
            {{ expert.description }}
        </p>
    </div>
    <div id="intro" class="d-flex flex-column bd-highlight mb-3 mt-2 ml-1">
        <div class="card mb-2 mt-2" *ngFor="let product of expert.products" style="width: 100%">
            <div class="card-header text-uppercase">
                {{ product.title }}
            </div>
            <div class="d-flex flex-row card-body justify-content-between align-items-center">
                <div class="" style="flex: 0.7">
                    <p>
                        {{ product.description }}
                    </p>
                    <p>Number of sessions : {{ product.sessions }}</p>
                    <p>Platform: {{ product.platform }}</p>
                </div>

                <div class="" style="flex: 0.25">
                    <p>Price :{{ product.price }}</p>
                    <a class="btn btn-info" (click)="pay(product)">Pay&nbsp;now</a>
                </div>
            </div>
        </div>
    </div>
</main>